ul.list_ok li:before {
    color: #fc4912 !important;
}

a {
    color: #2d2f33 !important;
    font-size: 0.875rem !important;
    font-family: "Poppins", Helvetica, sans-serif !important;
}

.group-selector-container {
    margin-top: 0.5%;
    margin-bottom: 3%;
}

#select-groups {
    display: block;
    width: 100%;
    padding: 1%;
    border-radius: 15px;
    -webkit-appearance: none;
    font-size: 1.1em;
    font-style: italic;
}

    #select-groups:focus {
        border: none;
    }

.course-summary-list {
    font-size: 110%;
}

    .course-summary-list li i {
        color: #fc4912;
    }

.box_detail {
    padding: 0.5%;
}

#bottom-details {
    position: fixed;
    bottom: 0;
    height: 10%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    width: 100%;
    border-top: 1px solid black;
    box-shadow: 2px 2px black;
    background-color: white;
}
