ul.list_ok li:before {
    color: #fc4912 !important;
}

a {
    color: #2d2f33 !important;
    font-size: 0.875rem !important;
    font-family: "Poppins", Helvetica, sans-serif !important;
}

#custom-search-input .search-query {
    height: 29px !important;
    border-radius: 46px !important;
    margin: 0 -35px !important;
    padding-right: 130px !important;
    border: 2px solid #2d2f33 !important;
}

.group-selector-container {
    margin-top: 0.5%;
    margin-bottom: 3%;
}

#select-groups {
    display: block;
    width: 100%;
    padding: 1%;
    border-radius: 15px;
    -webkit-appearance: none;
}

    #select-groups:active {
        display: block;
        width: 100%;
        padding: 1%;
        border-radius: 15px;
        -webkit-appearance: none;
    }

    #select-groups:focus {
        border: none;
    }

.course-summary-list {
    font-size: 110%;
}

    .course-summary-list li i {
        color: #fc4912;
    }
