@media(max-width: 767px) {
    ul.list_ok li:before {
        color: #fc4912 !important;
    }

    a {
        color: #2d2f33 !important;
        font-size: 0.875rem !important;
        font-family: "Poppins", Helvetica, sans-serif !important;
    }

    search-query_mobile {
        height: 29px !important;
        border-radius: 46px !important;
        margin: 0 -35px !important;
        padding-right: 130px !important;
        border: 2px solid #2d2f33 !important;
    }

    #custom-search-input {
        height: 29px !important;
        /*width: fit-content !important;*/
        border-radius: 46px !important;
        margin: 0 -35px !important;
        padding-right: 130px;
        border: 2px solid #2d2f33;
        display: contents;
    }

        #custom-search-input input[type='submit'] {
            border-radius: 33px !important;
            right: -23px !important;
            height: 12px !important;
            margin-top: 12px !important;
            margin-right: -36px;
        }

        #custom-search-input .search-query {
            height: 29px !important;
            border-radius: 46px !important;
            margin: 5px -35px 5px 5px !important;
            padding-right: 130px !important;
            border: 2px solid #2d2f33 !important;
        }

    .rounded {
        border-radius: .25rem !important;
        margin-bottom: -38px !important;
    }

    .h2, h2 {
        font-size: 1rem;
    }

    body {
        background: #f8f8f8;
        font-size: 0.875rem;
        /* line-height: 1.6; */
        font-family: "Poppins", Helvetica, sans-serif;
        color: #555;
    }
}
