@model NitelikliBilisim.Core.ViewModels.SearchResultsGetVm
@{
    ViewData["Title"] = "Aram Sonuçları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="hero_in" class="courses">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Online courses</h1>
            </div>
        </div>
    </section>

    <input type="hidden" value="@Model.SearchText" id="_search-text" />
    <input type="hidden" value="0" id="_page" />

    <div class="filters_listing sticky_horizontal">
        <div class="container">
            <ul class="clearfix">
                <li>
                    <div class="switch-field">
                        <input type="radio" id="all" name="listing_filter" value="all" checked>
                        <label for="all">All</label>
                        <input type="radio" id="popular" name="listing_filter" value="popular">
                        <label for="popular">Popular</label>
                        <input type="radio" id="latest" name="listing_filter" value="latest">
                        <label for="latest">Latest</label>
                    </div>
                </li>
                <li>
                    <div class="layout_view">
                        <a role="button"><i class="icon-th"></i></a>
                        <a role="button" class="active"><i class="icon-th-list"></i></a>
                    </div>
                </li>
                <li style="min-width: 150px;">
                    <select name="orderby" class="selectbox">
                        @foreach (var item in Model.OrderCriterias)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /filters -->

    <div class="container margin_60_35" id="div-education-container">

    </div>

    <partial name="partials/search/_SearchResultsPreFooter" />

</main>

@section postScripts{
    <script>
        /* fields */
        var _searchText = $("#_search-text");
        var _page = $("#_page");
        var btnLoadMoreText = `<p class="text-center add_top_60" id="p-btn-container"><button id="btn-load-more" class="btn_1">Daha Fazla Yükle</button></p>`;

        /* elements */
        var divEducationContainer = $("#div-education-container");
        //var btnLoadMore = $("#btn-load-more");

        /* assignments */
        $(document).ready(document_onLoad);
        //btnLoadMore.on("click", btnLoadMore_onClick);

        /* events */
        function document_onLoad() {
            getSearchResults(false);
        }
        function btnLoadMore_onClick() {
            getSearchResults(true);
        }

        /* functions */
        function getSearchResults(isLoadMore) {
            var pBtnContainer = document.getElementById("p-btn-container");
            if (pBtnContainer)
                pBtnContainer.remove();

            $.ajax({
                url: `/search-for-courses/${_searchText.val()}/page/${_page.val()}`,
                method: "get",
                success: (res) => {
                    if (res.data.length != 0) {
                        var boxes = prepareCourseBoxesAsList(res.data);
                        divEducationContainer.append(boxes);

                        if (res.data.length > 4) {
                            divEducationContainer.append(btnLoadMoreText);
                            var btnLoadMore = $("#btn-load-more");
                            btnLoadMore.on("click", btnLoadMore_onClick);
                        }
                    } else {
                        if (!isLoadMore) {
                            divEducationContainer.html("");
                            divEducationContainer.append(`<div class="alert alert-info">Ne yazık ki gösterilecek sonuç yok</h3>`);
                        }
                    }

                    _page.val(parseInt(_page.val()) + 1);
                }
            });
        }
        function prepareCourseBoxesAsGrid(data) {
            var boxes = `<div class="row">`;
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                boxes += 
                    `<div class="col-xl-4 col-lg-6 col-md-6">` +
                    `<div class="box_grid wow">` +
                    `<figure class="block-reveal">` +
                    `<div class="block-horizzontal"></div>` +
                    `<a href="#0" class="wish_bt"></a>` +

                    `<a href="course-detail.html"><img src="${item.medias[0].fileUrl}" class="img-fluid" alt=""></a>` +

                    `<div class="price">${item.base.priceText}</div>` +
                    `<div class="preview"><span>Preview course</span></div>` +
                    `</figure>` +

                    `<div class="wrapper">` +
                    `<small>${item.base.categoryName}</small>` +
                    `<h3>${item.base.name}</h3>` +
                    `<p>${item.base.description}</p>` +
                    `<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>` +
                    `</div>` +

                    `<ul>` +
                    `<li><i class="icon_clock_alt"></i> ${item.base.daysText} gün (${item.base.hoursPerDayText}) saat</li>` +
                    `<li><i class="icon_like"></i> 890</li>` +
                    `<li><a href="course-detail.html">Enroll now</a></li>` +
                    `</ul>` +
                    `</div>` +
                    `</div>`;
            }
            boxes += "</div>";

            return boxes;
        }
        function prepareCourseBoxesAsList(data) {
            var boxes = "";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                boxes += `<div class="box_list wow">` +
                    `<div class="row no-gutters">` +
                    `<div class="col-lg-5">` +
                    `<figure class="block-reveal">` +
                    `<div class="block-horizzontal"></div>` +

                    `<a href="course-detail.html"><img src="${item.medias[0].fileUrl}" class="img-fluid" alt=""></a>` +

                    `<div class="preview"><span>Detaylar</span></div>` +
                    `</figure>` +
                    `</div>` +
                    `<div class="col-lg-7">` +
                    `<div class="wrapper">` +
                    `<a href="#0" class="wish_bt"></a>` +

                    `<div class="price">${item.base.priceText}</div>` +

                    `<small>${item.base.categoryName}</small>` +
                    `<h3>${item.base.name}</h3>` +
                    `<p>${item.base.description}</p>` +
                    `<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>` +
                    `</div>` +

                    `<ul>` +
                    `<li><i class="icon_clock_alt"></i> ${item.base.daysText} gün (${item.base.hoursPerDayText}) saat</li>` +
                    `<li><i class="icon_like"></i> 890</li>` +
                    `<li><a href="course-detail.html">Kayıt Ol</a></li>` +
                    `</ul>` +
                    `</div>` +
                    `</div>` +
                    `</div>`;
            }

            return boxes;
        }
    </script>
}