@model NitelikliBilisim.Core.ViewModels.SearchResultsGetVm
@{
    ViewData["Title"] = "Arama Sonuçları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/css/grey.css" rel="stylesheet">
    <style>
        a [role="button"] {
            cursor: pointer;
        }
    </style>
}
<main>
    <section id="hero_in" class="courses">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Online courses</h1>
            </div>
        </div>
    </section>

    <input type="hidden" value="@Model.SearchText" id="_search-text" />
    <input type="hidden" value="0" id="_page" />
    <input type="hidden" value="@Model.ShowAs" id="_show-as" />

    <div class="filters_listing sticky_horizontal">
        <div class="container">
            <ul class="clearfix">
                <li>
                    <div class="switch-field">
                        <input type="radio" id="all" name="listing_filter" value="all" checked>
                        <label for="all">All</label>
                        <input type="radio" id="popular" name="listing_filter" value="popular">
                        <label for="popular">Popular</label>
                        <input type="radio" id="latest" name="listing_filter" value="latest">
                        <label for="latest">Latest</label>
                    </div>
                </li>
                <li>
                    <div class="layout_view">
                        @if (Model.ShowAs == "grid")
                        {
                            <a role="button" class="active" id="btn-show-as-grid"><i class="icon-th"></i></a>
                            <a role="button" id="btn-show-as-list"><i class="icon-th-list"></i></a>
                        }
                        else
                        {
                            <a role="button" id="btn-show-as-grid"><i class="icon-th"></i></a>
                            <a role="button" class="active" id="btn-show-as-list"><i class="icon-th-list"></i></a>
                        }
                    </div>
                </li>
                <li style="min-width: 150px;">
                    <select name="orderby" class="selectbox">
                        @foreach (var item in Model.OrderCriterias)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </li>
            </ul>
        </div>
    </div>

    <div class="container margin_60_35">
        <div class="row" style="transform: none;">
            <aside class="col-lg-3" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 83px;">
                    <div id="filters_col">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filtreleme </a>
                        <div class="collapse show" id="collapseFilters">
                            <div class="filter_type">
                                <h6>Kategori</h6>
                                <ul id="category-list"></ul>
                            </div>
                            <div class="filter_type">
                                <h6>Değerlendirme</h6>
                                <ul id="rating-list">
                                    <li>
                                        <label class="">
                                            <div class="icheckbox_square-grey" style="position: relative;"><input name="filter" type="checkbox" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                            <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <small>(145)</small></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="">
                                            <div class="icheckbox_square-grey" style="position: relative;"><input name="filter" type="checkbox" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                            <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(25)</small></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="">
                                            <div class="icheckbox_square-grey" style="position: relative;"><input name="filter" type="checkbox" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                            <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(68)</small></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="">
                                            <div class="icheckbox_square-grey" style="position: relative;"><input name="filter" type="checkbox" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                            <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(34)</small></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="">
                                            <div class="icheckbox_square-grey" style="position: relative;"><input name="filter" type="checkbox" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                            <span class="rating"><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(10)</small></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 250px; height: 1998px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
                </div>
            </aside>
            <div class="col-lg-9" id="div-education-container">
                @if (Model.ShowAs == "grid")
                {
                    <div class="row" id="div-education-container-row">

                    </div>
                }
            </div>
        </div>
    </div>

    <partial name="partials/search/_SearchResultsPreFooter" />

</main>

@section postScripts{
    <script>
        /* fields */
        var _searchText = $("#_search-text");
        var _page = $("#_page");
        var _showAs = $("#_show-as");

        /* elements */
        var divEducationContainer = $("#div-education-container");
        var divEducationContainerRow = $("#div-education-container-row");
        var btnLoadMoreText = `<p class="text-center add_top_60" id="p-btn-container"><button id="btn-load-more" class="btn_1">Daha Fazla Yükle</button></p>`;
        var btnShowAsGrid = $("#btn-show-as-grid");
        var btnShowAsList = $("#btn-show-as-list");

        /* assignments */
        $(document).ready(document_onLoad);
        btnShowAsGrid.on("click", btnShowAsGrid_onClick);
        btnShowAsList.on("click", btnShowAsList_onClick);

        /* events */
        function document_onLoad() {
            getSearchResults(false);
            prepareFilterBox();
        }
        function btnLoadMore_onClick() {
            getSearchResults(true);
        }
        function btnShowAsGrid_onClick() {
            location.href = `/arama-sonuclari/${_searchText.val()}?showAs=grid`;
        }
        function btnShowAsList_onClick() {
            location.href = `/arama-sonuclari/${_searchText.val()}?showAs=list`;
        }
        function filterOptions_onClick() {
            getFilteredResults();
        }

        /* functions */
        function getSearchResults(isLoadMore, filter) {
            var pBtnContainer = document.getElementById("p-btn-container");
            if (pBtnContainer)
                pBtnContainer.remove();

            if (filter != null && !isLoadMore)
                _page.val(0);

            $.ajax({
                url: `/search-for-courses`,
                method: "post",
                data: {
                    searchText: _searchText.val(),
                    page: _page.val(),
                    filter: filter
                },
                success: (res) => {
                    var data = res.data.model;
                    var showAs = _showAs.val();

                    if (res.data.model.length != 0) {
                        if (showAs === "grid") {
                            var boxes = prepareCourseBoxesAsGrid(data);
                            divEducationContainerRow.append(boxes);
                        } else {
                            var boxes = prepareCourseBoxesAsList(data);
                            divEducationContainer.append(boxes);
                        }

                        if (data.length > 4) {
                            divEducationContainer.append(btnLoadMoreText);
                            var btnLoadMore = $("#btn-load-more");
                            btnLoadMore.on("click", btnLoadMore_onClick);
                        }
                    } else {
                        if (!isLoadMore) {
                            divEducationContainer.html("");
                            divEducationContainer.append(`<div class="alert alert-info">Ne yazık ki gösterilecek sonuç yok</div>`);
                        }
                    }

                    _page.val(parseInt(_page.val()) + 1);
                }
            });
        }
        function getFilteredResults() {
            var filterOptions = {
                categories: [],
                ratings: []
            };

            $.each($("input[name='filter']:checked"), function(){
                filterOptions.categories.push($(this).val());
            });

            divEducationContainerRow.html("");

            getSearchResults(false, filterOptions)
        }
        function prepareCourseBoxesAsGrid(data) {
            var boxes = "";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                boxes +=
                    `<div class="col-xl-4 col-lg-6 col-md-6">` +
                    `<div class="box_grid wow">` +
                    `<figure class="block-reveal">` +
                    `<div class="block-horizzontal"></div>` +
                    `<a href="#0" class="wish_bt"></a>` +

                    `<a href="/kurs-detayi/${item.base.id}"><img src="${item.medias[0].fileUrl}" class="img-fluid" alt=""></a>` +

                    `<div class="price">${item.base.priceText}</div>` +
                    `<div class="preview"><span><a href="/kurs-detayi/${item.base.id}">Detaylar</a></span></div>` +
                    `</figure>` +

                    `<div class="wrapper">` +
                    `<small>${item.base.categoryName}</small>` +
                    `<h3>${item.base.name}</h3>` +
                    `<p>${item.base.description}</p>` +
                    `<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>` +
                    `</div>` +

                    `<ul>` +
                    `<li><i class="icon_clock_alt"></i> ${item.base.daysText} gün (${item.base.hoursPerDayNumeric * item.base.daysNumeric} saat)</li>` +
                    `<li><i class="icon_like"></i> 890</li>` +
                    `<li><a href="course-detail.html">Kayıt Ol</a></li>` +
                    `</ul>` +
                    `</div>` +
                    `</div>`;
            }

            return boxes;
        }
        function prepareCourseBoxesAsList(data) {
            var boxes = "";
            for (var i = 0; i < data.length; i++) {
                boxes += `<div class="box_list wow">` +
                    `<div class="row no-gutters">` +
                    `<div class="col-lg-5">` +
                    `<figure class="block-reveal">` +
                    `<div class="block-horizzontal"></div>` +

                    `<a href="/kurs-detayi/${item.base.id}"><img src="${item.medias[0].fileUrl}" class="img-fluid" alt=""></a>` +

                    `<div class="preview"><span><a href="/kurs-detayi/${item.base.id}">Detaylar</a></span></div>` +
                    `</figure>` +
                    `</div>` +
                    `<div class="col-lg-7">` +
                    `<div class="wrapper">` +
                    `<a href="#0" class="wish_bt"></a>` +

                    `<div class="price">${item.base.priceText}</div>` +

                    `<small>${item.base.categoryName}</small>` +
                    `<h3>${item.base.name}</h3>` +
                    `<p>${item.base.description}</p>` +
                    `<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>` +
                    `</div>` +

                    `<ul>` +
                    `<li><i class="icon_clock_alt"></i> ${item.base.daysText} gün (${item.base.hoursPerDayNumeric * item.base.daysNumeric} saat)</li>` +
                    `<li><i class="icon_like"></i> 890</li>` +
                    `<li><a href="course-detail.html">Kayıt Ol</a></li>` +
                    `</ul>` +
                    `</div>` +
                    `</div>` +
                    `</div>`;
            }

            return boxes;
        }
        function prepareFilterBox(chosen) {
            var categoryList = $("#category-list");

            $.ajax({
                url: `/get-searched-categories/`,
                method: "post",
                data: {
                    searchText: _searchText.val(),
                    chosen: chosen
                },
                success: (res) => {
                    categoryList.empty();

                    var data = res.data;

                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        categoryList.append(`
                            <li>
                                <label>
                                    <input type="checkbox" name="filter" value="${item.name}" class="icheck" style="position: absolute; opacity: 0;">
                                    ${item.name} <small>(${item.count})</small>
                                </label>
                            </li>
                        `);
                    }

                    $('.icheck').iCheck({
		                checkboxClass: 'icheckbox_square-grey',
		                radioClass: 'iradio_square-grey'
                    });

                    $('.icheck').on('ifToggled', function () {
                        getFilteredResults();
                    });
                }
            });
        }
    </script>
}