
@{
    ViewData["Title"] = "Eğitim Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/css/area-admin/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.common.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.light.css" rel="stylesheet" />

    <style>
        .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child {
            width: 44px !important;
        }

        .dx-datagrid .dx-column-lines > td {
            border-right: none;
            vertical-align: middle !important;
        }

        #education-grid {
            margin-top: -15px !important;
        }
    </style>
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Eğitimler
    </div>
    <div class="card-body">
        <div id="education-grid"></div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>
@section postScripts{
    <script src="~/assets/js/area-admin/jquery.dataTables.js"></script>
    <script src="~/assets/js/area-admin/dataTables.bootstrap4.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="~/vendor\devextreme\dist\js\dx.all.js"></script>
    <script src="~/vendor\devextreme-aspnet-data\js\dx.aspnet.data.js"></script>
    <script>
        /* fields */
        var confirmModalBuilder = new AlertSupport.ConfirmModalBuilder();

        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {
            createGrid();
        }

        /*DataGrid*/
        function createGrid() {
            $("#education-grid").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: "../../api/education/get-education-list"
                }),
                remoteOperations: {
                    paging: true,
                    filtering: true,
                    sorting: true,
                    grouping: true,
                    summary: true,
                    groupPaging: true
                },
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                wordWrapEnabled: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Ara..."
                },
                paging: {
                    pageSize: 10
                },
                onContentReady: function () {
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20],
                    showInfo: true
                },
                columns: [{
                    headerCellTemplate: $('<i style="padding:0; color: black; font-weight: bolder">#</i>'),
                    cellTemplate: function (container, options) {
                        var current = options.data;
                        if (current.isActive == true) {
                            $(`<a href="/admin/egitim-guncelle/${current.id}">
                                                                                            <i class=\"fa fa-unlock text-success\" style=\"font-size:200%;\"></i></a>`)
                                .appendTo(container);
                        }
                        else {
                            $(`<a href="/admin/egitim-guncelle/${current.id}">
                                                                                            <i class=\"fa fa-lock text-danger\" style=\"font-size:200%;\"></i></a>`)
                                .appendTo(container);
                        }
                    },
                    alignment: "center"
                }, {
                    dataField: "name",
                    headerCellTemplate: $('<b style="color: black; font-weight: bold">İsmi</b>'),
                    width: 250

                }, {
                    headerCellTemplate: $('<b style="color: black; font-weight: bold">Kategorisi</b>'),
                    dataField: "categoryName",
                    width: 250
                },
                {
                    cellTemplate: function (container, options) {
                        var current = options.data;
                        $(`<span>${current.days} gün / ${current.hoursPerDay} saat</span>`)
                            .appendTo(container);
                    },
                    headerCellTemplate: $('<i style="color: black; font-weight: bold">Gün / Saat</i>'),
                    width: 80
                }, {
                    dataField: "level",
                    headerCellTemplate: $('<i style="color: black; font-weight: bold">Seviye</i>'),
                    width: 60,
                    alignment: "center",
                    allowSorting: false,
                    allowSearch: false,
                    allowFiltering: false
                }, {
                    headerCellTemplate: $('<i style="vertical-align:middle; color: black; font-weight: bold">İşlem</i>'),
                    allowSearch: false,
                    cellTemplate: function (container, options) {
                        var current = options.data;
                        $(`<a title="Medya Yönetimi" class="btn btn-primary btn-sm btn-space" href="/admin/egitim-medya-yonetimi/${current.id}"><i class=\"fa fa-file-photo-o\"></i><span style="display: block"></span></a>`)
                            .appendTo(container);
                        $(`<a title="Parça Yönetimi" class="btn btn-secondary btn-sm" href="/admin/egitim-parca-yonetimi/${current.id}"><i class=\"fa fa-list-ul\"></i><span style="display: block"></span></a>`)
                            .appendTo(container);
                        $(`<a title="Neler Öğreneceksiniz?" class="btn btn-info btn-sm" href="/admin/egitim-kazanim-yonetimi/${current.id}"><i class=\"fa fa-gift\"></i><span style="display: block"></span></a>`)
                            .appendTo(container);
                        $(`<a title="Eğitmen Ata" class="btn btn-success btn-sm" href="/admin/egitmen-ata/${current.id}"><i class=\"fa fa-users\"></i><span style="display: block"></span></a>`)
                            .appendTo(container);
                    },
                    width: "auto",
                    alignment: "center"
                }
                ]
            });
        }
    </script>
}