
@{
    ViewData["Title"] = "Eğitim Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child {
            width: 44px !important;
        }

        .dx-datagrid .dx-column-lines > td {
            border-right: none;
            vertical-align: middle !important;
        }

        #education-grid {
            margin-top: -15px !important;
        }
    </style>
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Eğitimler
        <a href="@Url.Action("Add", "Education")" class="btn btn-sm btn-outline-primary pull-right"> Ekle</a>
    </div>
    <div class="card-body">
        <div id="education-grid"></div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>
@section postScripts{
    <script>
        /* fields */
        var confirmModalBuilder = new AlertSupport.ConfirmModalBuilder();
        var resultAlert = new AlertSupport.ResultAlert();
        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {
            createGrid();
        }

        /*DataGrid*/
        function createGrid() {
            $("#education-grid").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: "../../api/education/get-education-list"
                }),
                remoteOperations: {
                    paging: true,
                    filtering: true,
                    sorting: true,
                    grouping: true,
                    summary: true,
                    groupPaging: true
                },
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                wordWrapEnabled: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240
                },
                paging: {
                    pageSize: 10
                },
                onContentReady: function () {
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20],
                    showInfo: true
                },
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Eğitim Listesi');
                    DevExpress.excelExporter.exportDataGrid({
                        worksheet: worksheet,
                        component: e.component,
                        customizeCell: function (options) {
                            var excelCell = options;
                            excelCell.font = { name: 'Arial', size: 12 };
                            excelCell.alignment = { horizontal: 'left' };
                        }
                    }).then(function () {
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Eğitim Listesi' + parseInt(Math.random() * 1000000000) + '.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                export: {
                    enabled: true
                },
                headerFilter: {
                    visible: true
                },
                grouping: {
                    autoExpandAll: true
                },
                groupPanel: {
                    visible: true
                },
                columns: [
                    {
                        caption: "",
                        cellTemplate: function (container, options) {
                            var current = options.data;
                            if (current.isActive == true) {
                                $(`<a href="/admin/egitim-guncelle/${current.id}">
                                                                                                    <i class=\"fa fa-unlock text-success\" style=\"font-size:200%;\"></i></a>`)
                                    .appendTo(container);
                            }
                            else {
                                $(`<a href="/admin/egitim-guncelle/${current.id}">
                                                                                                    <i class=\"fa fa-lock text-danger\" style=\"font-size:200%;\"></i></a>`)
                                    .appendTo(container);
                            }
                        },
                        alignment: "center"
                    },
                    {
                        dataField: "createdDate",
                        visible: false,
                        sortOrder:"desc"
                    },
                    {
                        dataField: "name",
                        caption: "Eğitim Adı",
                        width: 250

                    }, {
                        caption: "Kategori",
                        dataField: "categoryName",
                        width: 200
                    },
                    
                    {
                        caption: "Gün",
                        dataField: "days",
                        width: 80
                    },
                    {
                        caption: "Saat",
                        dataField: "hoursPerDay",
                        width: 80
                    },
                    {
                        caption: "Seviye",
                        dataField: "level",
                        lookup: {
                            dataSource: {
                                store: DevExpress.data.AspNet.createStore({
                                    key: "key",
                                    loadUrl: "../../api/education/get-levels"
                                })
                            },
                            displayExpr: "value",
                            valueExpr: "key"
                        },
                        width: 120
                    },
                    {
                        caption: "İşlem",
                        allowSearch: false,
                        cellTemplate: function (container, options) {
                            var current = options.data;
                            console.log(current);
                            if (current.isFeaturedEducation) {
                                $(`<a title="Öne Çıkar" class="btn btn-outline-warning btn-sm" onClick="setFeaturedStatus('${current.id}')"><i class="fa fa-thumbs-down"></i><span style="display: block"></span></a>`)
                                    .appendTo(container);
                            } else {
                                $(`<a title="Öne Çıkar" class="btn btn-outline-success btn-sm" onClick="setFeaturedStatus('${current.id}')"><i class="fa fa-thumbs-up"}"></i><span style="display: block"></span></a>`)
                                    .appendTo(container);
                            }
                            
                            $(`<a title="Öneri Yönetimi" class="btn btn-warning btn-sm" href="/admin/egitim-oneri-kriteri-yonetimi?educationId=${current.id}"><i class=\"fa fa-lightbulb-o\"></i><span style="display: block"></span></a>`)
                                .appendTo(container);
                            $(`<a title="Medya Yönetimi" class="btn btn-primary btn-sm" href="/admin/egitim-medya-yonetimi/${current.id}"><i class=\"fa fa-file-photo-o\"></i><span style="display: block"></span></a>`)
                                .appendTo(container);
                            $(`<a title="Dersler" class="btn btn-secondary btn-sm" href="/admin/egitim-parca-yonetimi/${current.id}"><i class=\"fa fa-list-ul\"></i><span style="display: block"></span></a>`)
                                .appendTo(container);
                            $(`<a title="Neler Öğreneceksiniz?" class="btn btn-info btn-sm" href="/admin/egitim-kazanim-yonetimi/${current.id}"><i class=\"fa fa-gift\"></i><span style="display: block"></span></a>`)
                                .appendTo(container);
                            $(`<a title="Eğitmen Ata" class="btn btn-success btn-sm" href="/admin/egitmen-ata/${current.id}"><i class=\"fa fa-users\"></i><span style="display: block"></span></a>`)
                                .appendTo(container);
                        },
                        width: "auto",
                        alignment: "center"
                    }
                ]
            });
        }


        function setFeaturedStatus(id) {
            var resultAlert = new AlertSupport.ResultAlert();
            $.ajax({
                url: `/admin/egitim-one-cikar?educationId=${id}`,
                method: "get",
                success: (res) => {
                    if (res.isSuccess) {
                        resultAlert.display({
                            success: true,
                            message: "Durum güncellendi.",
                        });
                        $("#education-grid").dxDataGrid("instance").refresh();
                    } else {
                        resultAlert.display({
                            success: false,
                            errors: res.errors,
                            message: "İşlem başarısız"
                        });
                    }
                }
            });
        }
    </script>
}