
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subheader subheader--fullbg">
    <div class="subheader__wrp">
        <div class="container">
            <div class="subheader__cnt">
                <div class="subheader__txt-cnt">
                    <div class="subheader__title">Bize Ulaşın</div>
                    <div class="subheader__txt">
                        Tüm sorularınız için sıkça sorulan sorular sayfamızı inceleyebilir, ya da bize
                        aşağıdaki
                        iletişim formu üzerinden iletişime geçebilirsiniz.
                    </div>
                    <a asp-controller="Home" asp-action="FrequentlyAskedQuestions" class="button subheader__button">
                        <span class="button-icon">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-quest-book"></use>
                                </svg>
                            </span>
                        </span>
                        <span class="button-txt">
                            Sıkça Sorulan Sorular
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="subheader__img">
        <img src="~/assets/img/subheader-contact.jpg" alt="">
    </div>
</div>
<section class="contact">
    <div class="container">
        <div class="contact__items">
            <div class="contact__item">
                <div class="contact__item-icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-map-st-pin"></use>
                        </svg>
                    </span>
                </div>
                <div class="contact__item-title">
                    MERKEZ <span class="colored-blue">OFİS</span>
                </div>
                <div class="contact__item-txt">
                    Balbaros Buları Yıldız İş Hanı No:9 <br>Kat:3 Beşiktaş İstanbul
                </div>
                <div class="contact__item-btn">
                    <a href="https://goo.gl/maps/eAmdD4NP65jn7KPr9" target="_blank" class="button button--simple go-map">
                        <span class="button-txt">
                            Yol Tarifi Al
                        </span>
                        <span class="button-icon">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                </svg>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="contact__item">
                <div class="contact__item-icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-phone"></use>
                        </svg>
                    </span>
                </div>
                <div class="contact__item-title">
                    TELEFON <span class="colored-blue">NUMARASI</span>
                </div>
                <div class="contact__item-txt">
                    Pazartesi’nden Cuma’ya<br>9:00 - 18:00 arası
                </div>
                <div class="contact__item-btn">
                    <a href="tel:02123212121" class="button button--simple">
                        <span class="button-txt">
                            +90 (212) 321 21 21
                        </span>
                    </a>
                </div>
            </div>
            <div class="contact__item">
                <div class="contact__item-icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-mail"></use>
                        </svg>
                    </span>
                </div>
                <div class="contact__item-title">
                    MAİL <span class="colored-blue">ADRESİ</span>
                </div>
                <div class="contact__item-txt">
                    En kısa sürede cevap <br>
                    veriyoruz!
                </div>
                <div class="contact__item-btn">
                    <a href="mailto:info@niteliklibilisim.com.tr" class="button button--simple">
                        <span class="button-txt">
                            info@niteliklibilisim.com.tr
                        </span>
                        <span class="button-icon">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                </svg>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact__wrp">
        <div class="container">
            <div class="contact__left">
                <div class="title title-section mb-4">
                    BİZE
                    <span class="title--blue">ULAŞIN</span>
                </div>
                <div class="contact__txt">
                    Kurs başlangıcından sertifika almaya kadar her adımda yanınızdayız.
                </div>
            </div>
            <div class="contact__right">
                <form class="contact__form" id="contact-form"
                      action="/iletisim-formu"
                      data-ajax-success="onAjaxSuccess"
                      data-ajax-failure="onAjaxFailed"
                      data-ajax="true" data-ajax-method="POST">
                    @Html.AntiForgeryToken()
                    <div class="input__column-2">
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                                </svg>
                            </span>
                            <input name="Name" type="text" class="input input--fw" placeholder="Adınız Soyadınız" required>
                        </div>
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-mail"></use>
                                </svg>
                            </span>
                            <input type="email" name="Email" class="input input--fw" placeholder="E-mail Adresiniz" required>
                        </div>
                    </div>
                    <div class="input__column-2">
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-phone"></use>
                                </svg>
                            </span>
                            <input type="text" name="Phone" id="inputPhoneNumber" class="input input--fw inputPhoneNumber"
                                   placeholder="___-__-__">
                        </div>
                        <div class="input__outer">
                            <div class="select-subject">
                                <select class="js-subject-select" name="ContactFormSubject">
                                    <option value="" selected hidden disabled>Konu Seçiniz</option>
                                    @foreach (var subject in (Dictionary<int, string>)ViewData["ContactFormSubjects"])
                                    {
                                        <option value="@subject.Key">@subject.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input__outer input--textarea">
                        <span class="icon-outer input__icon">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-speak-balloon"></use>
                            </svg>
                        </span>
                        <textarea name="Content" class="input input--fw" placeholder="Mesajınızı buraya yazın"></textarea>
                    </div>
                    <div class="form__button">
                        <button type="submit" class="button">
                            <span class="button-txt">
                                Gönder
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal modal--message success" id="modalSuccessMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-success"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title">Teşekkürler!</div>
                <div class="side-subscribe__txt">
                    Talebiniz başarılı bir şekilde iletilmiştir.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal--message wrong" id="modalWrongMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-wrong"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title ">Başarısız!</div>
                <div class="side-subscribe__txt">
                    Talebiniz iletilememiştir.
                </div>
            </div>
        </div>
    </div>
</div>


@section postScripts{
    <script>
        var onAjaxSuccess = function (context) {
            if (context.success) {
                showModal('modalSuccessMessage');
            } else {
                showModal('modalWrongMessage');
            }
            $('.contact__form')[0].reset();
        };
        var onAjaxFailed = function () {
            showModal('modalWrongMessage');
        }
        function showModal(id) {
            $('html, body').addClass('no-scroll');
            $('.main-overlay').addClass('active');
            $('.modal[id="' + id + '"]').addClass('modal--active');
            $('.js-open-mobile-menu').removeClass('active');
            $('.js-open-mobile-menu')
                .closest('.header-mobile')
                .removeClass('active');
            $('html,body').removeClass('scroll-lock');
        }
        $('#contact-form').validate({
            errorLabelContainer: $('#contact-form div.error'),
            errorContainer: 'div.error-messages',
            errorLabelContainer: $('ul', 'div.error-messages'),
            wrapper: 'li',
            rules: {
                Name: {
                    required: true,
                },
                Email: {
                    required: true,
                    email: true,
                },
                PhoneCode: {
                    required: true,
                },
                Phone: {
                    required: true,
                },
                ContactFormSubject: {
                    required: true,
                },
                Content: {
                    required: true,
                }
            },
            messages: {
                Name: 'Bu alan zorunludur.',
                Email: {
                    required: 'Bu alan zorunludur.',
                    email: 'Lütfen geçerli bir e-posta adresi giriniz.',
                },
                PhoneCode: 'Bu alan zorunludur.',
                Phone: 'Bu alan zorunludur.',
                ContactFormSubject: 'Bu alan zorunludur.',
                Content: 'Bu alan zorunludur.'
            },
            highlight: function (element) {
                $(element)
                    .parent()
                    .addClass('outer-error');
            },
            unhighlight: function (element) {
                $(element)
                    .parent()
                    .removeClass('outer-error');
            },
        });

    </script>

}