
@{
    ViewData["Title"] = "Kurumsal Üyelik Talebi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subheader">
    <div class="subheader__wrp">
        <div class="container">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">
                    Anasayfa
                </a>
                <a href="#0" class="breadcrumb__item active">
                    Kurumsal Üyelik Talebi
                </a>
            </div>
            <div class="subheader__cnt">
                <div class="subheader__txt-cnt">
                    <div class="subheader__title">Kurumsal Üyelik Talebi</div>
                    <div class="subheader__txt">Talep Oluşturun</div>
                </div>
            </div>
        </div>
    </div>
    <div class="subheader__img">
        <img src="./assets/img/subheader-img.jpg" alt="">
    </div>
</div>
<section class="contact">
    <div class="corporate__wrp">
        <div class="container">
            <div class="corporate__w80">
                <div class="contact__left">
                    <div class="title title-section mb-4">
                        TALEP
                        <span class="title--blue">FORMU</span>
                    </div>
                    <div class="contact__txt">
                        Kurs başlangıcından sertifika almaya kadar her adımda yanınızdayız.
                    </div>
                </div>
                <div class="contact__right">
                    <form class="contact__form" id="cma-form">
                        @Html.AntiForgeryToken()
                        <div class="input__column-2">
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="assets/img/icons.svg#icon-bag"></use>
                                    </svg>
                                </span>
                                <input name="CompanyName" id="input-company-name" type="text" class="input input--fw" placeholder="Şirket Adı" required>
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="assets/img/icons.svg#icon-user"></use>
                                    </svg>
                                </span>
                                <input type="text" name="UserName" id="input-user-name" class="input input--fw" placeholder="Adınız Soyadınız" required>
                            </div>
                        </div>
                        <div class="input__column-2">
                            <div class="input__outer input--phone">
                                <div class="select-phonecode">
                                    <select class="js-phonecode-select" id="select-phone-code">
                                        <option value="" selected hidden disabled>539</option>
                                        <option value="2">540</option>
                                        <option value="3">541</option>
                                        <option value="4">542</option>
                                        <option value="5">543</option>
                                    </select>
                                </div>
                                <input name="Phone" type="text" id="input-phone-number" class="input input--fw maskedInput"
                                       placeholder="___-__-__">
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="assets/img/icons.svg#icon-global"></use>
                                    </svg>
                                </span>
                                <input name="CompanySector" type="text" id="input-company-sector" class="input input--fw" placeholder="Firma Sektörü" required>
                            </div>
                        </div>
                        <div class="input__column-2">
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="assets/img/icons.svg#icon-chair"></use>
                                    </svg>
                                </span>
                                <input name="Department" type="text" id="input-department" class="input input--fw" placeholder="Departman" required>
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="assets/img/icons.svg#icon-users"></use>
                                    </svg>
                                </span>
                                <input name="NumberOfEmployees" type="number" id="input-employee-count" class="input input--fw" placeholder="Çalışan Sayısı"
                                       required>
                            </div>
                        </div>
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="assets/img/icons.svg#icon-map-pin"></use>
                                </svg>
                            </span>
                            <input name="Address" type="text" id="input-address" class="input input--fw" placeholder="Kurum Adresi" required>
                        </div>
                        <div class="input__outer input--textarea">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="assets/img/icons.svg#icon-speak-balloon"></use>
                                </svg>
                            </span>
                            <textarea name="RequestNote" id="input-request-note" class="input input--fw" placeholder="Talep Notu"></textarea>
                        </div>
                        <div class="form__button">
                            <button type="button" id="btn-send" class="button">
                                <span class="button-txt">
                                    Gönder
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="modal modal--message success" id="modalSuccessMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="assets/img/icons.svg#icon-success"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title">Teşekkürler!</div>
                <div class="side-subscribe__txt">
                    Talebiniz başarılı bir şekilde iletilmiştir.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal--message wrong" id="modalWrongMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="assets/img/icons.svg#icon-wrong"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title">Gönderim Başarısız!</div>
                <div class="side-subscribe__txt">
                    Talebiniz iletilememiştir.
                </div>
            </div>
        </div>
    </div>
</div>

@section postScripts{
    <script type="text/javascript">
        /* elements */
        var companyName = $("#input-company-name");
        var userName = $("#input-user-name");
        var phoneCode = $("#select-phone-code");
        var phoneNumber = $("#input-phone-number");
        var companySector = $("#input-company-sector");
        var department = $("#input-department");
        var address = $("#input-address");
        var employeeCount = $("#input-employee-count");
        var requestNote = $("#input-request-note");

        var btnSend = $("#btn-send");
        /* assignments */
        $(document).ready(document_onLoad);
        btnSend.on("click", btnSend_onClick);
        /* events */
        function document_onLoad() {
        }


        function btnSend_onClick() {
            btnSend.off("click");
            var tokenVerifier = new SecuritySupport.TokenVerifier();
            var data = tokenVerifier.addToken("cma-form", {
                CompanyName: companyName.val(),
                CompanySector: companySector.val(),
                NameSurname: userName.val(),
                Phone: phoneNumber.val(),
                Department: department.val(),
                Address: address.val(),
                NumberOfEmployees: employeeCount.val(),
                RequestNote: requestNote.val()
            });


            $.ajax({
                url: "/kurumsal-uyelik-basvurusu",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.success) {
                        $("#modalSuccessMessage").show();
                    } else {
                        $("#modalWrongMessage").show();
                    }
                },
                complete: () => { btnSend.on("click", btnSend_onClick); }
            });
        }


    </script>
} 