@model NitelikliBilisim.Core.ViewModels.Main.EducatorApplication.EducatorApplicationAddVm
@{
    ViewData["Title"] = "Eğitmen Başvurusu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subheader">
    <div class="subheader__wrp">
        <div class="container">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">
                    Anasayfa
                </a>
                <a href="#0" class="breadcrumb__item active">
                    Eğitmen Başvurusu
                </a>
            </div>
            <div class="subheader__cnt">
                <div class="subheader__txt-cnt">
                    <div class="subheader__title">Eğitmen Başvurusu</div>
                    <div class="subheader__txt">Talep Oluşturun</div>
                </div>
            </div>
        </div>
    </div>
    <div class="subheader__img">
        <img src="~/assets/img/subheader-img.jpg" alt="">
    </div>
</div>
<section class="contact">
    <div class="corporate__wrp">
        <div class="container">
            <div class="corporate__w80">
                <div class="contact__left">
                    <div class="title title-section mb-4">
                        EĞİTMEN BAŞVURU
                        <span class="title--blue">FORMU</span>
                    </div>
                    <div class="contact__txt">
                        Kurs başlangıcından sertifika almaya kadar her adımda yanınızdayız.
                    </div>
                </div>
                <div class="contact__right">
                    <form class="contact__form" id="educator-application-form"
                          asp-controller="Home" asp-action="EducatorApplication"
                          enctype="multipart/form-data"
                          data-ajax-success="onAjaxSuccess"
                          data-ajax-failure="onAjaxFailed"
                          data-ajax="true" data-ajax-method="POST">
                        @Html.AntiForgeryToken()
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                                </svg>
                            </span>
                            <input type="text" asp-for="NameSurname" class="input input--fw" placeholder="Adınız Soyadınız" required>
                        </div>
                        <div class="input__column-2">
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-phone"></use>
                                    </svg>
                                </span>
                                <input asp-for="Phone" type="text" class="input input--fw inputPhoneNumber"
                                       placeholder="___-__-__">
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-mail"></use>
                                    </svg>
                                </span>
                                <input asp-for="Email" type="email" class="input input--fw" placeholder="E-posta Adresiniz" required>
                            </div>
                        </div>
                        <div class="input__outer input--textarea">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-speak-balloon"></use>
                                </svg>
                            </span>
                            <textarea asp-for="Note" class="input input--fw" placeholder="Notunuz"></textarea>
                        </div>
                        <div class="form__button with-file">
                            <div class="form__button-file">
                                <label for="file-upload" class="button button-icon-left">
                                    <span class="icon-outer button-icon">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-plus"></use>
                                        </svg>
                                    </span>
                                    <span class="button-txt">
                                        Cv Ekle
                                    </span>
                                    <input asp-for="Cv" accept=".pdf" type="file" id="file-upload" required>
                                </label>
                                <span id="filename"></span>
                            </div>
                            <button type="submit" class="button" id="btn-send">
                                <span class="button-txt">
                                    Gönder
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="modal modal--message success" id="modalSuccessMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-success"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title">Teşekkürler!</div>
                <div class="side-subscribe__txt">
                    Talebiniz başarılı bir şekilde iletilmiştir.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal--message wrong" id="modalWrongMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-wrong"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title ">Başarısız!</div>
                <div class="side-subscribe__txt">
                    Talebiniz iletilememiştir.
                </div>
            </div>
        </div>
    </div>
</div>




@section postScripts{
    <script type="text/javascript">
        /* elements */
        $('#file-upload').change(function () {
            var filepath = this.value;
            var m = filepath.match(/([^\/\\]+)$/);
            var filename = m[1];
            $('#filename').html(filename);
        });

        var onAjaxSuccess = function (context) {
            if (context.success) {
                showModal('modalSuccessMessage');
            } else {
                showModal('modalWrongMessage');
            }
            $('.contact__form')[0].reset();
            $('#filename').html("");
        };
        var onAjaxFailed = function () {
            showModal('modalWrongMessage');
        }
        function showModal(id) {
            $('html, body').addClass('no-scroll');
            $('.main-overlay').addClass('active');
            $('.modal[id="' + id + '"]').addClass('modal--active');
            $('.js-open-mobile-menu').removeClass('active');
            $('.js-open-mobile-menu')
                .closest('.header-mobile')
                .removeClass('active');
            $('html,body').removeClass('scroll-lock');
        }
        $('#educator-application-form').validate({
            errorLabelContainer: $('#educator-application-form div.error'),
            errorContainer: 'div.error-messages',
            errorLabelContainer: $('ul', 'div.error-messages'),
            wrapper: 'li',
            rules: {
                NameSurname: {
                    required: true,
                },
                Phone: {
                    required: true,
                },
                Email: {
                    required: true,
                },
                Note: {
                    required: true,
                },
                Cv: {
                    required: true,
                }
            },
            messages: {
                NameSurname: 'Bu alan zorunludur.',
                Phone: 'Bu alan zorunludur.',
                Email: 'Bu alan zorunludur.',
                Note: 'Bu alan zorunludur.',
                Cv: 'Bu alan zorunludur.'
            },
            highlight: function (element) {
                $(element)
                    .parent()
                    .addClass('outer-error');
            },
            unhighlight: function (element) {
                $(element)
                    .parent()
                    .removeClass('outer-error');
            },
        });

    </script>
} 