
@{
    ViewData["Title"] = "Sıkça Sorulan Sorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subheader">
    <div class="subheader__wrp">
        <div class="container">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">
                    Anasayfa
                </a>
                <a href="#0" class="breadcrumb__item active">
                    Sıkça Sorulan Sorular
                </a>
            </div>
            <div class="subheader__cnt">
                <div class="subheader__txt-cnt">
                    <div class="subheader__title">Sıkça Sorulan Sorular</div>
                </div>
            </div>
        </div>
    </div>
    <div class="subheader__img">
        <img src="~/assets/img/subheader-sss.jpg" alt="">
    </div>
</div>

<section class="sss">
    <div class="container">
        <div class="sss__wrp">
            <div class="sss__item">
                <div class="sss__left">
                    <div class="sss__left-wrp">
                        <div class="sss__left-icon">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-screen"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="sss__left-title">EĞİTİMLER <br><span class="colored-blue">HAKKINDA</span></div>
                    </div>
                    <div class="sss__left-line"></div>
                </div>
                <div class="sss__accordion">
                    <div class="accordion">
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Eğitim içerikleri nasıl belirleniyor ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Hangi profilde kişiler eğitimlere katılabilir ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Eğitimler için ön koşullar nelerdir ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Daha sonra eğirim takvimlerinde değişiklik oluyor mu ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Hangi bitirme sertifikalarına sahip olacağım ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Bu eğitimler kariyer hayatımı nasıl etkileyecek ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sss__item">
                <div class="sss__left">
                    <div class="sss__left-wrp">
                        <div class="sss__left-icon">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-map-pin"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="sss__left-title">LOKASYON <br><span class="colored-blue">BİLGİLERİ</span></div>
                    </div>
                    <div class="sss__left-line"></div>
                </div>
                <div class="sss__accordion">
                    <div class="accordion">
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Daha sonra eğirim takvimlerinde değişiklik oluyor mu ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Hangi bitirme sertifikalarına sahip olacağım ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Bu eğitimler kariyer hayatımı nasıl etkileyecek ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sss__item">
                <div class="sss__left">
                    <div class="sss__left-wrp">
                        <div class="sss__left-icon">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-credit-card"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="sss__left-title">ÖDEME <br><span class="colored-blue">BİLGİLERİ</span></div>
                    </div>
                    <div class="sss__left-line"></div>
                </div>
                <div class="sss__accordion">
                    <div class="accordion">
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Daha sonra eğirim takvimlerinde değişiklik oluyor mu ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Hangi bitirme sertifikalarına sahip olacağım ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                Bu eğitimler kariyer hayatımı nasıl etkileyecek ?
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <p>
                                        Bu eğitime bu alanda hiçbir bilgiye sahip olmayan kişiler de, belirli düzeyde bilgi
                                        sahibi deneyimli kişiler de katılabilir. Daha detaylı bilgi için bilgi talep formunu.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="commenting-section">
    <div class="container">
        <div class="commenting-section__title">
            merak ettiğinizi <span class="colored-blue">bulamadınız mı?</span>
        </div>
        <div class="commenting-section__txt">
            Yukarıdaki maddelerin haricinde bize aşağıdaki form ile<br> sorularınızı iletebilirsiniz
        </div>
        <form id="contact-form" class="commenting-section__commenting"
              action="/sss-form"
              data-ajax-success="onAjaxSuccess"
              data-ajax-failure="onAjaxFailed"
              data-ajax="true" data-ajax-method="POST">
            @Html.AntiForgeryToken()
            <div class="commenting-box">
                <div class="commenting-top">
                    <div class="commenting-name">
                        <input type="text" name="Name" placeholder="Adınız Soyadınız" required>
                    </div>
                    <div class="commenting-branch">
                        <input type="email" name="Email" placeholder="E-mail Adresiniz" required>
                    </div>
                </div>
                <div class="commenting-texting">
                    <textarea placeholder="Yorumlarınızı buradan yazın..." name="Content" required></textarea>
                </div>
            </div>
            <div class="commenting-footer">
                <div class="clear-message">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-circle-close"></use>
                        </svg>
                    </span>
                    Sıfırla
                </div>
                <div class="commenting-footer-right">
                    <button type="submit" class="button button--dark button-big button-fw">
                        <span class="button--txt">
                            Soruyu Gönder
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>


<div class="modal modal--message success" id="modalSuccessMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-success"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title">Teşekkürler!</div>
                <div class="side-subscribe__txt">
                    Talebiniz başarılı bir şekilde iletilmiştir.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal--message wrong" id="modalWrongMessage">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="modal__content">
        <div class="side-subscribe__success">
            <div class="side-subscribe__top">
                <div class="side-subscribe__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-wrong"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="side-subscribe__content">
                <div class="side-subscribe__title ">Başarısız!</div>
                <div class="side-subscribe__txt">
                    Talebiniz iletilememiştir.
                </div>
            </div>
        </div>
    </div>
</div>


@section postScripts{
    <script>
        var onAjaxSuccess = function (context) {
            if (context.success) {
                showModal('modalSuccessMessage');
            } else {
                showModal('modalWrongMessage');
            }
            $('.commenting-section__commenting')[0].reset();
        };
        var onAjaxFailed = function () {
            showModal('modalWrongMessage');
        }
        function showModal(id) {
            $('html, body').addClass('no-scroll');
            $('.main-overlay').addClass('active');
            $('.modal[id="' + id + '"]').addClass('modal--active');
            $('.js-open-mobile-menu').removeClass('active');
            $('.js-open-mobile-menu')
                .closest('.header-mobile')
                .removeClass('active');
            $('html,body').removeClass('scroll-lock');
        }
        $('#contact-form').validate({
            errorLabelContainer: $('#contact-form div.error'),
            errorContainer: 'div.error-messages',
            errorLabelContainer: $('ul', 'div.error-messages'),
            wrapper: 'li',
            rules: {
                Name: {
                    required: true,
                },
                Email: {
                    required: true,
                    email: true,
                },
                Content: {
                    required: true,
                }
            },
            messages: {
                Name: 'Bu alan zorunludur.',
                Email: {
                    required: 'Bu alan zorunludur.',
                    email: 'Lütfen geçerli bir e-posta adresi giriniz.',
                },
                Content: 'Bu alan zorunludur.'
            },
            highlight: function (element) {
                $(element)
                    .parent()
                    .addClass('outer-error');
            },
            unhighlight: function (element) {
                $(element)
                    .parent()
                    .removeClass('outer-error');
            },
        });

    </script>

}