
@{
    ViewData["Title"] = "Kullanım Koşulları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subheader">
    <div class="subheader__wrp">
        <div class="container">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">
                    Anasayfa
                </a>
                <a href="#0" class="breadcrumb__item active">
                   Kullanım Koşulları
                </a>
            </div>
            <div class="subheader__cnt">
                <div class="subheader__txt-cnt">
                    <div class="subheader__title">Kullanım Koşulları</div>
                </div>
            </div>
        </div>
    </div>
    <div class="subheader__img">
        <img src="../../assets/img/subheader-sozlesme.jpg" alt="">
    </div>
</div>

<section class="default-page">
    <div class="container">
        <div class="default-page__wrp">
            <div class="default-page__content js-calc-height">
                İşbu ‘’Gizlilik Sözleşmesi’’ (bundan böyle “Sözleşme” olarak anılacaktır…………………………….. adresinde mukim
                ………………………… (bundan böyle “…………………..” olarak anılacaktır) ile diğer tarafta ……………….. adresinde mukim ……………………….
                (bundan böyle ‘’FİRMA” olarak anılacaktır) arasında akdedilmiştir. ……….. ve FİRMA bundan böyle ayrı ayrı
                “Taraf” ve birlikte “Taraflar” olarak anılabilecektir.
                <div id="1">
                    <strong>1. Amaç :</strong><br>
                    Taraflar, ihtiyaç duyulması halinde kullanılmak üzere taraflarca yapılacak tüm görüşmeler sırasında
                    birbirlerine yapacakları açıklamalarda kendilerine ait bir takım Gizli Bilgileri birbirleri ile
                    paylaşabileceklerdir. <br><br>
                    İşbu Sözleşme, Tarafların görüşmeleri süresince yapacakları çalışmalarda birbirlerine açacakları gizlilik
                    dereceli bilgilerin mübadele usulünün belirlenmesi ve bir tarafça diğer tarafa açılan Gizli Bilgilerin
                    korunmasına yönelik olarak hak ve yükümlülüklerin belirlenmesi amacıyla düzenlenmiştir. İşbu Sözleşme,
                    Tarafları, herhangi bir doküman ve/veya bilgiyi birbirlerine açma/verme yükümlüğüne sokmaz.

                </div>
                <div id="2">
                    <strong>2. Gizli Bilginin Tanımı ve Kapsamı :</strong><br>
                    İşbu sözleşmenin 1. maddesinde belirtilen amaç doğrultusunda Taraflar arasında mübadele edilebilecek “Gizli
                    Bilgi”, bunların sahibi olan Taraf’ın, ticari sır mahiyetinde ve/veya mülkiyeti altındaki bilgilerinin
                    tamamı
                    anlamına gelir; bunlara herhangi bir sınırlama olmaksızın, tasarım bilgileri, teknik bilgiler, ticari
                    sırlar,
                    fikir ve buluşlar, projeler, çizimler, modeller, yazılım programları, algoritmalar, yazılım modülleri,
                    program
                    kaynak kodları, teknik özellikler, ürün plan ve teknolojileri, yazılım kullanıcı kitapçıkları, pazarlama
                    bilgileri, müşteri listeleri, tahmin ve değerlendirmeler, finansal raporlar, kontrat hükümleri, kayıtlar ve
                    söz konusu Taraf’ın işiyle ilgili tüm bilgi ve malzemeler, …………….’in kendisine, hissedarlarına,
                    iştiraklerine,
                    ruhsat vermiş olduğu diğer kişilere, müşterilerine ve danışmanlarına ilişkin her türlü ürün, mal ve hizmet,
                    bunları elde etmede kullanılan yöntem, ticari sır, her türlü formül, know-how, patent, buluş, dizayn,
                    müşteri
                    listeleri, bütçe, iş geliştirme, pazarlama ve fiyatlama plan ve stratejileri ve benzeri her<br>
                    türlü bilgiyi kapsar.Sözlü, görsel, örnekler veya modeller ile açıklanan (yazılı olmayan) ve gizlilik
                    derecesi
                    olan bilgiler<br>
                    ve/veya bilgiyi açan Tarafça diğer Tarafa verilebilecek projelerin, çizimlerin, cihazların veya
                    komponentlerinin incelenmesi, test edilmesi ve benzeri yöntemlerin kullanılması sureti ile edinilebilecek
                    gizlilik dereceli bilgiler de bundan böyle “Gizli Bilgi” olarak anılacaktır ve bu Sözleşme kapsamında işlem
                    görecektir.
                    Sözlü olarak açılan bilgi, bu bilgiyi açan Tarafça bilgiyi açtığı zaman, sözlü olarak verilen bu bilginin
                    Gizli Bilgi olduğunu açıkça belirttiği ve bilgiyi açtıktan sonraki 10 (on) gün içinde diğer Taraf’a yazılı
                    olarak bildirdiği takdirde, sözlü şekilde diğer tarafa verilen bilgi Gizli Bilgi olarak işlem görecektir.
                    Bilgiler; Gizli Bilgi gibi korunup, kullanılacaktır. <br>
                    2/7
                </div>
                <div id="3">
                    <strong>3. Gizli Bilginin Kullanım Koşulları :</strong><br>
                    Gizli bilgiyi alan taraf, bu Sözleşme süresince ve Sözleşme’nin aşağıdaki 8. maddeye uygun olarak
                    feshedilmesi
                    veya geçerlilik süresinin bitmesi halinde, fesih veya sona erme tarihinden itibaren süresiz olarak şekilde
                    Gizli Bilgi’nin koruma ve kullanımına yönelik olarak aşağıdaki maddelere uymayı kabul, beyan ve taahhüt
                    eder: <br><br>
                    <ul>
                        <li><span>a)</span> Gizli Bilgiyi sadece diğer Tarafça verilme amacına uygun olarak kullanmak,</li>
                        <li>
                            <span>b)</span> Gizli Bilgiyi konuyla ilgili olmaları şartıyla “bilmesi gereken” prensibine göre
                            kendi personeline
                            bu
                            Sözleşme şartlarına uymalarını sağlamak sureti ile vermek,
                        </li>
                        <li>
                            <span>c)</span> Gizli bilgiyi açan tarafın Gizli Bilgisine en az kendisine ait olan ve aynı derecede
                            önemli Gizli
                            Bilgiyi
                            korumak için sarf ettiği itinayı göstermek,
                        </li>
                        <li>
                            <span></span> Gizli Bilgiyi, Gizli Bilgiyi açan Tarafın yazılı onayı olmadan hissedarları, bağlı
                            şirketleri ve
                            yan
                            kuruluşları dahil olmak üzere üçüncü şahıslara açıklamamak,
                        </li>
                        <li>
                            <span>e)</span> İşbu Sözleşme’nin amaçlarının yerine getirilmesi için gerekli olan haller dışında,
                            Gizli Bilgiyi
                            tamamen
                            veya kısmen herhangi bir şekilde kopyalamamak veya çoğaltmamak; eğer bu Sözleşme'nin amacı dahilince
                            tamamen
                            veya kısmen kopyalanmış veya çoğaltılmışsa, kopyalanmış veya çoğaltılmış nüshaların üzerinde orijinal
                            metnin
                            üzerinde bulunanlara eşdeğer kısıtlayıcı bir ibare koymak,
                        </li>
                        <li>
                            <span>f)</span> İşbu Sözleşme amacına uygun olarak gerekmesi halinde, Gizli Bilginin aktarıldığı
                            kuruluş, alt
                            yüklenici
                            ya
                            da diğer üçüncü tarafların da Gizli Bilginin saklanması ve açıklanması ile ilgili olarak aynı
                            sınırlamalara
                            bağlı olmasını sağlamak.
                        </li>
                    </ul>
                </div>
                <div id="4">
                    <strong>4. Gizli Bilgi Kapsamında Olmayan Bilgi :</strong><br>
                    Gizli Bilgiyi alan Tarafın aşağıda belirtilen niteliklere sahip herhangi bir Gizli Bilgiye ilişkin olarak 4.
                    madde altında belirtilen hiçbir sorumluluğu veya yükümlülüğü olmayacaktır: <br>
                    <ul>
                        <li>
                            <span>a)</span> Gizli Bilgi alındığı tarihte, Gizli Bilgiyi alan Tarafça biliniyorsa ve bu durum
                            delil(ler) ile kanıtlanabiliyorsa,
                        </li>
                        <li>
                            <span>b)</span> Gizli Bilgiyi alan Tarafın bu Gizli Bilgilerden haberdar olmayan personelince
                            bağımsız olarak
                            geliştirilmişse ve bu durum delil(ler) ile kanıtlanabiliyorsa,
                        </li>
                        <li>
                            <span>c)</span> Kamu tarafından o sırada biliniyorsa veya Gizli Bilgiyi alan Tarafın hiçbir kusuru
                            olmaksızın kamuya
                            daha
                            sonra bildirilmişse,
                        </li>
                        <li>
                            <span>d)</span> Benzer kısıtlamalar olmaksızın ve işbu Sözleşmeyi ihlal etmeksizin, üçüncü bir
                            şahıstan, üçüncü şahsın
                            Gizli Bilgisini ifşa etmeme yükümlülüğü altında olmadığına ilişkin gerekli tüm araştırma ve
                            incelemelerin
                            yerine getirilmesini müteakip, kanuni bir şekilde alınmışlarsa ve bu durum delil(ler) ile
                            kanıtlanabiliyorsa,
                        </li>
                        <li>
                            <span>e)</span> Gizli Bilgiyi alan Tarafın Hükümetine kanunlar çerçevesi içinde ifşa edilmesi gerekli
                            ise, Gizli
                            Bilgiyi
                            açan Tarafı önceden yazılı olarak bilgilendirmek suretiyle,
                        </li>
                        <li>
                            <span>f)</span> Yayınlanmaları veya kullanılmaları bilgiyi açan Tarafın yazılı izni ile onaylanmışsa.
                        </li>
                    </ul>
                    3/7
                </div>
                <div id="5">
                    <strong>5. Gizli Bilginin Mülkiyeti:</strong><br>
                    Taraflardan her biri gizli bilgilerinin ve bu bilgilerdeki haklarının kendi mülkiyetinde olduğunu ve bu
                    bilgilerin ifşa eden tarafa herhangi bir hak ya da mülkiyet hakkı vermeyeceğini kabul eder. Bu sözleşmede
                    kapsamındaki hiçbir madde Taraflara, diğer tarafın yazılım/bilgi/eser/ürün mahiyetindeki Gizli Bilgisi
                    üzerinde fikri ve sınaî haklar mevzuatı veya diğer mevzuat uyarınca korunan özel bir kullanma hakkı/lisansı
                    verdiği şeklinde yorumlanamaz. Taraflar bu tür kullanma haklarını ancak bu sözleşmeden bağımsız başka
                    sözleşmelerle elde edebilir.
                </div>
                <div id="6">
                    <strong>6. Sorumsuzluk Hali:</strong><br>
                    Bu Sözleşme kapsamında bir tarafça diğer tarafa açılan Gizli Bilgilerde bulunan herhangi bir hata ya da
                    eksiklik nedeniyle, kullanan Tarafın cihaz, araç, gereçlerinde, personelinde ve/veya üçüncü şahıslarda
                    doğrudan, dolaylı, özel, arızi veya neticesi kullanım zararı, kâr kaybı veya diğer her türlü kayıplardan
                    bilgiyi açan Taraf sorumlu tutulmayacaktır.
                </div>
                <div id="7">
                    <strong>7. Sözleşmenin İhlali:</strong><br>
                    <strong>7.1</strong> Taraflar, bu Sözleşme kapsamında ve özellikle bu Sözleşmeye göre elde edilen Gizli
                    Bilginin korunmasına
                    ilişkin yükümlülüklerinden herhangi birini ihlal etmesi durumunda ihlal eden Taraf, meydana gelebilecek,
                    Mahkeme tarafından hükmedilen zarar ve ziyanı karşılamakla yükümlü olacaktır. Ayrıca;
                    <ul>
                        <li>
                            <span>a)</span> Gizli Bilgilerin ifşa edildiğinin veya kullanıldığının ortaya çıkması halinde olan
                            Taraf daha başka
                            açıklama yapılmasını veya kullanımı önlemek için gayret sarf edecektir.
                        </li>
                        <li>
                            <span>b)</span> Alan Taraf, gizli bilgi veren Tarafa o sıradaki mevcut şartları derhal bildirecek ve
                            gizli bilgi veren
                            Tarafça talep edilen tüm düzeltici önlemleri uygulamaya koyacaktır.
                        </li>
                    </ul>
                    <strong>7.2</strong> Taraflardan birinin işbu Sözleşmenin herhangi bir şekilde ihlalinden doğan bir hak veya
                    yetkisini
                    kullanmaması veya ertelemesi, işbu Sözleşmedeki herhangi bir hakkından vazgeçtiği anlamına gelmez veya bu
                    hakkın daha sonra kullanılmasına ya da müteakip ihlal hallerinde diğer hak ve yetkilerini kullanmasına engel
                    teşkil etmez.
                </div>
                <div id="8">
                    <strong>8. Sözleşmenin Süresi</strong><br>
                    İşbu Sözleşme, Tarafların yazılı mutabakatı ile uzatılmadığı takdirde, imza tarihinden itibaren bir (1) yıl
                    süre ile yürürlükte kalacaktır ve süresi sonunda başka bir ihbara gerek olmaksızın geçersiz olacaktır.
                    Ancak, <br>
                    Taraflardan her biri diğer Tarafa 30 (otuz) takvim günü önceden yazılı ihbarda bulunarak bu Sözleşmeyi sona
                    erme tarihinden önce feshedebilir. Sözleşmenin herhangi bir sebeple sona ermesi halinde tarafların gizliliğe
                    ilişkin yükümlülükleri süresiz olarak devam edecektir. Bu Sözleşme burada belirtildiği üzere feshedildiği
                    veya
                    sona erdiği takdirde, bilgiyi açan Tarafa ait olan ve diğer Tarafın elinde bulunan tüm bilgiler ve
                    belgelerin
                    kopyaları, bilgiyi açan Tarafın talebi <br>
                    halinde iade edilecek veya imha edilecektir. <br>
                    4/7
                </div>

                <div id="9">
                    <strong>9. Uyuşmazlıkların Halli :</strong><br>
                    Bu Sözleşmenin yorum ve icrasından doğabilecek bütün anlaşmazlıklarda Türkiye Cumhuriyeti kanunları
                    uygulanacak olup, anlaşmazlıklara bakmaya İstanbul Çağlayan Mahkemeleri ve İcra Daireleri münhasıran yetkili
                    olacaktır.
                </div>
                <div id="10">
                    <strong>10. Masraflar :</strong>
                    Taraflar, işbu Sözleşme kapsamında gerçekleştireceği çalışmalar için yapması gerekebilecek harcamaları diğer
                    Taraftan talep etmemeyi kabul eder.
                </div>
                <div id="11">
                    <strong>11. Sözleşmenin Bütünü ve Tadilat :</strong><br>
                    Yukarıdaki maddeler Taraflar arasındaki Sözleşmenin tümünü teşkil etmekte olup, bu Sözleşmenin konusuna
                    ilişkin olarak daha önce sözlü veya yazılı olarak yapılmış olan her türlü anlaşmanın, taahhüdün, mutabakatın
                    yerine geçer.
                    Bu Sözleşmede değişiklik ancak Tarafların yazılı mutabakatı ile yapılabilir.
                </div>
            </div>
            <div class="default-page__side js-sticky-height mobile-sticky">
                <div class="side-categories side-categories--sticky">
                    <div class="side-categories__title js-mobile-side-categori">
                        BİLGİ
                        <span class="icon-outer input__icon side-categories__mobile-icon">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-small-arrow"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="side-categories__cnt use-scroll-item js-vertical-magic-line">
                        <div class="side-categories__item active js-vertical-magic-line-item ">
                            <a href="#1" class="js-scroll-item">
                                <span class="side-categories__txt">1. Amaç</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#2" class="js-scroll-item">
                                <span class="side-categories__txt">2. Gizli Bilginin Tanımı ve Kapsamı</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#3" class="js-scroll-item">
                                <span class="side-categories__txt">3. Gizli Bilginin Kullanım Koşulları</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#4" class="js-scroll-item">
                                <span class="side-categories__txt">4. Gizli Bilginin Kapsamında Olmayan Bilgi</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#5" class="js-scroll-item">
                                <span class="side-categories__txt">5. Gizli Bilginin Mülkiyeti</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#6" class="js-scroll-item">
                                <span class="side-categories__txt">6. Sorumsuzluk Hali</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#7" class="js-scroll-item">
                                <span class="side-categories__txt">7. Sözleşmenin İhlali</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#8" class="js-scroll-item">
                                <span class="side-categories__txt">8. Sözleşmenin Süresi</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item ">
                            <a href="#9" class="js-scroll-item">
                                <span class="side-categories__txt">9. Uyuşmazlık Hali</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item">
                            <a href="#10" class="js-scroll-item">
                                <span class="side-categories__txt">10. Masraflar</span>
                            </a>
                        </div>
                        <div class="side-categories__item js-vertical-magic-line-item">
                            <a href="#11" class="js-scroll-item">
                                <span class="side-categories__txt">11. Sözleşmenin Bütünü ve Tadilat</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
