
@{
    ViewData["Title"] = "Maaş Girişi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Ücret Girişi
    </div>
    <div class="card-body">
        <div class="row">
            <div class="offset-lg-4 col-lg-4">
                <input type="date" value="" id="input-date" class="form-control" />
            </div>
            <div class="col-lg-4">
                <button id="btn-save" class="btn btn-primary btn-block">Kaydet</button>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-9 col-md-3">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="input-area">

                </div>
            </div>
        </div>
    </div>
</div>

@section postScripts{
    <script>
        /* fields */
        var educatorSalaries = [];

        /* elements */
        var inputArea = $("#input-area");
        var inputDate = $("#input-date");
        var btnSave = $("#btn-save");

        /* assignments */
        $(document).ready(document_onLoad);
        inputDate.on("change", inputDate_onChange);
        btnSave.on("click", btnSave_onClick);

        /* events */
        function document_onLoad() {

        }
        function inputDate_onChange() {
            getSalaries();
        }
        function btnSave_onClick() {
            toggleSaveButton(btnSave, false);
            educatorSalaries = [];
            var inputSalaries = $(".input-salary");
            if (!inputSalaries || inputSalaries.length === 0)
                return;
            for (var i = 0; i < inputSalaries.length; i++) {
                var element = inputSalaries[i];
                educatorSalaries.push({
                    groupId: element.getAttribute("data-group-id"),
                    educatorId: element.getAttribute("data-educator-id"),
                    paid: element.value
                });
            }

            var date = inputDate.val();
            $.ajax({
                url: `/admin/save-salary`,
                method: "post",
                data: {
                    Date: date,
                    Salaries: educatorSalaries
                },
                success: (res) => {
                    toggleSaveButton(btnSave, true);
                }
            });
        }

        /* functions */
        function getSalaries() {
            var date = inputDate.val();
            if (!date)
                return;
            $.ajax({
                url: `/admin/get-lesson-days-at-date/${date}`,
                method: "get",
                success: (res) => {
                    createTable(res.data);
                }
            });
        }
        function createTable(data) {
            var salaries = data.salaries;
            inputArea.html("");
            var appended;
            for (var i = 0; i < salaries.length; i++) {
                var item = salaries[i];
                if (i % 3 === 0) {
                    var row = $(`<div class="row"></div>`);
                    inputArea.append(row);
                    appended = row;
                }
                appended.append(
                    `<div class="col-lg-4">` +
                    `<p>${item.educatorName} - ${item.groupName}</p>` +
                    `<input class="input-salary form-control" type="number" value="${item.paid}" data-educator-id="${item.educatorId}" data-group-id="${item.earnedForGroup}" />` +
                    `</div>`);
            }
        }
        function toggleSaveButton(btn, activate) {
            if (activate) {
                btn.on("click", btnSave_onClick);
                btn.removeClass("btn-danger");
                btn.addClass("btn-primary");
                btn.html("Kaydet");
            } else {
                btn.off("click");
                btn.removeClass("btn-primary");
                btn.addClass("btn-danger");
                btn.html("Kaydediliyor");
            }
        }
    </script>
}