
@{
    ViewData["Title"] = "Index";
}

@section alerts{
    <partial name="partials/_Alert" />
}<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Popüler Konu Başlıkları Listesi
    </div>
    <div class="card-body">
        <div id="grid"></div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>

@section postScripts{
    <script>
        /* fields */
        var confirmModalBuilder = new AlertSupport.ConfirmModalBuilder();

        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {
            var deleteButtons = $(".btn-confirmation-modal-trigger");
            for (var i = 0; i < deleteButtons.length; i++) {
                var btn = deleteButtons[i];
                btn.onclick = btnConfirmationModalTrigger_onClick;
            }
            confirmModalBuilder.buildModal({
                title: "Emin misiniz?",
                bodyText: "Seçmiş olduğunuz kayıt kalıcı olarak silinecektir.",
                cancelText: "Hayır, iptal et",
                confirmText: "Evet, eminim",
                onConfirmClick: confirm_onClick
            });
            createGrid();
        }

        function btnConfirmationModalTrigger_onClick() {
            var url = this.getAttribute("data-url");
            confirmModalBuilder.setUrl(url);
            confirmModalBuilder.display();
        }

        function confirm_onClick() {
            var url = this.getAttribute("data-url");
            $.ajax({
                url: url,
                method: "get",
                success: (res) => {
                    if (res.isSuccess) {
                        $("#grid").dxDataGrid("instance").refresh();
                    } else {
                        var resultAlert = new AlertSupport.ResultAlert();
                        resultAlert.display({
                            success: false,
                            errors: res.errors,
                            message: "Hataları düzeltiniz"
                        });
                    }
                }
            });
        }


        /*DataGrid*/
        function createGrid() {
            $("#grid").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: "../../api/populartopic/list"
                }),
                remoteOperations: {
                    paging: true,
                    filtering: true,
                    sorting: true,
                    grouping: true,
                    summary: true,
                    groupPaging: true
                },
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240
                },
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Popüler Konu Başlıkları Listesi');
                    DevExpress.excelExporter.exportDataGrid({
                        worksheet: worksheet,
                        component: e.component,
                        customizeCell: function (options) {
                            var excelCell = options;
                            excelCell.font = { name: 'Arial', size: 12 };
                            excelCell.alignment = { horizontal: 'left' };
                        }
                    }).then(function () {
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'PopularKonuBasliklari' + parseInt(Math.random() * 1000000000) + '.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                export: {
                    enabled: true
                },
                headerFilter: {
                    visible: true
                },
                grouping: {
                    autoExpandAll: true
                },
                groupPanel: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                onContentReady: function () {
                    var deleteButtons = $(".btn-confirmation-modal-trigger");
                    for (var i = 0; i < deleteButtons.length; i++) {
                        var btn = deleteButtons[i];
                        btn.onclick = btnConfirmationModalTrigger_onClick;
                    }
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20],
                    showInfo: true
                },
                columns: [{
                    caption: "Kısa Başlık",
                    dataField: "shortTitle"
                },
                {
                    caption: "Başlık",
                    dataField: "title"
                },
                {
                    caption: "Kategori",
                    dataField: "relatedCategory"
                },
                {
                    caption: "Hedef Url",
                    cellTemplate: function (container, options) {
                        var current = options.data;
                        $(`<a title="Görüntüle" target="_blank" href="${current.targetUrl}">${current.targetUrl}</a>`)
                            .appendTo(container);
                    },
                    allowSorting: false
                },
                {
                    caption: "İşlem",
                    allowSearch: false,
                    cellTemplate: function (container, options) {
                        var current = options.data;
                        $(`<a title="Güncelle" class="btn btn-outline-warning btn-sm" href="/admin/populer-konu-basligi-guncelle/${current.id}"><i class=\"fa fa-edit\"></i></a>`)
                            .appendTo(container);
                        $(`<button title="Sil" class="btn-confirmation-modal-trigger btn btn-outline-danger btn-sm" data-url="/admin/populartopic/delete/${current.id}" style="cursor:pointer;"><i class=\"fa fa-trash\"></i></button>`)
                            .appendTo(container);
                    },
                    alignment: "center",
                    width: "auto"
                }
                ]
            });
        }


    </script>
}