<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nitelikli Bilişim - @ViewData["Title"]</title>
    <meta name="yandex-verification" content="9e671d0a91314836" />
    <partial name="partials/_BaseAssetsHeader" />

    @RenderSection("Headers", required: false)
</head>
<body>
    <div id="page">
        <partial name="partials/_LayoutHeader" />

        @RenderBody()
        
        <partial name="partials/_LayoutFooter" />

        <partial name="partials/_BaseAssetsBody" />
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>