<!DOCTYPE html>

<html lang="tr" class="o-x-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Uygulama olmadan, teorik bilgi ne işe yarar ki!</title>
    <partial name="partials/_BaseAssetsHeader" />
    @RenderSection("styles", required: false)
</head>
<body class="o-x-hidden datepicker-settings">
    <partial name="partials/_header-account" />

    @RenderBody()

    <partial name="partials/_footer-copyright" />
    <partial name="partials/_modal-wizard" />
    <div class='main-overlay overlay js-close-modal'></div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/vendor/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <script src="~/assets/js/jquery.inputmask.min.js"></script>
    <script src="~/assets/js/datepicker.min.js"></script>
    <!-- <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.tr.min.js"></script> -->
    <script src="~/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/vendor/modal-video/js/jquery-modal-video.min.js"></script>
    <script src="~/vendor/card/dist/card.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/education-suggestion-wizard.js"></script>
    <script src="~/js/lib/cookie-agreement.js"></script>
    <script src="~/js/sup/cart.js"></script>
    <script src="~/js/lib/security-support.js"></script>
    @RenderSection("postScripts", required: false)
</body>
</html>
