<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uygulama olmadan, teorik bilgi ne işe yarar ki!</title>
    <meta name="yandex-verification" content="9e671d0a91314836" />
    <partial name="partials/_BaseAssetsHeader" />

    @RenderSection("styles", required: false)
    <style>
        #btn-cookie-agree, #btn-cookie-privacy-policy {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <partial name="partials/_LayoutHeader" />

    @RenderBody()

    <partial name="partials/_LayoutFooter" />

    <partial name="partials/_BaseAssetsBody" />

    <partial name="partials/_LayoutCookieConsent" />

    <script src="~/js/layout/layout-search.js"></script>
    <script src="~/js/lib/cookie-agreement.js"></script>
    <script src="~/js/sup/cart.js"></script>
    <script>
        var __cookieBar = $("#cookie-bar");
        var __envoy = new StorageSupport.Envoy();
        var __searcher = new AppWide.Searcher();
        var __btnCookieAgree = $("#btn-cookie-agree");
        var __cart = new CartSupport.Cart();

        __btnCookieAgree.on("click", () => {
            __envoy.createRegisterForm();
            $("#cookie-bar").hide();
        });

        __searcher.initialize();

        if (__envoy.isStorageExists("register")) {
            __cookieBar.hide();
        }

        var __layoutHeaderCart = $("#layout-header-cart");
        __layoutHeaderCart.html(`<i class="icon-cart"></i> (${__cart.getItemCount()})`);

    </script>
    @RenderSection("postScripts", required: false)
</body>
</html>