<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nitelikli Bilişim - @ViewData["Title"]</title>
    <meta name="yandex-verification" content="9e671d0a91314836" />
    <partial name="partials/_BaseAssetsHeader" />

    @RenderSection("styles", required: false)
    <style>
        #btn-cookie-agree, #btn-cookie-privacy-policy {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <partial name="partials/_LayoutHeader" />

    @RenderBody()

    <partial name="partials/_LayoutFooter" />

    <partial name="partials/_BaseAssetsBody" />

    <partial name="partials/_LayoutCookieConsent" />

    <script src="~/js/layout/layout-search.js"></script>
    <script src="~/js/lib/cookie-agreement.js"></script>
    <script>
        var __cookieBar = $("#cookie-bar");
        var __envoy = new StorageSupport.Envoy();
        var __searcher = new AppWide.Searcher();
        var __btnCookieAgree = $("#btn-cookie-agree");

        __btnCookieAgree.on("click", () => {
            __envoy.createRegisterForm();
        });

        __searcher.initialize();

        if (__envoy.isStorageExists("register")) {
            __cookieBar.hide();
        }

    </script>
    @RenderSection("postScripts", required: false)
</body>
</html>