<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nitelikli Bilişim - @ViewData["Title"]</title>

    <partial name="partials/_BaseAssetsHeader" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="page">
        <partial name="partials/_LayoutHeader" />

        @RenderBody()

        <partial name="partials/_LayoutFooter" />

        <partial name="partials/_BaseAssetsBody" />
    </div>

    <script src="~/js/layout/layout-search.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>