
@{
    ViewData["Title"] = "Blog Kategorileri Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.common.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.light.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Blog Kategorileri
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="card-header">
                    <i class="fa fa-table"></i> Kategori Ekle
                </div>
                <div class="card-body">
                    <form id="form-add-blog-category">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>İsim</label>
                            <input type="text" required class="form-control" id="input-name">
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            <textarea type="text" required rows="4" class="form-control" id="input-description"></textarea>
                        </div>
                        <button id="btn-save" type="button" class="btn btn-success btn-sm pull-right">Kaydet</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-header">
                    <i class="fa fa-table"></i> Kategori Listesi
                </div>
                <div class="card-body">
                    <div id="blog-category-grid"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>

@section postScripts{
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="~/js/lib/security-support.js"></script>
    <script src="~/vendor\devextreme\dist\js\dx.all.js"></script>
    <script src="~/vendor\devextreme-aspnet-data\js\dx.aspnet.data.js"></script>
    <script src="~/js/areas/admin/admin-blog-category-list.js"></script>
}