@model NitelikliBilisim.Core.Entities.blog.BlogCategory
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="row">
    <div class="col-md-6">
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-file"></i>Kategori Güncelle</h2>
                <input type="hidden" value="@Model.Id" id="category-id" />
            </div>
            <form id="form-update-blog-category" style="margin-bottom:50px">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Kategori İsmi</label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Kategori İsmi" id="input-name" value="@Model.Name">
                </div>
                <div class="form-group">
                    <label>Kategori Açıklaması</label>
                    <textarea id="input-description" rows="5" autocomplete="off" class="form-control" style="height:100px;" placeholder="Kategori açıklaması kullanıcılar tarafından görülmeyecektir. Yalnızca admin panelde görülebilir...">@Model.Description</textarea>
                </div>
                <div class="form-group">
                    <button id="btn-save" class="btn btn-outline-primary btn-sm pull-right">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section postScripts{
    <script src="~/js/areas/admin/admin-blog-category-update.js"></script>
}