
@{
    ViewData["Title"] = "Sepet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main>
        <input type="hidden" value="0" id="input-education-total-price" />
        <input type="hidden" value="0" id="promotion-discount-amount" />
        <section id="hero_in" class="cart_section">
            <div class="wrapper">
                <div class="container">
                    <div class="bs-wizard clearfix">
                        <div class="bs-wizard-step active">
                            <div class="text-center bs-wizard-stepnum">Sepetiniz</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#0" class="bs-wizard-dot"></a>
                        </div>

                        <div class="bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">Ödeme</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#0" class="bs-wizard-dot"></a>
                        </div>

                        <div class="bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">Tamamla!</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#0" class="bs-wizard-dot"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bg_color_1">
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="box_cart">
                            <table class="table table-striped cart-list">
                                <thead>
                                    <tr>
                                        <th>
                                            Ürün
                                        </th>
                                        <th>
                                            Ücret
                                        </th>
                                        <th>
                                            Eylem
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-cart-items">
                                </tbody>
                            </table>
                            <table class="table table-bordered" id="table-promotion-code">
                            </table>
                            <div class="cart-options clearfix">
                                <div class="float-left">
                                    <div class="apply-coupon">
                                        <div class="form-group">
                                            <input type="text" name="coupon-code" id="input-promotion-code" value="" placeholder="Kupon Kodunuz" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn_1 outline" id="apply-promotion-code">Kuponu Uygula</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right fix_mobile">
                                    <button type="button" class="btn_1 outline">Sepeti Güncelle</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <aside class="col-lg-4" id="sidebar">
                        <div class="box_detail">
                            <div id="total_cart">
                                Toplam <span class="float-right" id="txt-total"></span>
                            </div>
                            <div class="add_bottom_30">Lorem ipsum dolor sit amet, sed vide <strong>moderatius</strong> ad. Ex eius soleat sanctus pro, enim conceptam in quo, <a href="#0">brute convenire</a> appellantur an mei.</div>
                            <a href="/odeme" class="btn_1 full-width">Ödeme Yap</a>
                            <a href="/" class="btn_1 full-width outline"><i class="icon-right"></i> Alışverişe Devam Et</a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>

@section postScripts{
    <script src="~/js/lib/security-support.js"></script>

    @*<script src="~/js/sup/cart.js"></script>*@
    <script>
        /* fields */
        var _cart = new CartSupport.Cart();

        /* elements */
        var tbodyCartItems = $("#tbody-cart-items");
        var tablePromotionCode = $("#table-promotion-code");
        var txtTotal = $("#txt-total");
        var inputPromotionCode = $("#input-promotion-code");
        var inputEducationTotalPrice = $("#input-education-total-price");
        var inputPromotionDiscountAmount = $("#promotion-discount-amount");
        var btnApplyPromotion = $("#apply-promotion-code");

        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {
            localStorage.removeItem("promotionCode");
            btnApplyPromotion.on("click", btnApplyPromotion_onClick);
            getCartItems();
            calculateTotalPrice();
        }
        function btnDeleteItem_onClick() {
            var educationId = this.getAttribute("data-education-id");
            _cart.removeFromCart(educationId);
            getCartItems();
            __layoutHeaderCart.html(`<i class="icon-cart"></i> (${__cart.getItemCount()})`);
        }
        function btnApplyPromotion_onClick() {
            getPromotionInfo();
        }

        /* functions */
        function getCartItems() {
            var items = _cart.getItems();
            var data = {
                Items: items
            };
            $.ajax({
                url: "/get-cart-items",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        console.log(res);
                        appendCartItems(res.data.items);
                        inputEducationTotalPrice.val(res.data.totalNumeric);
                        calculateTotalPrice();
                    }
                }
            });
        }
        function getPromotionInfo() {
            var promotionCode = inputPromotionCode.val();
            $.ajax({
                url: "/get-promotion",
                method: "post",
                data: { promotionCode: promotionCode },
                success: (res) => {
                    if (res.isSuccess) {
                        localStorage.setItem("promotionCode", res.data.promotionCode);
                        inputPromotionDiscountAmount.val(res.data.discountAmount);
                        appendPromotionCode(res.data);
                        calculateTotalPrice();
                    }
                }
            });
        }
        function appendCartItems(data) {
            tbodyCartItems.html("");
            if (data.length == 0) {
                tbodyCartItems.append(`<tr><td colspan="3">Sepetiniz boş</td></tr>`);
                return;
            }

            var appended = "";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                appended += `<tr>` +
                    `<td>` +
                    `<div class="thumb_cart">` +
                    `<img src="${item.previewPhoto}" alt="Image" />` +
                    `</div>` +
                    `<span class="item_cart">${item.educationName}</span>` +
                    `</td>` +
                    `<td>` +
                    `<strong>${item.priceText}</strong>` +
                    `</td>` +
                    `<td class="options" style="width:5%; text-align:center;">` +
                    `<a type="button" class="btn-delete-item" data-education-id="${item.educationId}"><i class="icon-trash"></i></a>` +
                    `</td>` +
                    `<tr>`;
            }
            tbodyCartItems.append(appended);

            var deleteButtons = document.getElementsByClassName("btn-delete-item");
            for (var i = 0; i < deleteButtons.length; i++) {
                var btn = deleteButtons[i];
                btn.onclick = btnDeleteItem_onClick;
            }
        }
        function appendPromotionCode(data) {
            console.log(data);
            tablePromotionCode.html("");
            if (data.length == 0) {
                return;
            }

            var appended = "";
            appended += `<thead>` +
                `<tr><td>Kampanya</td><td>Kupon Kodu</td><td>İndirim tutarı</td></tr>` +
                `</thead>` +
                `<tbody>` +
                `<tr>` +
                `<td>` +
                `"${data.name}" ` +
                `</td>` +
                `<td>` +
                `${data.promotionCode}` +
                `</td>` +
                `<td>` +
                `${data.discountAmount}` +
                `</td>` +
                `<td class="options" style="width:5%; text-align:center;">` +
                `<a type="button" class="btn-delete-item" data-education-id="${data.educationId}"><i class="icon-trash"></i></a>` +
                `</td>` +
                `<tr>`;

            appended += "</tbody>";
            tablePromotionCode.append(appended);

        }

        function calculateTotalPrice() {
            txtTotal.text(formatCurrency(parseFloat(inputEducationTotalPrice.val()) - parseFloat(inputPromotionDiscountAmount.val())));
        }
        function formatCurrency(total) {
            return ('₺') + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
        }
    </script>
}
