
@{
    ViewData["Title"] = "Sepet";
    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}

<input type="hidden" value="0" id="input-education-total-price" />
<input type="hidden" value="0" id="input-education-total-old-price" />
<input type="hidden" value="0" id="input-discount-amount" />
<input type="hidden" value="0" id="promotion-discount-amount" />
<div class="checkout-steps">
    <div class="container">
        <div class="checkout-steps__wrp">
            <a class="checkout-steps__item active">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-basket"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">1. SEPETİM</div>
            </a>
            <a class="checkout-steps__item">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-invoice"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">2. FATURA BİLGİLERİ</div>
            </a>
            <a class="checkout-steps__item">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-credit-card-f"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">3. ÖDEME</div>
            </a>
            <a class="checkout-steps__item">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-doc-f"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">4. ÖZET</div>
            </a>
        </div>
    </div>
</div>
<section class="section section--checkout">
    <div class="container">
        <div class="checkout__wrp">
            <div class="checkout__left">
                <div class="checkout__content">
                    <div class="checkout__top">
                        <div class="checkout__title">
                            SEPETTEKİ <span class="colored-blue">ÜRÜNLERİM</span>
                        </div>
                    </div>
                    <div class="checkout__subtop">
                        <div class="checkout__subtop-title">
                            ÜRÜNLER
                        </div>
                        <div class="checkout__subtop-title ml-auto mr-40">
                            FİYAT
                        </div>
                    </div>
                    <div class="checkout__product-wrp">

                    </div>
                </div>
            </div>
            <div class="checkout__side">
                <div class="checkout__content no-shadow js-siparis-ozeti">
                    <div class="checkout__top">
                        <div class="checkout__title">
                            SİPARİŞ <span class="colored-blue">ÖZETİ</span>
                        </div>
                    </div>
                    <div class="checkout__price-wrp js-discounts">
                        <div class="checkout__price-item">
                            <div class="checkout__price-title">Ürünler Toplamı</div>
                            <div class="checkout__price-new" id="oldPrice">
                                0.00 <span>TL</span>
                            </div>
                        </div>
                        <div class="checkout__price-item">
                            <div class="checkout__price-title">Toplam İndirimler</div>
                            <div class="checkout__price-new" id="discountAmount">
                                0.00 <span>TL</span>
                            </div>
                        </div>
                        <div class="checkout__price-item totaly">
                            <div class="checkout__price-title">Toplam Tutar</div>
                            <div class="checkout__price-new" id="newPrice">
                                0.00 <span>TL</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="checkout__sale-code js-cupon-form">
                    <div class="wizard-loading">
                        <div class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                    <div class="js-cupon-form__result">

                    </div>
                    <div>
                        <input class="input js-cupon-input" id="promotion-code" type="text" placeholder="İndirim kodum var">
                        <span class="icon-outer checkout__sale-code--icon js-cupon-btn">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-plus"></use>
                            </svg>
                        </span>
                    </div>
                </form>
                <a asp-controller="Sale" asp-action="InvoiceInformation" class="button button-icon-right button-fw checkout__next-button">
                    <span class="button-txt">
                        Fatura Bilgilerine Geç
                    </span>
                    <span class="button-icon">
                        <span class="icon-outer">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                            </svg>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="modal modal--delete" id="ModalDelete">
    <div class="modal__header">
        <div class="modal__title">Ürünü Silmek İstediğinize Emin misiniz?</div>
    </div>
    <div class="modal__footer">
        <div class="button  js-delete-product-checkout js-close-modal">
            <span class="button-txt">Evet, Sil</span>
        </div>
        <div class="button button--load-more js-close-modal">
            <span class="button-txt">Vazgeç</span>
        </div>
    </div>
</div>




@section postScripts{
    <script src="~/js/lib/security-support.js"></script>

    <script src="~/js/sup/cart.js"></script>
    <script>
        /* fields */
        var _cart = new CartSupport.Cart();

        /* elements */
        var cardItemsBody = $(".checkout__product-wrp");
        var txtTotal = $("#newPrice");
        var txtOldTotal = $("#oldPrice");
        var txtTotalDiscount = $("#discountAmount");
        var tablePromotionCode = $("#table-promotion-code");

        var inputPromotionCode = $("#promotion-code");
        var inputEducationTotalOldPrice = $("#input-education-total-old-price");
        var inputEducationTotalPrice = $("#input-education-total-price");
        var inputDiscountAmount = $("#input-discount-amount");

        var inputPromotionDiscountAmount = $("#promotion-discount-amount");

        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {
            localStorage.removeItem("promotionCode");
            getCartItems();
            getBasketBasedPromotion();
        }

        $('.js-cupon-btn').click(function () {
            var cuponInput = $(this).prev();
            if (cuponInput.val() == '') {
                $(this)
                    .parent()
                    .parent()
                    .append("<div class='cupon-error'>Lütfen Bu alanı doldurunuz.</div>");
            } else {
                $(this)
                    .parent()
                    .parent()
                    .remove('.cupon-error');
                $('.js-cupon-form').addClass('active');
                setTimeout(function () {
                    getPromotionInfo();
                }, 1000);

                return false;
            }
        });

        /* functions */
        function getCartItems() {
            var items = _cart.getItems();
            var data = {
                Items: items
            };
            $.ajax({
                url: "/get-cart-items",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        appendCartItems(res.data.items);
                        inputEducationTotalPrice.val(res.data.totalNumeric);
                        inputEducationTotalOldPrice.val(res.data.oldTotalNumeric);
                        inputDiscountAmount.val(res.data.discountAmount);
                        calculatePrices();
                    }
                }
            });
        }

        function getBasketBasedPromotion() {
            var items = _cart.getItems();
            var data = {
                Items: items
            };
            $.ajax({
                url: "/get-basket-based-promotion",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        $('.js-cupon-form .wizard-loading').fadeOut(500);
                        $('.js-cupon-form')
                            .removeClass('active')
                            .addClass('result');
                        inputPromotionCode.val('');
                        var newItem = `<div class="checkout__price-item"><div class="checkout__price-title">${res.data.name} İndirimi</div><div class="checkout__price-new"> ${formatCurrency(res.data.discountAmount)}</div><div class="checkout__product-crash js-remove-sale"><span class="icon-outer"><svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-crash"></use></svg></span></div></div>`;
                        $('.js-discounts').append(newItem);
                        var result = `<span class="icon-font"><svg class="icon icon-check"><use xlink:href="../../assets/img/icons.svg#icon-check"></use></svg></span>İndirim Başarılı ile Uygulandı!`;
                        $('.js-cupon-form__result').html(result);
                        inputPromotionDiscountAmount.val(res.data.discountAmount);
                        calculatePrices();
                    }
                }
            });
        }

        function getPromotionInfo() {
            var items = _cart.getItems();
            var data = {
                Items: items,
                PromotionCode: inputPromotionCode.val()
            };
            $.ajax({
                url: "/get-promotion",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        localStorage.setItem("promotionCode", res.data.promotionCode);
                        $('.js-cupon-form .wizard-loading').fadeOut(500);
                        $('.js-cupon-form')
                            .removeClass('active')
                            .addClass('result');
                        inputPromotionCode.val('');
                        var newItem = `<div class="checkout__price-item"><div class="checkout__price-title">${res.data.promotionCode} Kodu İndirimi</div><div class="checkout__price-new"> ${formatCurrency(res.data.discountAmount)}</div><div class="checkout__product-crash js-remove-sale"><span class="icon-outer"><svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-crash"></use></svg></span></div></div>`;
                        $('.js-discounts').append(newItem);
                        var result = `<span class="icon-font"><svg class="icon icon-check"><use xlink:href="../../assets/img/icons.svg#icon-check"></use></svg></span>İndirim Başarılı ile Uygulandı!`;
                        $('.js-cupon-form__result').html(result);
                        inputPromotionDiscountAmount.val(res.data.discountAmount);
                        calculatePrices();
                    } else {
                        $('.js-cupon-form')
                            .removeClass('active')
                            .addClass('result');
                        var result = `<span class="icon-outer"><svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-warning"></use></svg></span>Gerçesiz İndirim Kodu!`;
                        $('.js-cupon-form__result').html(result);
                    }
                }
            });
        }

        function appendCartItems(data) {
            cardItemsBody.html("");
            var appended = "";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                appended += `<div class="checkout__product-item">
                                                        <a href="/egitimler/${item.categorySeoUrl}/${item.seoUrl}" class="checkout__product-left">
                                                            <div class="checkout__product-img">
                                                                <img src="${item.previewPhoto}" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="checkout__product-right">
                                                            <div class="checkout__product-title">${item.educationName}</div>
                                                            <div class="checkout__product-new">
                                                                 ${item.priceText} <span>TL</span>
                                                            </div>
                                                        </div>
                                                        <div class="checkout__product-crash js-modal-trigger" onclick="setDeleteButtonAttribute('${item.educationId}')" data-trigger="ModalDelete">
                                                            <span class="icon-outer">
                                                                <svg class="icon">
                                                                    <use xlink:href="../../assets/img/icons.svg#icon-crash"></use>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>`;
            }

            cardItemsBody.html(appended);

            if (data.length <= 0) {
                $('.checkout__product-wrp, .js-siparis-ozeti').html(
                    "<div class='mini-basket__empty'><span class='icon-outer button-icon'><svg class='icon'><use xlink:href='assets/img/icons.svg#icon-basket-empty'></use></svg></span>Sepetiniz Boş.</div>",
                );
            }
        }
       
        
        function calculatePrices() {
            txtTotal.html(formatCurrency(parseFloat(inputEducationTotalPrice.val()) - parseFloat(inputPromotionDiscountAmount.val())));
            txtOldTotal.html(formatCurrency(parseFloat(inputEducationTotalOldPrice.val())));
            txtTotalDiscount.html(formatCurrency(parseFloat(inputDiscountAmount.val()) + parseFloat(inputPromotionDiscountAmount.val())));
        }

        function formatCurrency(total) {
            return parseFloat(total, 10).toFixed(2).toString().replace(".",",") + " <span>TL</span>";
        }
        function setDeleteButtonAttribute(id) {
            $(".js-delete-product-checkout").attr("data-eid", id);
        }

        //Remove Cart Item
        $('body').on('click', '.js-delete-product-checkout', function () {
            var id = $(this).attr("data-eid");
            _cart.removeFromCart(id);
            getCartItems();
            $('.checkout__product-item:nth-child(1)').fadeOut(250, function () {
                $(this).remove();
            });
            setTimeout(() => {
                $(this)
                    .closest('.js-deleted-item')
                    .remove();
                if ($('.checkout__product-item').length <= 0) {
                    $('.checkout__product-wrp, .js-siparis-ozeti').html(
                        "<div class='mini-basket__empty'><span class='icon-outer button-icon'><svg class='icon'><use xlink:href='../../assets/img/icons.svg#icon-basket-empty'></use></svg></span>Sepetiniz Boş.</div>",
                    );
                }
            }, 400);
        });

        //Remove Promotion Code
        $('body').on('click', '.js-remove-sale', function () {
            $(this)
                .parent()
                .fadeOut(300, function () {
                    $(this).remove();
                });
            // $(this).parent().find().fadeOut(100, function () {
            // 	$(this).remove();
            // });
            localStorage.setItem("promotionCode", "");
            inputPromotionDiscountAmount.val(0);
            calculatePrices();
            $('.js-cupon-form')
                .find('.wizard-loading')
                .show();
            $('.js-cupon-form').removeClass('result');
        });

    </script>
}
