
@{
    ViewData["Title"] = "Ödeme";
    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}

<div class="checkout-steps">
    <div class="container">
        <div class="checkout-steps__wrp">
            <a asp-controller="Sale" asp-action="Cart" class="checkout-steps__item">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="assets/img/icons.svg#icon-basket"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">1. SEPETİM</div>
            </a>
            <a asp-controller="Sale" asp-action="InvoiceInformation" class="checkout-steps__item">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="assets/img/icons.svg#icon-invoice"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">2. FATURA BİLGİLERİ</div>
            </a>
            <a href="#" class="checkout-steps__item active">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="assets/img/icons.svg#icon-credit-card-f"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">3. ÖDEME</div>
            </a>
            <a href="#" class="checkout-steps__item">
                <div class="checkout-steps__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="assets/img/icons.svg#icon-doc-f"></use>
                        </svg>
                    </span>
                </div>
                <div class="checkout-steps__txt">4. ÖZET</div>
            </a>
        </div>
    </div>
</div>
<section class="section section--checkout">
    <div class="container">
        <div class="checkout__wrp">
            <div class="checkout__left">
                <div class="checkout__content">
                    <div class="accordion accordion--big">
                        <div class="accordion__item selected-cart active">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                <div class="checkout__title">
                                    KREDİ KARTI <span class="colored-blue">İLE ÖDEME</span>
                                </div>
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <div class="error-messages">
                                        <div class="error-messages__title">
                                            <span class="icon-outer">
                                                <svg class="icon">
                                                    <use xlink:href="assets/img/icons.svg#icon-warning"></use>
                                                </svg>
                                            </span>
                                            İşlem<span>&nbsp;Başarısız Oldu</span>
                                        </div>
                                        <ul>
                                            <li>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-info-circle"></use>
                                                    </svg>
                                                </span>
                                                <label for="CardInfo.NumberOnCard" class="error">cardnumber</label>
                                            </li>
                                            <li>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-info-circle"></use>
                                                    </svg>
                                                </span>
                                                <label for="CardInfo.NameOnCard" class="error">cardname</label>
                                            </li>
                                            <li>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-info-circle"></use>
                                                    </svg>
                                                </span>
                                                <label for="CardInfo.MonthOnCard" class="error">cardmonth</label>
                                            </li>
                                            <li>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-info-circle"></use>
                                                    </svg>
                                                </span>
                                                <label for="CardInfo.YearOnCard" class="error">cardyear</label>
                                            </li>
                                            <li>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-info-circle"></use>
                                                    </svg>
                                                </span>
                                                <label for="cardCvc" class="error">cardcvc</label>
                                            </li>
                                            <li>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-info-circle"></use>
                                                    </svg>
                                                </span>
                                                <label for="onBilgilendirme" class="error">onBilgilendirme</label>
                                            </li>
                                            <li>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-info-circle"></use>
                                                    </svg>
                                                </span>
                                                <label for="MesafeliSatisSozlesmesi" class="error">MesafeliSatisSozlesmesi</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class='card-wrapper card-wrapper--form'></div>
                                    <form class="card-form" id="form-buy" novalidate method="post" asp-controller="Sale" asp-action="Pay">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden"  id="_is-distant-sales-agreement-confirmed" name="IsDistantSalesAgreementConfirmed" />
                                        <input type="hidden" value="0" id="input-education-total-price" />
                                        <input type="hidden" value="0" id="promotion-discount-amount" />
                                        <input type="hidden" value="" id="_promotion-code" name="PromotionCode" />
                                        <input type="hidden" value="" id="_installmentCount" name="PaymentInfo.Installments" />
                                        <input type="hidden" value="0" id="_aId" name="AddressId" />
                                        <input type="hidden" value="" id="_cart-items" name="CartItemsJson" />
                                        <div class="input__outer no-icon">
                                            <div class="input__title">Kart Numarası</div>
                                            <input type="text" id="input-card-number"
                                                   class="input input--bordered input--fw input--noshadow card__number" name="CardInfo.NumberOnCard"
                                                   placeholder="_ _ _ _  _ _ _ _  _ _ _ _  _ _ _ _">
                                        </div>
                                        <div class="input__outer no-icon">
                                            <div class="input__title">Adınız Soyadınız</div>
                                            <input type="text" id="input-owner"
                                                   class="input input--bordered input--fw input--noshadow card__name" name="CardInfo.NameOnCard"
                                                   placeholder="Kart Sahibinin Adı Soyadı" />
                                        </div>
                                        <div class="input__column-2 input__column-card">
                                            <div class="input__outer no-icon">
                                                <div>
                                                    <div class="input__title">Ay</div>
                                                    <input type="text" id="select-months"
                                                           class="input input--bordered input--fw input--noshadow card__expiry" name="CardInfo.MonthOnCard"
                                                           placeholder="01" />
                                                </div>
                                                <div>
                                                    <div class="input__title">Yıl</div>
                                                    <input type="text" id="select-years"
                                                           class="input input--bordered input--fw input--noshadow card__expiry" name="CardInfo.YearOnCard"
                                                           placeholder="2026" />
                                                </div>
                                            </div>
                                            <div class="input__outer no-icon">
                                                <div class="input__title">
                                                    CCV <span class="ccv-info tooltip-hover"
                                                              tooltip-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, odit!.">?</span>
                                                </div>
                                                <input type="text" id="input-cvc"
                                                       class="input input--bordered input--fw input--noshadow card__cvc" name="CardInfo.CVC"
                                                       placeholder="_ _ _" />
                                            </div>
                                        </div>
                                        <div class="input__outer">
                                            <label class="main-checkbox">
                                                <a href="#0">3d secure</a> ile ödeme yapacağım.
                                                <input type="checkbox" id="chc3dSecure" name="Use3d" value="true" >
                                                <span class="main-checkbox__checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="checkout__subtop v-tablet">
                                            <div class="checkout__subtop-title">
                                                Taksit Sayısı
                                            </div>
                                        </div>
                                        <div class="checkout__purchase">
                                            <div class="checkout__purchase-top">
                                                <div>
                                                    Taksit Seçeneği
                                                </div>
                                                <div>
                                                    Aylık Ödeme
                                                </div>
                                                <div>
                                                    Toplam Tutar
                                                </div>
                                            </div>
                                            <div class="checkout__purchase-wrp">
                                                <p>Taksit seçeneklerini görebilmek için lütfen kart numaranızı giriniz.</p>
                                                @*<label class="main-radio">
                    <div class="checkout__purchase-item">
                        <div>
                            Peşin
                        </div>
                        <div>
                            <span>₺</span> 1,799.00
                        </div>
                        <div>
                            <span>₺</span> 1,799.00
                        </div>
                    </div>
                    <input type="radio" checked="checked" name="purchase">
                    <span class="main-radio__checkmark"></span>
                </label>
                <label class="main-radio">
                    <div class="checkout__purchase-item">
                        <div>
                            2x
                        </div>
                        <div>
                            <span>₺</span> 900.00
                        </div>
                        <div>
                            <span>₺</span> 1,840.00
                        </div>
                    </div>
                    <input type="radio" name="purchase">
                    <span class="main-radio__checkmark"></span>
                </label>
                <label class="main-radio">
                    <div class="checkout__purchase-item">
                        <div>
                            3x
                        </div>
                        <div>
                            <span>₺</span> 600.00
                        </div>
                        <div>
                            <span>₺</span> 1,925.00
                        </div>
                    </div>
                    <input type="radio" name="purchase">
                    <span class="main-radio__checkmark"></span>
                </label>
                <label class="main-radio">
                    <div class="checkout__purchase-item">
                        <div>
                            4x
                        </div>
                        <div>
                            <span>₺</span> 450.00
                        </div>
                        <div>
                            <span>₺</span> 2,220.00
                        </div>
                    </div>
                    <input type="radio" name="purchase">
                    <span class="main-radio__checkmark"></span>
                </label>
                <label class="main-radio">
                    <div class="checkout__purchase-item">
                        <div>
                            5x
                        </div>
                        <div>
                            <span>₺</span> 360.00
                        </div>
                        <div>
                            <span>₺</span> 2,225.00
                        </div>
                    </div>
                    <input type="radio" name="purchase">
                    <span class="main-radio__checkmark"></span>
                </label>*@
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        @*<span class="checkout__fw-hr"></span>
                            <div class="accordion__item selected-havale">
                                <div class="accordion__header">
                                    <span class="icon-outer accordion__icon">
                                    </span>
                                    <div class="checkout__title">
                                        HAVALE İLE <span class="colored-blue">ÖDEME</span>
                                    </div>
                                </div>
                                <div class="accordion__content">
                                    <div class="js-calc-accordion-height">
                                        <div class="checkout__transfer-wrp">
                                            <div class="checkout__transfer-item">
                                                <label class="main-radio">
                                                    <div class="checkout__transfer-top">
                                                        <input type="radio" name="havale">
                                                        <span class="main-radio__checkmark"></span>
                                                        <img src="./assets/img/garantibbva.png" alt="">
                                                    </div>
                                                </label>
                                                <div class="checkout__transfer-cnt">
                                                    <div class="checkout__transfer-cnt-item">
                                                        <div class="checkout__transfer-title">Firma Bilgileri</div>
                                                        <div class="checkout__transfer-txt">Wissen Academie Eğitim Kurumları</div>
                                                    </div>
                                                    <div class="checkout__transfer-cnt-outer">
                                                        <div class="checkout__transfer-cnt-item mr-40">
                                                            <div class="checkout__transfer-title">IBAN</div>
                                                            <div id="garantiIban" class="checkout__transfer-txt">1234 5678 2345 23523</div>
                                                        </div>
                                                        <div class="checkout__transfer-cnt-item">
                                                            <div class="checkout__transfer-title">Şube</div>
                                                            <div class="checkout__transfer-txt">Keçiören / Ankara</div>
                                                        </div>
                                                        <a id="garantiIban" name="copyElement" class="checkout__transfer-copy-button tooltip-click"
                                                           tooltip-text="Iban Kopyalandı.">
                                                            <span class="icon-outer">
                                                                <svg class="icon">
                                                                    <use xlink:href="assets/img/icons.svg#icon-copyboard"></use>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkout__transfer-item">
                                                <label class="main-radio">
                                                    <div class="checkout__transfer-top">
                                                        <input type="radio" name="havale">
                                                        <span class="main-radio__checkmark"></span>
                                                        <img src="./assets/img/isbankasi.png" alt="">
                                                    </div>
                                                </label>
                                                <div class="checkout__transfer-cnt">
                                                    <div class="checkout__transfer-cnt-item">
                                                        <div class="checkout__transfer-title">Firma Bilgileri</div>
                                                        <div class="checkout__transfer-txt">Wissen Academie Eğitim Kurumları</div>
                                                    </div>
                                                    <div class="checkout__transfer-cnt-outer">
                                                        <div class="checkout__transfer-cnt-item mr-40">
                                                            <div class="checkout__transfer-title">IBAN</div>
                                                            <div id="isbankasiIban" class="checkout__transfer-txt">1234 5678 2345 23523</div>
                                                        </div>
                                                        <div class="checkout__transfer-cnt-item">
                                                            <div class="checkout__transfer-title">Şube</div>
                                                            <div class="checkout__transfer-txt">Keçiören / Ankara</div>
                                                        </div>
                                                        <a id="isbankasiIban" name="copyElement"
                                                           class="checkout__transfer-copy-button tooltip-click" tooltip-text="Iban Kopyalandı.">
                                                            <span class="icon-outer">
                                                                <svg class="icon">
                                                                    <use xlink:href="assets/img/icons.svg#icon-copyboard"></use>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="checkout__content">
                    <div class="accordion accordion--big">
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <span class="icon-outer accordion__icon">
                                </span>
                                <div class="checkout__title">
                                    SÖZLEŞME VE <span class="colored-blue">FORMLAR</span>
                                </div>
                            </div>
                            <div class="accordion__content">
                                <div class="js-calc-accordion-height">
                                    <div class="checkout__contract-wrp">
                                        <div class="checkout__contract-item js-modal-trigger" data-trigger="caymaHakki">
                                            <div class="checkout__contract-title">CAYMA HAKKI</div>
                                            <div class="checkout__contract-button" data-trigger="caymaHakki">
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="checkout__contract-item js-modal-trigger" data-trigger="onBilgilendirmeFormu">
                                            <div class="checkout__contract-title">ÖN BİLGİLENDİRME FORMU</div>
                                            <div class="checkout__contract-button" data-trigger="onBilgilendirmeFormu">
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="checkout__contract-item js-modal-trigger" data-trigger="mesafeliSatisSozlesmesi">
                                            <div class="checkout__contract-title">MESAFELİ SATIŞ SÖZLEŞMESİ</div>
                                            <div class="checkout__contract-button" data-trigger="mesafeliSatisSozlesmesi">
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a asp-controller="Sale" asp-action="InvoiceInformation" class="button button--simple button-left checkout__button-prev">
                    <span class="button-icon">
                        <span class="icon-outer">
                            <svg class="icon">
                                <use xlink:href="assets/img/icons.svg#icon-arrow"></use>
                            </svg>
                        </span>
                    </span>
                    <span class="button-txt">
                        Önceki Adım
                    </span>
                </a>
            </div>
            <div class="checkout__side">
                <div class="checkout__content no-shadow">
                    <div class="checkout__top">
                        <div class="checkout__title">
                            SEPETTEKİ <span class="colored-blue">ÜRÜNLERİM</span>
                        </div>
                        <div class="checkout__top-right">
                        </div>
                    </div>
                    <div class="checkout__basket-wrp">
                       
                    </div>
                </div>
                <div class="checkout__content no-shadow">
                    <div class="checkout__top">
                        <div class="checkout__title">
                            SİPARİŞ <span class="colored-blue">ÖZETİ</span>
                        </div>
                    </div>
                    <div class="checkout__price-wrp js-discounts">
                        <div class="checkout__price-item">
                            <div class="checkout__price-title">Toplam İndirimler</div>
                            <div class="checkout__price-new">
                                <span>₺</span> -249.90
                            </div>
                        </div>
                        <div class="checkout__price-item">
                            <div class="checkout__price-title">Ürünler Toplamı</div>
                            <div class="checkout__price-old">
                                <span>₺</span> 1,250.00
                            </div>
                            <div class="checkout__price-new">
                                <span>₺</span> 1,550.00
                            </div>
                        </div>
                    </div>
                    <div class="checkout__price-item totaly">
                        <div class="checkout__price-title">Toplam Tutar</div>
                        <div class="checkout__price-new">
                            <span>₺</span> 1.1799.90
                        </div>
                    </div>
                </div>


                <!-- geçersiz kod mesajını vermek için; main.js'de 1484'üncü satırda ki if'e, else if ile müdahale edebilirsiniz. -->
                <form class="checkout__sale-code js-cupon-form">
                    <div class="wizard-loading">
                        <div class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                    <div class="js-cupon-form__result">
                        <span class="icon-font">
                            <svg class="icon icon-check">
                                <use xlink:href="assets/img/icons.svg#icon-check"></use>
                            </svg>
                        </span>
                        İndirim Başarılı ile Uygulandı!
                    </div>
                    <div>
                        <input class="input js-cupon-input" id="promotion-code" type="text" placeholder="İndirim kodum var">
                        <span class="icon-outer checkout__sale-code--icon js-cupon-btn">
                            <svg class="icon">
                                <use xlink:href="assets/img/icons.svg#icon-plus"></use>
                            </svg>
                        </span>
                    </div>
                </form>
                <div class="checkout__side-checkboxes">
                    <label class="main-checkbox reverse">
                        <a href="#0" class="js-modal-trigger" data-trigger="onBilgilendirmeFormu">Ön Bilgilendirme</a> formunu
                        okudum ve kabul ediyorum.
                        <input type="checkbox" id="onBilgilendirme" name="onBilgilendirme" form="form-buy" required>
                        <span class="main-checkbox__checkmark"></span>
                    </label>
                    <label class="main-checkbox reverse">
                        <a href="#0" class="js-modal-trigger" data-trigger="mesafeliSatisSozlesmesi">
                            Mesafeli satış
                            sözleşmesi‘ni
                        </a> okudum ve kabul ediyorum.
                        <input type="checkbox" id="MesafeliSatisSozlesmesi" name="MesafeliSatisSozlesmesi" form="form-buy"
                               required>
                        <span class="main-checkbox__checkmark"></span>
                    </label>
                </div>
                <button id="btn-buy" form="form-buy" class="button button-icon-right button-fw checkout__next-button">
                    <span class="button-txt">
                        Siparişi Tamamla
                    </span>
                    <span class="button-icon">
                        <span class="icon-outer">
                            <svg class="icon">
                                <use xlink:href="assets/img/icons.svg#icon-arrow"></use>
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- bu tooltip sadece bu sayfa için geçerli -->
<div class="js-tooltip-click tooltip checkout__transfer-tooltip">
    <div class="tooltip__title">
    </div>
</div>
<div class="js-tooltip tooltip tooltip-top ccv-info-tooltip">
    <div class="tooltip__title">
    </div>
</div>
<!-- bu tooltip sadece bu sayfa için geçerli -->

<div class="modal" id="caymaHakki">
    <div class="modal__header">
        <div class="modal__title">CAYMA HAKKI</div>
        <div class="modal__close js-close-modal">
            <span class="icon-outer">
                <svg class="icon">
                    <use xlink:href="assets/img/icons.svg#icon-close"></use>
                </svg>
            </span>
        </div>
    </div>
    <div class="modal__content">
        <span class="modal__sub-title"> 1. Amaç :</span>
        <p>
            Taraflar, ihtiyaç duyulması halinde kullanılmak üzere taraflarca yapılacak tüm görüşmeler sırasında birbirlerine
            yapacakları açıklamalarda kendilerine ait bir takım Gizli Bilgileri birbirleri ile paylaşabileceklerdir.
            İşbu Sözleşme, Tarafların görüşmeleri süresince yapacakları çalışmalarda birbirlerine açacakları gizlilik
            dereceli
            bilgilerin mübadele usulünün belirlenmesi ve bir tarafça diğer tarafa açılan Gizli Bilgilerin korunmasına
            yönelik
            olarak hak ve yükümlülüklerin belirlenmesi amacıyla düzenlenmiştir. İşbu Sözleşme, Tarafları, herhangi bir
            doküman
            ve/veya bilgiyi birbirlerine açma/verme yükümlüğüne sokmaz.
            2. Gizli Bilginin Tanımı ve Kapsamı :
            İşbu sözleşmenin 1. maddesinde belirtilen amaç doğrultusunda Taraflar arasında mübadele edilebilecek “Gizli
            Bilgi”, bunların sahibi olan Taraf’ın, ticari sır mahiyetinde ve/veya mülkiyeti altındaki bilgilerinin tamamı
            anlamına gelir; bunlara herhangi bir sınırlama olmaksızın, tasarım bilgileri, teknik bilgiler, ticari sırlar,
            fikir ve buluşlar, projeler, çizimler, modeller, yazılım programları, algoritmalar, yazılım modülleri, program
            kaynak kodları, teknik özellikler, ürün plan ve teknolojileri, yazılım kullanıcı kitapçıkları, pazarlama
            bilgileri, müşteri listeleri, tahmin ve değerlendirmeler, finansal raporlar, kontrat hükümleri, kayıtlar ve söz
            konusu Taraf’ın işiyle ilgili tüm bilgi ve malzemeler, …………….’in kendisine, hissedarlarına, iştiraklerine,
            ruhsat
            vermiş olduğu diğer kişilere, müşterilerine ve danışmanlarına ilişkin her türlü ürün, mal ve hizmet, bunları
            elde
            etmede kullanılan yöntem, ticari sır, her türlü formül, know-how, patent, buluş, dizayn, müşteri listeleri,
            bütçe,
            iş geliştirme, pazarlama ve fiyatlama plan ve stratejileri ve benzeri her
            türlü bilgiyi kapsar.Sözlü, görsel, örnekler veya modeller ile açıklanan (yazılı olmayan) ve gizlilik derecesi
            olan bilgiler
            ve/veya bilgiyi açan Tarafça diğer Tarafa verilebilecek projelerin, çizimlerin, cihazların veya komponentlerinin
            incelenmesi, test edilmesi ve benzeri yöntemlerin kullanılması sureti ile edinilebilecek gizlilik dereceli
            bilgiler de bundan böyle “Gizli Bilgi” olarak anılacaktır ve bu Sözleşme kapsamında işlem görecektir.
            Sözlü olarak açılan bilgi, bu bilgiyi açan Tarafça bilgiyi açtığı zaman, sözlü olarak verilen bu bilginin Gizli
            Bilgi olduğunu açıkça belirttiği ve bilgiyi açtıktan sonraki 10 (on) gün içinde diğer Taraf’a yazılı olarak
            bildirdiği takdirde, sözlü şekilde diğer tarafa verilen bilgi Gizli Bilgi olarak işlem görecektir. Bilgiler;
            Gizli
            Bilgi gibi korunup, kullanılacaktır.
            2/7
            3. Gizli Bilginin Kullanım Koşulları :
            Gizli bilgiyi alan taraf, bu Sözleşme süresince ve Sözleşme’nin aşağıdaki 8. maddeye uygun olarak feshedilmesi
            veya geçerlilik süresinin bitmesi halinde, fesih veya sona erme tarihinden itibaren süresiz olarak şekilde Gizli
            Bilgi’nin koruma ve kullanımına yönelik olarak aşağıdaki maddelere uymayı kabul, beyan ve taahhüt eder:
            a) Gizli Bilgiyi sadece diğer Tarafça verilme amacına uygun olarak kullanmak,
            b) Gizli Bilgiyi konuyla ilgili olmaları şartıyla “bilmesi gereken” prensibine göre kendi personeline bu
            Sözleşme
            şartlarına uymalarını sağlamak sureti ile vermek,
            c) Gizli bilgiyi açan tarafın Gizli Bilgisine en az kendisine ait olan ve aynı derecede önemli Gizli Bilgiyi
            korumak için sarf ettiği itinayı göstermek,
            d) Gizli Bilgiyi, Gizli Bilgiyi açan Tarafın yazılı onayı olmadan hissedarları, bağlı şirketleri ve yan
            kuruluşları dahil olmak üzere üçüncü şahıslara açıklamamak,
            e) İşbu Sözleşme’nin amaçlarının yerine getirilmesi için gerekli olan haller dışında, Gizli Bilgiyi tamamen veya
            kısmen herhangi bir şekilde kopyalamamak veya çoğaltmamak; eğer bu Sözleşme'nin amacı dahilince tamamen veya
            kısmen kopyalanmış veya çoğaltılmışsa, kopyalanmış veya çoğaltılmış nüshaların üzerinde orijinal metnin üzerinde
            bulunanlara eşdeğer kısıtlayıcı bir ibare koymak,
            f) İşbu Sözleşme amacına uygun olarak gerekmesi halinde, Gizli Bilginin aktarıldığı kuruluş, alt yüklenici ya da
            diğer üçüncü tarafların da Gizli Bilginin saklanması ve açıklanması ile ilgili olarak aynı sınırlamalara bağlı
            olmasını sağlamak.
            4. Gizli Bilgi Kapsamında Olmayan Bilgi :
            Gizli Bilgiyi alan Tarafın aşağıda belirtilen niteliklere sahip herhangi bir Gizli Bilgiye ilişkin olarak 4.
            madde
            altında belirtilen hiçbir sorumluluğu veya yükümlülüğü olmayacaktır:
            a) Gizli Bilgi alındığı tarihte, Gizli Bilgiyi alan Tarafça biliniyorsa ve bu durum delil(ler) ile
            kanıtlanabiliyorsa,
            b) Gizli Bilgiyi alan Tarafın bu Gizli Bilgilerden haberdar olmayan personelince bağımsız olarak geliştirilmişse
            ve bu durum delil(ler) ile kanıtlanabiliyorsa,
            c) Kamu tarafından o sırada biliniyorsa veya Gizli Bilgiyi alan Tarafın hiçbir kusuru olmaksızın kamuya daha
            sonra
            bildirilmişse,
            d) Benzer kısıtlamalar olmaksızın ve işbu Sözleşmeyi ihlal etmeksizin, üçüncü bir şahıstan, üçüncü şahsın Gizli
            Bilgisini ifşa etmeme yükümlülüğü altında olmadığına ilişkin gerekli tüm araştırma ve incelemelerin yerine
            getirilmesini müteakip, kanuni bir şekilde alınmışlarsa ve bu durum delil(ler) ile kanıtlanabiliyorsa,
            e) Gizli Bilgiyi alan Tarafın Hükümetine kanunlar çerçevesi içinde ifşa edilmesi gerekli ise, Gizli Bilgiyi açan
            Tarafı önceden yazılı olarak bilgilendirmek suretiyle,
            f) Yayınlanmaları veya kullanılmaları bilgiyi açan Tarafın yazılı izni ile onaylanmışsa.
            3/7
            5. Gizli Bilginin Mülkiyeti:
            Taraflardan her biri gizli bilgilerinin ve bu bilgilerdeki haklarının kendi mülkiyetinde olduğunu ve bu
            bilgilerin
            ifşa eden tarafa herhangi bir hak ya da mülkiyet hakkı vermeyeceğini kabul eder. Bu sözleşmede kapsamındaki
            hiçbir
            madde Taraflara, diğer tarafın yazılım/bilgi/eser/ürün mahiyetindeki Gizli Bilgisi üzerinde fikri ve sınaî
            haklar
            mevzuatı veya diğer mevzuat uyarınca korunan özel bir kullanma hakkı/lisansı verdiği şeklinde yorumlanamaz.
            Taraflar bu tür kullanma haklarını ancak bu sözleşmeden bağımsız başka sözleşmelerle elde edebilir.
            6. Sorumsuzluk Hali:
            Bu Sözleşme kapsamında bir tarafça diğer tarafa açılan Gizli Bilgilerde bulunan herhangi bir hata ya da eksiklik
            nedeniyle, kullanan Tarafın cihaz, araç, gereçlerinde, personelinde ve/veya üçüncü şahıslarda doğrudan, dolaylı,
            özel, arızi veya neticesi kullanım zararı, kâr kaybı veya diğer her türlü kayıplardan bilgiyi açan Taraf sorumlu
            tutulmayacaktır.
            7. Sözleşmenin İhlali:
            7.1 Taraflar, bu Sözleşme kapsamında ve özellikle bu Sözleşmeye göre elde edilen Gizli Bilginin korunmasına
            ilişkin yükümlülüklerinden herhangi birini ihlal etmesi durumunda ihlal eden Taraf, meydana gelebilecek, Mahkeme
            tarafından hükmedilen zarar ve ziyanı karşılamakla yükümlü olacaktır. Ayrıca;
            a) Gizli Bilgilerin ifşa edildiğinin veya kullanıldığının ortaya çıkması halinde olan Taraf daha başka açıklama
            yapılmasını veya kullanımı önlemek için gayret sarf edecektir.
            b) Alan Taraf, gizli bilgi veren Tarafa o sıradaki mevcut şartları derhal bildirecek ve gizli bilgi veren
            Tarafça
            talep edilen tüm düzeltici önlemleri uygulamaya koyacaktır.
            7.2 Taraflardan birinin işbu Sözleşmenin herhangi bir şekilde ihlalinden doğan bir hak veya yetkisini
            kullanmaması
            veya ertelemesi, işbu Sözleşmedeki herhangi bir hakkından vazgeçtiği anlamına gelmez veya bu hakkın daha sonra
            kullanılmasına ya da müteakip ihlal hallerinde diğer hak ve yetkilerini kullanmasına engel teşkil etmez.
            8. Sözleşmenin Süresi
            İşbu Sözleşme, Tarafların yazılı mutabakatı ile uzatılmadığı takdirde, imza tarihinden itibaren bir (1) yıl süre
            ile yürürlükte kalacaktır ve süresi sonunda başka bir ihbara gerek olmaksızın geçersiz olacaktır. Ancak,
            Taraflardan her biri diğer Tarafa 30 (otuz) takvim günü önceden yazılı ihbarda bulunarak bu Sözleşmeyi sona erme
            tarihinden önce feshedebilir. Sözleşmenin herhangi bir sebeple sona ermesi halinde tarafların gizliliğe ilişkin
            yükümlülükleri süresiz olarak devam edecektir. Bu Sözleşme burada belirtildiği üzere feshedildiği veya sona
            erdiği
            takdirde, bilgiyi açan Tarafa ait olan ve diğer Tarafın elinde bulunan tüm bilgiler ve belgelerin kopyaları,
            bilgiyi açan Tarafın talebi
            halinde iade edilecek veya imha edilecektir.
            4/7

            9. Uyuşmazlıkların Halli :
            Bu Sözleşmenin yorum ve icrasından doğabilecek bütün anlaşmazlıklarda Türkiye Cumhuriyeti kanunları uygulanacak
            olup, anlaşmazlıklara bakmaya İstanbul Çağlayan Mahkemeleri ve İcra Daireleri münhasıran yetkili olacaktır.
            10. Masraflar :
            Taraflar, işbu Sözleşme kapsamında gerçekleştireceği çalışmalar için yapması gerekebilecek harcamaları diğer
            Taraftan talep etmemeyi kabul eder.
            11. Sözleşmenin Bütünü ve Tadilat :
            Yukarıdaki maddeler Taraflar arasındaki Sözleşmenin tümünü teşkil etmekte olup, bu Sözleşmenin konusuna ilişkin
            olarak daha önce sözlü veya yazılı olarak yapılmış olan her türlü anlaşmanın, taahhüdün, mutabakatın yerine
            geçer.
            Bu Sözleşmede değişiklik ancak Tarafların yazılı mutabakatı ile yapılabilir.
            12. Maddelerin Ayrılabilirliği:
            İşbu Sözleşme hükümlerinden biri veya birkaçının, herhangi bir kanun veya düzenleme altında
            geçersiz, yasadışı ve uygulanamaz ilan edilmesi halinde, geride kalan hükümlerin geçerliliği,
            yasallığı ve uygulanabilirliği bundan hiçbir şekilde etkilenmeyecek veya zarar görmeyecektir.
            13. Devir Yasağı:
            İşbu Sözleşme ve/veya buna bağlı hak ve yükümlülüklerden hiçbiri, diğer Tarafın önceden alınmış
            yazılı izni olmadan, başkaca bir üçüncü kişiye devir ve temlik edilemez.
            14. İş İlişkisi:
            İşbu Sözleşme, burada açıklanan hükümler haricinde, Taraflara herhangi bir hak ve yükümlülük
            getirmez, ayrıca; Taraflar açısından ortaklık veya resmi mahiyette başka bir işin kurulmasını
            amaçladığı, gelecekte başka bir sözleşme yapılacağı şeklinde yorumlanamaz.
            15. Tebligat adresleri:
            İşbu Sözleşmeye uygun olarak verilmesi gerekli veya verilmesine izin verilen her türlü bildirim,
            talep, istek ve diğer bildirimler yazılı şekilde Türkçe olarak hazırlanır, iadeli taahhütlü posta ya da
            noter vasıtası ile karşı Tarafa teslim edilir. Bildirimler, Sözleşme’nin ilk sayfasında belirtilen
            Taraflara ait adreslere yapılır. Bu adreslerdeki değişiklikler diğer taraf yazılı olarak bildirilir. Söz
            konusu adresler, Tarafların kanuni ikametgâhları olup, bu adreslere yapılacak tebligatlar
            muhatabına ulaşmış kabul edilir.
        </p>
    </div>
</div>
<div class="modal" id="onBilgilendirmeFormu">
    <div class="modal__header">
        <div class="modal__title">ÖN BİLGİLENDİRME FORMU</div>
        <div class="modal__close js-close-modal">
            <span class="icon-outer">
                <svg class="icon">
                    <use xlink:href="assets/img/icons.svg#icon-close"></use>
                </svg>
            </span>
        </div>
    </div>
    <div class="modal__content">
        <span class="modal__sub-title"> 1. Amaç :</span>
        <p>
            Taraflar, ihtiyaç duyulması halinde kullanılmak üzere taraflarca yapılacak tüm görüşmeler sırasında birbirlerine
            yapacakları açıklamalarda kendilerine ait bir takım Gizli Bilgileri birbirleri ile paylaşabileceklerdir.
            İşbu Sözleşme, Tarafların görüşmeleri süresince yapacakları çalışmalarda birbirlerine açacakları gizlilik
            dereceli
            bilgilerin mübadele usulünün belirlenmesi ve bir tarafça diğer tarafa açılan Gizli Bilgilerin korunmasına
            yönelik
            olarak hak ve yükümlülüklerin belirlenmesi amacıyla düzenlenmiştir. İşbu Sözleşme, Tarafları, herhangi bir
            doküman
            ve/veya bilgiyi birbirlerine açma/verme yükümlüğüne sokmaz.
            2. Gizli Bilginin Tanımı ve Kapsamı :
            İşbu sözleşmenin 1. maddesinde belirtilen amaç doğrultusunda Taraflar arasında mübadele edilebilecek “Gizli
            Bilgi”, bunların sahibi olan Taraf’ın, ticari sır mahiyetinde ve/veya mülkiyeti altındaki bilgilerinin tamamı
            anlamına gelir; bunlara herhangi bir sınırlama olmaksızın, tasarım bilgileri, teknik bilgiler, ticari sırlar,
            fikir ve buluşlar, projeler, çizimler, modeller, yazılım programları, algoritmalar, yazılım modülleri, program
            kaynak kodları, teknik özellikler, ürün plan ve teknolojileri, yazılım kullanıcı kitapçıkları, pazarlama
            bilgileri, müşteri listeleri, tahmin ve değerlendirmeler, finansal raporlar, kontrat hükümleri, kayıtlar ve söz
            konusu Taraf’ın işiyle ilgili tüm bilgi ve malzemeler, …………….’in kendisine, hissedarlarına, iştiraklerine,
            ruhsat
            vermiş olduğu diğer kişilere, müşterilerine ve danışmanlarına ilişkin her türlü ürün, mal ve hizmet, bunları
            elde
            etmede kullanılan yöntem, ticari sır, her türlü formül, know-how, patent, buluş, dizayn, müşteri listeleri,
            bütçe,
            iş geliştirme, pazarlama ve fiyatlama plan ve stratejileri ve benzeri her
            türlü bilgiyi kapsar.Sözlü, görsel, örnekler veya modeller ile açıklanan (yazılı olmayan) ve gizlilik derecesi
            olan bilgiler
            ve/veya bilgiyi açan Tarafça diğer Tarafa verilebilecek projelerin, çizimlerin, cihazların veya komponentlerinin
            incelenmesi, test edilmesi ve benzeri yöntemlerin kullanılması sureti ile edinilebilecek gizlilik dereceli
            bilgiler de bundan böyle “Gizli Bilgi” olarak anılacaktır ve bu Sözleşme kapsamında işlem görecektir.
            Sözlü olarak açılan bilgi, bu bilgiyi açan Tarafça bilgiyi açtığı zaman, sözlü olarak verilen bu bilginin Gizli
            Bilgi olduğunu açıkça belirttiği ve bilgiyi açtıktan sonraki 10 (on) gün içinde diğer Taraf’a yazılı olarak
            bildirdiği takdirde, sözlü şekilde diğer tarafa verilen bilgi Gizli Bilgi olarak işlem görecektir. Bilgiler;
            Gizli
            Bilgi gibi korunup, kullanılacaktır.
            2/7
            3. Gizli Bilginin Kullanım Koşulları :
            Gizli bilgiyi alan taraf, bu Sözleşme süresince ve Sözleşme’nin aşağıdaki 8. maddeye uygun olarak feshedilmesi
            veya geçerlilik süresinin bitmesi halinde, fesih veya sona erme tarihinden itibaren süresiz olarak şekilde Gizli
            Bilgi’nin koruma ve kullanımına yönelik olarak aşağıdaki maddelere uymayı kabul, beyan ve taahhüt eder:
            a) Gizli Bilgiyi sadece diğer Tarafça verilme amacına uygun olarak kullanmak,
            b) Gizli Bilgiyi konuyla ilgili olmaları şartıyla “bilmesi gereken” prensibine göre kendi personeline bu
            Sözleşme
            şartlarına uymalarını sağlamak sureti ile vermek,
            c) Gizli bilgiyi açan tarafın Gizli Bilgisine en az kendisine ait olan ve aynı derecede önemli Gizli Bilgiyi
            korumak için sarf ettiği itinayı göstermek,
            d) Gizli Bilgiyi, Gizli Bilgiyi açan Tarafın yazılı onayı olmadan hissedarları, bağlı şirketleri ve yan
            kuruluşları dahil olmak üzere üçüncü şahıslara açıklamamak,
            e) İşbu Sözleşme’nin amaçlarının yerine getirilmesi için gerekli olan haller dışında, Gizli Bilgiyi tamamen veya
            kısmen herhangi bir şekilde kopyalamamak veya çoğaltmamak; eğer bu Sözleşme'nin amacı dahilince tamamen veya
            kısmen kopyalanmış veya çoğaltılmışsa, kopyalanmış veya çoğaltılmış nüshaların üzerinde orijinal metnin üzerinde
            bulunanlara eşdeğer kısıtlayıcı bir ibare koymak,
            f) İşbu Sözleşme amacına uygun olarak gerekmesi halinde, Gizli Bilginin aktarıldığı kuruluş, alt yüklenici ya da
            diğer üçüncü tarafların da Gizli Bilginin saklanması ve açıklanması ile ilgili olarak aynı sınırlamalara bağlı
            olmasını sağlamak.
            4. Gizli Bilgi Kapsamında Olmayan Bilgi :
            Gizli Bilgiyi alan Tarafın aşağıda belirtilen niteliklere sahip herhangi bir Gizli Bilgiye ilişkin olarak 4.
            madde
            altında belirtilen hiçbir sorumluluğu veya yükümlülüğü olmayacaktır:
            a) Gizli Bilgi alındığı tarihte, Gizli Bilgiyi alan Tarafça biliniyorsa ve bu durum delil(ler) ile
            kanıtlanabiliyorsa,
            b) Gizli Bilgiyi alan Tarafın bu Gizli Bilgilerden haberdar olmayan personelince bağımsız olarak geliştirilmişse
            ve bu durum delil(ler) ile kanıtlanabiliyorsa,
            c) Kamu tarafından o sırada biliniyorsa veya Gizli Bilgiyi alan Tarafın hiçbir kusuru olmaksızın kamuya daha
            sonra
            bildirilmişse,
            d) Benzer kısıtlamalar olmaksızın ve işbu Sözleşmeyi ihlal etmeksizin, üçüncü bir şahıstan, üçüncü şahsın Gizli
            Bilgisini ifşa etmeme yükümlülüğü altında olmadığına ilişkin gerekli tüm araştırma ve incelemelerin yerine
            getirilmesini müteakip, kanuni bir şekilde alınmışlarsa ve bu durum delil(ler) ile kanıtlanabiliyorsa,
            e) Gizli Bilgiyi alan Tarafın Hükümetine kanunlar çerçevesi içinde ifşa edilmesi gerekli ise, Gizli Bilgiyi açan
            Tarafı önceden yazılı olarak bilgilendirmek suretiyle,
            f) Yayınlanmaları veya kullanılmaları bilgiyi açan Tarafın yazılı izni ile onaylanmışsa.
            3/7
            5. Gizli Bilginin Mülkiyeti:
            Taraflardan her biri gizli bilgilerinin ve bu bilgilerdeki haklarının kendi mülkiyetinde olduğunu ve bu
            bilgilerin
            ifşa eden tarafa herhangi bir hak ya da mülkiyet hakkı vermeyeceğini kabul eder. Bu sözleşmede kapsamındaki
            hiçbir
            madde Taraflara, diğer tarafın yazılım/bilgi/eser/ürün mahiyetindeki Gizli Bilgisi üzerinde fikri ve sınaî
            haklar
            mevzuatı veya diğer mevzuat uyarınca korunan özel bir kullanma hakkı/lisansı verdiği şeklinde yorumlanamaz.
            Taraflar bu tür kullanma haklarını ancak bu sözleşmeden bağımsız başka sözleşmelerle elde edebilir.
            6. Sorumsuzluk Hali:
            Bu Sözleşme kapsamında bir tarafça diğer tarafa açılan Gizli Bilgilerde bulunan herhangi bir hata ya da eksiklik
            nedeniyle, kullanan Tarafın cihaz, araç, gereçlerinde, personelinde ve/veya üçüncü şahıslarda doğrudan, dolaylı,
            özel, arızi veya neticesi kullanım zararı, kâr kaybı veya diğer her türlü kayıplardan bilgiyi açan Taraf sorumlu
            tutulmayacaktır.
            7. Sözleşmenin İhlali:
            7.1 Taraflar, bu Sözleşme kapsamında ve özellikle bu Sözleşmeye göre elde edilen Gizli Bilginin korunmasına
            ilişkin yükümlülüklerinden herhangi birini ihlal etmesi durumunda ihlal eden Taraf, meydana gelebilecek, Mahkeme
            tarafından hükmedilen zarar ve ziyanı karşılamakla yükümlü olacaktır. Ayrıca;
            a) Gizli Bilgilerin ifşa edildiğinin veya kullanıldığının ortaya çıkması halinde olan Taraf daha başka açıklama
            yapılmasını veya kullanımı önlemek için gayret sarf edecektir.
            b) Alan Taraf, gizli bilgi veren Tarafa o sıradaki mevcut şartları derhal bildirecek ve gizli bilgi veren
            Tarafça
            talep edilen tüm düzeltici önlemleri uygulamaya koyacaktır.
            7.2 Taraflardan birinin işbu Sözleşmenin herhangi bir şekilde ihlalinden doğan bir hak veya yetkisini
            kullanmaması
            veya ertelemesi, işbu Sözleşmedeki herhangi bir hakkından vazgeçtiği anlamına gelmez veya bu hakkın daha sonra
            kullanılmasına ya da müteakip ihlal hallerinde diğer hak ve yetkilerini kullanmasına engel teşkil etmez.
            8. Sözleşmenin Süresi
            İşbu Sözleşme, Tarafların yazılı mutabakatı ile uzatılmadığı takdirde, imza tarihinden itibaren bir (1) yıl süre
            ile yürürlükte kalacaktır ve süresi sonunda başka bir ihbara gerek olmaksızın geçersiz olacaktır. Ancak,
            Taraflardan her biri diğer Tarafa 30 (otuz) takvim günü önceden yazılı ihbarda bulunarak bu Sözleşmeyi sona erme
            tarihinden önce feshedebilir. Sözleşmenin herhangi bir sebeple sona ermesi halinde tarafların gizliliğe ilişkin
            yükümlülükleri süresiz olarak devam edecektir. Bu Sözleşme burada belirtildiği üzere feshedildiği veya sona
            erdiği
            takdirde, bilgiyi açan Tarafa ait olan ve diğer Tarafın elinde bulunan tüm bilgiler ve belgelerin kopyaları,
            bilgiyi açan Tarafın talebi
            halinde iade edilecek veya imha edilecektir.
            4/7

            9. Uyuşmazlıkların Halli :
            Bu Sözleşmenin yorum ve icrasından doğabilecek bütün anlaşmazlıklarda Türkiye Cumhuriyeti kanunları uygulanacak
            olup, anlaşmazlıklara bakmaya İstanbul Çağlayan Mahkemeleri ve İcra Daireleri münhasıran yetkili olacaktır.
            10. Masraflar :
            Taraflar, işbu Sözleşme kapsamında gerçekleştireceği çalışmalar için yapması gerekebilecek harcamaları diğer
            Taraftan talep etmemeyi kabul eder.
            11. Sözleşmenin Bütünü ve Tadilat :
            Yukarıdaki maddeler Taraflar arasındaki Sözleşmenin tümünü teşkil etmekte olup, bu Sözleşmenin konusuna ilişkin
            olarak daha önce sözlü veya yazılı olarak yapılmış olan her türlü anlaşmanın, taahhüdün, mutabakatın yerine
            geçer.
            Bu Sözleşmede değişiklik ancak Tarafların yazılı mutabakatı ile yapılabilir.
            12. Maddelerin Ayrılabilirliği:
            İşbu Sözleşme hükümlerinden biri veya birkaçının, herhangi bir kanun veya düzenleme altında
            geçersiz, yasadışı ve uygulanamaz ilan edilmesi halinde, geride kalan hükümlerin geçerliliği,
            yasallığı ve uygulanabilirliği bundan hiçbir şekilde etkilenmeyecek veya zarar görmeyecektir.
            13. Devir Yasağı:
            İşbu Sözleşme ve/veya buna bağlı hak ve yükümlülüklerden hiçbiri, diğer Tarafın önceden alınmış
            yazılı izni olmadan, başkaca bir üçüncü kişiye devir ve temlik edilemez.
            14. İş İlişkisi:
            İşbu Sözleşme, burada açıklanan hükümler haricinde, Taraflara herhangi bir hak ve yükümlülük
            getirmez, ayrıca; Taraflar açısından ortaklık veya resmi mahiyette başka bir işin kurulmasını
            amaçladığı, gelecekte başka bir sözleşme yapılacağı şeklinde yorumlanamaz.
            15. Tebligat adresleri:
            İşbu Sözleşmeye uygun olarak verilmesi gerekli veya verilmesine izin verilen her türlü bildirim,
            talep, istek ve diğer bildirimler yazılı şekilde Türkçe olarak hazırlanır, iadeli taahhütlü posta ya da
            noter vasıtası ile karşı Tarafa teslim edilir. Bildirimler, Sözleşme’nin ilk sayfasında belirtilen
            Taraflara ait adreslere yapılır. Bu adreslerdeki değişiklikler diğer taraf yazılı olarak bildirilir. Söz
            konusu adresler, Tarafların kanuni ikametgâhları olup, bu adreslere yapılacak tebligatlar
            muhatabına ulaşmış kabul edilir.
        </p>
    </div>
</div>
<div class="modal" id="mesafeliSatisSozlesmesi">
    <div class="modal__header">
        <div class="modal__title">MESAFELİ SATIŞ SÖZLEŞMESİ</div>
        <div class="modal__close js-close-modal">
            <span class="icon-outer">
                <svg class="icon">
                    <use xlink:href="assets/img/icons.svg#icon-close"></use>
                </svg>
            </span>
        </div>
    </div>
    <div class="modal__content">
        <span class="modal__sub-title"> 1. Amaç :</span>
        <p>
            Taraflar, ihtiyaç duyulması halinde kullanılmak üzere taraflarca yapılacak tüm görüşmeler sırasında birbirlerine
            yapacakları açıklamalarda kendilerine ait bir takım Gizli Bilgileri birbirleri ile paylaşabileceklerdir.
            İşbu Sözleşme, Tarafların görüşmeleri süresince yapacakları çalışmalarda birbirlerine açacakları gizlilik
            dereceli
            bilgilerin mübadele usulünün belirlenmesi ve bir tarafça diğer tarafa açılan Gizli Bilgilerin korunmasına
            yönelik
            olarak hak ve yükümlülüklerin belirlenmesi amacıyla düzenlenmiştir. İşbu Sözleşme, Tarafları, herhangi bir
            doküman
            ve/veya bilgiyi birbirlerine açma/verme yükümlüğüne sokmaz.
            2. Gizli Bilginin Tanımı ve Kapsamı :
            İşbu sözleşmenin 1. maddesinde belirtilen amaç doğrultusunda Taraflar arasında mübadele edilebilecek “Gizli
            Bilgi”, bunların sahibi olan Taraf’ın, ticari sır mahiyetinde ve/veya mülkiyeti altındaki bilgilerinin tamamı
            anlamına gelir; bunlara herhangi bir sınırlama olmaksızın, tasarım bilgileri, teknik bilgiler, ticari sırlar,
            fikir ve buluşlar, projeler, çizimler, modeller, yazılım programları, algoritmalar, yazılım modülleri, program
            kaynak kodları, teknik özellikler, ürün plan ve teknolojileri, yazılım kullanıcı kitapçıkları, pazarlama
            bilgileri, müşteri listeleri, tahmin ve değerlendirmeler, finansal raporlar, kontrat hükümleri, kayıtlar ve söz
            konusu Taraf’ın işiyle ilgili tüm bilgi ve malzemeler, …………….’in kendisine, hissedarlarına, iştiraklerine,
            ruhsat
            vermiş olduğu diğer kişilere, müşterilerine ve danışmanlarına ilişkin her türlü ürün, mal ve hizmet, bunları
            elde
            etmede kullanılan yöntem, ticari sır, her türlü formül, know-how, patent, buluş, dizayn, müşteri listeleri,
            bütçe,
            iş geliştirme, pazarlama ve fiyatlama plan ve stratejileri ve benzeri her
            türlü bilgiyi kapsar.Sözlü, görsel, örnekler veya modeller ile açıklanan (yazılı olmayan) ve gizlilik derecesi
            olan bilgiler
            ve/veya bilgiyi açan Tarafça diğer Tarafa verilebilecek projelerin, çizimlerin, cihazların veya komponentlerinin
            incelenmesi, test edilmesi ve benzeri yöntemlerin kullanılması sureti ile edinilebilecek gizlilik dereceli
            bilgiler de bundan böyle “Gizli Bilgi” olarak anılacaktır ve bu Sözleşme kapsamında işlem görecektir.
            Sözlü olarak açılan bilgi, bu bilgiyi açan Tarafça bilgiyi açtığı zaman, sözlü olarak verilen bu bilginin Gizli
            Bilgi olduğunu açıkça belirttiği ve bilgiyi açtıktan sonraki 10 (on) gün içinde diğer Taraf’a yazılı olarak
            bildirdiği takdirde, sözlü şekilde diğer tarafa verilen bilgi Gizli Bilgi olarak işlem görecektir. Bilgiler;
            Gizli
            Bilgi gibi korunup, kullanılacaktır.
            2/7
            3. Gizli Bilginin Kullanım Koşulları :
            Gizli bilgiyi alan taraf, bu Sözleşme süresince ve Sözleşme’nin aşağıdaki 8. maddeye uygun olarak feshedilmesi
            veya geçerlilik süresinin bitmesi halinde, fesih veya sona erme tarihinden itibaren süresiz olarak şekilde Gizli
            Bilgi’nin koruma ve kullanımına yönelik olarak aşağıdaki maddelere uymayı kabul, beyan ve taahhüt eder:
            a) Gizli Bilgiyi sadece diğer Tarafça verilme amacına uygun olarak kullanmak,
            b) Gizli Bilgiyi konuyla ilgili olmaları şartıyla “bilmesi gereken” prensibine göre kendi personeline bu
            Sözleşme
            şartlarına uymalarını sağlamak sureti ile vermek,
            c) Gizli bilgiyi açan tarafın Gizli Bilgisine en az kendisine ait olan ve aynı derecede önemli Gizli Bilgiyi
            korumak için sarf ettiği itinayı göstermek,
            d) Gizli Bilgiyi, Gizli Bilgiyi açan Tarafın yazılı onayı olmadan hissedarları, bağlı şirketleri ve yan
            kuruluşları dahil olmak üzere üçüncü şahıslara açıklamamak,
            e) İşbu Sözleşme’nin amaçlarının yerine getirilmesi için gerekli olan haller dışında, Gizli Bilgiyi tamamen veya
            kısmen herhangi bir şekilde kopyalamamak veya çoğaltmamak; eğer bu Sözleşme'nin amacı dahilince tamamen veya
            kısmen kopyalanmış veya çoğaltılmışsa, kopyalanmış veya çoğaltılmış nüshaların üzerinde orijinal metnin üzerinde
            bulunanlara eşdeğer kısıtlayıcı bir ibare koymak,
            f) İşbu Sözleşme amacına uygun olarak gerekmesi halinde, Gizli Bilginin aktarıldığı kuruluş, alt yüklenici ya da
            diğer üçüncü tarafların da Gizli Bilginin saklanması ve açıklanması ile ilgili olarak aynı sınırlamalara bağlı
            olmasını sağlamak.
            4. Gizli Bilgi Kapsamında Olmayan Bilgi :
            Gizli Bilgiyi alan Tarafın aşağıda belirtilen niteliklere sahip herhangi bir Gizli Bilgiye ilişkin olarak 4.
            madde
            altında belirtilen hiçbir sorumluluğu veya yükümlülüğü olmayacaktır:
            a) Gizli Bilgi alındığı tarihte, Gizli Bilgiyi alan Tarafça biliniyorsa ve bu durum delil(ler) ile
            kanıtlanabiliyorsa,
            b) Gizli Bilgiyi alan Tarafın bu Gizli Bilgilerden haberdar olmayan personelince bağımsız olarak geliştirilmişse
            ve bu durum delil(ler) ile kanıtlanabiliyorsa,
            c) Kamu tarafından o sırada biliniyorsa veya Gizli Bilgiyi alan Tarafın hiçbir kusuru olmaksızın kamuya daha
            sonra
            bildirilmişse,
            d) Benzer kısıtlamalar olmaksızın ve işbu Sözleşmeyi ihlal etmeksizin, üçüncü bir şahıstan, üçüncü şahsın Gizli
            Bilgisini ifşa etmeme yükümlülüğü altında olmadığına ilişkin gerekli tüm araştırma ve incelemelerin yerine
            getirilmesini müteakip, kanuni bir şekilde alınmışlarsa ve bu durum delil(ler) ile kanıtlanabiliyorsa,
            e) Gizli Bilgiyi alan Tarafın Hükümetine kanunlar çerçevesi içinde ifşa edilmesi gerekli ise, Gizli Bilgiyi açan
            Tarafı önceden yazılı olarak bilgilendirmek suretiyle,
            f) Yayınlanmaları veya kullanılmaları bilgiyi açan Tarafın yazılı izni ile onaylanmışsa.
            3/7
            5. Gizli Bilginin Mülkiyeti:
            Taraflardan her biri gizli bilgilerinin ve bu bilgilerdeki haklarının kendi mülkiyetinde olduğunu ve bu
            bilgilerin
            ifşa eden tarafa herhangi bir hak ya da mülkiyet hakkı vermeyeceğini kabul eder. Bu sözleşmede kapsamındaki
            hiçbir
            madde Taraflara, diğer tarafın yazılım/bilgi/eser/ürün mahiyetindeki Gizli Bilgisi üzerinde fikri ve sınaî
            haklar
            mevzuatı veya diğer mevzuat uyarınca korunan özel bir kullanma hakkı/lisansı verdiği şeklinde yorumlanamaz.
            Taraflar bu tür kullanma haklarını ancak bu sözleşmeden bağımsız başka sözleşmelerle elde edebilir.
            6. Sorumsuzluk Hali:
            Bu Sözleşme kapsamında bir tarafça diğer tarafa açılan Gizli Bilgilerde bulunan herhangi bir hata ya da eksiklik
            nedeniyle, kullanan Tarafın cihaz, araç, gereçlerinde, personelinde ve/veya üçüncü şahıslarda doğrudan, dolaylı,
            özel, arızi veya neticesi kullanım zararı, kâr kaybı veya diğer her türlü kayıplardan bilgiyi açan Taraf sorumlu
            tutulmayacaktır.
            7. Sözleşmenin İhlali:
            7.1 Taraflar, bu Sözleşme kapsamında ve özellikle bu Sözleşmeye göre elde edilen Gizli Bilginin korunmasına
            ilişkin yükümlülüklerinden herhangi birini ihlal etmesi durumunda ihlal eden Taraf, meydana gelebilecek, Mahkeme
            tarafından hükmedilen zarar ve ziyanı karşılamakla yükümlü olacaktır. Ayrıca;
            a) Gizli Bilgilerin ifşa edildiğinin veya kullanıldığının ortaya çıkması halinde olan Taraf daha başka açıklama
            yapılmasını veya kullanımı önlemek için gayret sarf edecektir.
            b) Alan Taraf, gizli bilgi veren Tarafa o sıradaki mevcut şartları derhal bildirecek ve gizli bilgi veren
            Tarafça
            talep edilen tüm düzeltici önlemleri uygulamaya koyacaktır.
            7.2 Taraflardan birinin işbu Sözleşmenin herhangi bir şekilde ihlalinden doğan bir hak veya yetkisini
            kullanmaması
            veya ertelemesi, işbu Sözleşmedeki herhangi bir hakkından vazgeçtiği anlamına gelmez veya bu hakkın daha sonra
            kullanılmasına ya da müteakip ihlal hallerinde diğer hak ve yetkilerini kullanmasına engel teşkil etmez.
            8. Sözleşmenin Süresi
            İşbu Sözleşme, Tarafların yazılı mutabakatı ile uzatılmadığı takdirde, imza tarihinden itibaren bir (1) yıl süre
            ile yürürlükte kalacaktır ve süresi sonunda başka bir ihbara gerek olmaksızın geçersiz olacaktır. Ancak,
            Taraflardan her biri diğer Tarafa 30 (otuz) takvim günü önceden yazılı ihbarda bulunarak bu Sözleşmeyi sona erme
            tarihinden önce feshedebilir. Sözleşmenin herhangi bir sebeple sona ermesi halinde tarafların gizliliğe ilişkin
            yükümlülükleri süresiz olarak devam edecektir. Bu Sözleşme burada belirtildiği üzere feshedildiği veya sona
            erdiği
            takdirde, bilgiyi açan Tarafa ait olan ve diğer Tarafın elinde bulunan tüm bilgiler ve belgelerin kopyaları,
            bilgiyi açan Tarafın talebi
            halinde iade edilecek veya imha edilecektir.
            4/7

            9. Uyuşmazlıkların Halli :
            Bu Sözleşmenin yorum ve icrasından doğabilecek bütün anlaşmazlıklarda Türkiye Cumhuriyeti kanunları uygulanacak
            olup, anlaşmazlıklara bakmaya İstanbul Çağlayan Mahkemeleri ve İcra Daireleri münhasıran yetkili olacaktır.
            10. Masraflar :
            Taraflar, işbu Sözleşme kapsamında gerçekleştireceği çalışmalar için yapması gerekebilecek harcamaları diğer
            Taraftan talep etmemeyi kabul eder.
            11. Sözleşmenin Bütünü ve Tadilat :
            Yukarıdaki maddeler Taraflar arasındaki Sözleşmenin tümünü teşkil etmekte olup, bu Sözleşmenin konusuna ilişkin
            olarak daha önce sözlü veya yazılı olarak yapılmış olan her türlü anlaşmanın, taahhüdün, mutabakatın yerine
            geçer.
            Bu Sözleşmede değişiklik ancak Tarafların yazılı mutabakatı ile yapılabilir.
            12. Maddelerin Ayrılabilirliği:
            İşbu Sözleşme hükümlerinden biri veya birkaçının, herhangi bir kanun veya düzenleme altında
            geçersiz, yasadışı ve uygulanamaz ilan edilmesi halinde, geride kalan hükümlerin geçerliliği,
            yasallığı ve uygulanabilirliği bundan hiçbir şekilde etkilenmeyecek veya zarar görmeyecektir.
            13. Devir Yasağı:
            İşbu Sözleşme ve/veya buna bağlı hak ve yükümlülüklerden hiçbiri, diğer Tarafın önceden alınmış
            yazılı izni olmadan, başkaca bir üçüncü kişiye devir ve temlik edilemez.
            14. İş İlişkisi:
            İşbu Sözleşme, burada açıklanan hükümler haricinde, Taraflara herhangi bir hak ve yükümlülük
            getirmez, ayrıca; Taraflar açısından ortaklık veya resmi mahiyette başka bir işin kurulmasını
            amaçladığı, gelecekte başka bir sözleşme yapılacağı şeklinde yorumlanamaz.
            15. Tebligat adresleri:
            İşbu Sözleşmeye uygun olarak verilmesi gerekli veya verilmesine izin verilen her türlü bildirim,
            talep, istek ve diğer bildirimler yazılı şekilde Türkçe olarak hazırlanır, iadeli taahhütlü posta ya da
            noter vasıtası ile karşı Tarafa teslim edilir. Bildirimler, Sözleşme’nin ilk sayfasında belirtilen
            Taraflara ait adreslere yapılır. Bu adreslerdeki değişiklikler diğer taraf yazılı olarak bildirilir. Söz
            konusu adresler, Tarafların kanuni ikametgâhları olup, bu adreslere yapılacak tebligatlar
            muhatabına ulaşmış kabul edilir.
        </p>
    </div>
</div>

@section postScripts{

    <script type="text/javascript">
        var _cart = new CartSupport.Cart();
        var cartItems = $("#_cart-items");
        var cardItemsBody = $(".checkout__basket-wrp");
        var inputOwner = $('#input-owner');
        var selectMonths = $("#select-months");
        var selectYears = $("#select-years");
        var inputCardNumber = $('#input-card-number');
        var inputCvc = $("#input-cvc");
        var inputEducationTotalPrice = $("#input-education-total-price");
        var inputPromotionDiscountAmount = $("#promotion-discount-amount");
        var inputPromotionCode = $("#promotion-code");
        var tablePromotionCode = $("#table-promotion-code");
        var chc3dSecure = $("#chc3dSecure");
        var txtTotal = $(".checkout__price-new");
        var _promotionCode = $("#_promotion-code");
        var installmentInfoDiv = $(".checkout__purchase-wrp");
        var inputInstallment = $("#_installmentCount");
        var aId = $("#_aId");
        var mss = $("#_is-distant-sales-agreement-confirmed");

        var onBilgilendirme = $("#onBilgilendirme");



        var btnBuy = $("#btn-buy");
        btnBuy.on("click", btnBuy_onClick);
        $(document).ready(function () {
            aId.val(localStorage.getItem("_cA"));
            getCartItems();
            checkPromotionCode();
        });

        $("#onBilgilendirme").change(function () {
                mss.val(this.checked);
        });

        $('#form-buy').validate({
            errorLabelContainer: $('#form-buy div.error'),
            errorContainer: 'div.error-messages',
            errorLabelContainer: $('ul', 'div.error-messages'),
            wrapper: 'li',
            rules: {
                "CardInfo.NumberOnCard": {
                    required: true,
                },
                "CardInfo.NameOnCard": {
                    required: true,
                },
                "CardInfo.MonthOnCard": {
                    required: true,
                },
                "CardInfo.YearOnCard": {
                    required: true,
                },
                "CardInfo.CVC": {
                    required: true,
                },
                "purchase": {
                    required: true,
                },
                "IsDistantSalesAgreementConfirmed": {
                    required: true,
                },
                "MesafeliSatisSozlesmesi": {
                    required: true,
                },
            },
            messages: {
                "CardInfo.NumberOnCard": 'Kart numarasını girmediniz.',
                "CardInfo.NameOnCard": 'Adınız ve soyadınızı girmediniz.',
                "CardInfo.MonthOnCard": 'Kart ayını girmediniz.',
                "CardInfo.YearOnCard": 'Kart yılını girmediniz.',
                "CardInfo.CVC": 'CCV kodunu girmediniz.',
                "purchase": 'Lütfen bir taksit seçimi yapın.',
                "IsDistantSalesAgreementConfirmed": 'Ön Bilgilendirme formunu onaylayınız.',
                "MesafeliSatisSozlesmesi": 'Bu alanı işaretleyiniz.'
            },
            submitHandler: function () {
                $successMsg.show();
            },
            highlight: function (element) {
                $(element)
                    .parent()
                    .addClass('outer-error');
            },
            unhighlight: function (element) {
                $(element)
                    .parent()
                    .removeClass('outer-error');
            },
        });


        function checkPromotionCode() {
            var promotionCode = localStorage.getItem("promotionCode");
            if (promotionCode) {
                getPromotionInfo(promotionCode);
            }
        }

        function formatCurrency(total) {
            return " <span>₺</span> " + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
        }
        function calculateTotalPrice() {
            txtTotal.html(formatCurrency(parseFloat(inputEducationTotalPrice.val() - parseFloat(inputPromotionDiscountAmount.val()))));
        }
        function getPromotionInfo(promotionCode) {
            var datapromotionCode;
            if (promotionCode) {
                datapromotionCode = promotionCode;
            } else {
                datapromotionCode = inputPromotionCode.val();
            }
            var items = _cart.getItems();
            var data = {
                Items: items,
                PromotionCode: datapromotionCode
            };
            $.ajax({
                url: "/get-promotion",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        localStorage.setItem("promotionCode", res.data.promotionCode);
                        $('.js-cupon-form .wizard-loading').fadeOut(500);
                        $('.js-cupon-form')
                            .removeClass('active')
                            .addClass('result');
                        inputPromotionCode.val('');
                        var newItem = `<div class="checkout__price-item"><div class="checkout__price-title">${res.data.name} Kodu İndirimi</div><div class="checkout__price-new"> ${formatCurrency(res.data.discountAmount)}</div><div class="checkout__product-crash js-remove-sale"><span class="icon-outer"><svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-crash"></use></svg></span></div></div>`;
                        $('.js-discounts').append(newItem);
                        var result = `<span class="icon-font"><svg class="icon icon-check"><use xlink:href="../../assets/img/icons.svg#icon-check"></use></svg></span>İndirim Başarılı ile Uygulandı!`;
                        $('.js-cupon-form__result').html(result);
                        inputPromotionDiscountAmount.val(res.data.discountAmount);
                        calculateTotalPrice();
                        _promotionCode.val(res.data.promotionCode);
                    } else {
                        $('.js-cupon-form')
                            .removeClass('active')
                            .addClass('result');
                        var result = `<span class="icon-outer"><svg class="icon"><use xlink:href="../../assets/img/icons.svg#icon-warning"></use></svg></span>Gerçesiz İndirim Kodu!`;
                        $('.js-cupon-form__result').html(result);
                    }
                }
            });
        }
        function getCartItems() {
            var items = _cart.getItems();
            cartItems.val(JSON.stringify(items));
            var data = {
                Items: items
            };
            $.ajax({
                url: "/get-cart-items",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        appendCartItems(res.data.items);
                        inputEducationTotalPrice.val(res.data.totalNumeric);
                        calculateTotalPrice();
                        $(".checkout__top-right").html(res.data.items.length + " Ürün");
                    }
                }
            });
        }
        function appendCartItems(data) {
            cardItemsBody.html("");
            var appended = "";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                appended += ` <div class="checkout__basket-item">
                                                <div class="checkout__basket-img">
                                                    <img src="${item.previewPhoto}" alt="">
                                                </div>
                                                <div class="checkout__basket-right">
                                                    <div class="checkout__basket-title">
                                                       ${item.educationName}
                                                    </div>
                                                    <div class="checkout__basket-crash">
                                                        <span class="icon-outer">
                                                            <svg class="icon">
                                                                <use xlink:href="../../assets/img/icons.svg#icon-crash"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="checkout__basket-price">
                                                        <div class="checkout__price-new">
                                                            ${item.priceText}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`;

            }

            cardItemsBody.html(appended);

            if (data.length <= 0) {
                $('.checkout__product-wrp, .js-siparis-ozeti').html(
                    "<div class='mini-basket__empty'><span class='icon-outer button-icon'><svg class='icon'><use xlink:href='assets/img/icons.svg#icon-basket-empty'></use></svg></span>Sepetiniz Boş.</div>",
                );
            }
        }
        $('#input-card-number').focusout(function () {
            var inputVal = this.value;
            if (inputVal.length > 7) {
                loadInstallmentsInfo(inputVal);
            }
        });
        function loadInstallmentsInfo(inputVal) {
            var cart = new CartSupport.Cart();
            var data = {
                CardNumber: inputVal,
                CartItems: cart.getItems(),
                PromotionCode: _promotionCode.val()
            };

            $.ajax({
                url: "/getinstallmentinfo",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        console.log(res);
                        installmentInfoDiv.empty();
                        createInstallmentsDiv(res.data);
                        if (res.data.installmentOptions.force3Ds == "1") {
                            chc3dSecure.prop("checked", true);
                            chc3dSecure.prop('disabled', true);
                        } else {
                            chc3dSecure.prop("checked", false);
                            chc3dSecure.prop('disabled', false);
                        }
                        $("input[name='purchase']").on('change', function () {
                            installmentNumber_onChange();
                        });
                    }
                }
            });
        }
        function installmentNumber_onChange() {
            var retVal = $("input[name='purchase']:checked").val();
            inputInstallment.val(retVal);
        }
        function createInstallmentsDiv(data) {
            var content = '';
            if (data.length != 0)
                $.each(data.installmentOptions.installmentPrices, function (index, info) {
                    if (info.installmentNumber == 1) {
                        content += `<label class="main-radio">
                                                        <div class="checkout__purchase-item">
                                                            <div>
                                                                Peşin
                                                            </div>
                                                            <div>
                                                                <span>₺</span> ${info.price}
                                                            </div>
                                                            <div>
                                                                <span>₺</span> ${info.totalPrice}
                                                            </div>
                                                        </div>
                                                        <input type="radio" value="${info.installmentNumber}" checked="checked" name="purchase">
                                                        <span class="main-radio__checkmark"></span>
                                                    </label>`;
                    } else {
                        content += `<label class="main-radio">
                                                        <div class="checkout__purchase-item">
                                                            <div>
                                                                ${info.installmentNumber} Taksit
                                                            </div>
                                                            <div>
                                                                <span>₺</span> ${info.price}
                                                            </div>
                                                            <div>
                                                                <span>₺</span> ${info.totalPrice}
                                                            </div>
                                                        </div>
                                                        <input type="radio" value="${info.installmentNumber}" name="purchase">
                                                        <span class="main-radio__checkmark"></span>
                                                    </label>`;
                    }
                });
            installmentInfoDiv.append(content);
            resizeAccordionContent();
            inputInstallment.val(1);
        }

        function btnBuy_onClick() {
            if (!$('#form-buy').isValid())
                return;
            btnBuy.off("click");
            var tokenVerifier = new SecuritySupport.TokenVerifier();
            var cart = new CartSupport.Cart();
            var cartItemsSt = cart.getItems();
            var data = tokenVerifier.addToken("form-buy", {
                Use3d: chc3dSecure.prop("checked"),
                CardInfo: {
                    NameOnCard: inputOwner.val(),
                    NumberOnCard: inputCardNumber.val(),
                    MonthOnCard: selectMonths.val(),
                    YearOnCard: selectYears.val(),
                    CVC: inputCvc.val()
                },
                PaymentInfo: {
                    Installments: inputInstallment.val()
                },
                CartItems: cartItemsSt,
                PromotionCode: _promotionCode.val(),
                AddressId: aId.val(),
                CartItemsJson: cartItems.val(),
                IsDistantSalesAgreementConfirmed:mss
            });
            console.log(data);

            $.ajax({
                url: "/pay",
                method: "post",
                data: data,
                success: (res) => {
                    console.log(res);
                },
                complete: () => { btnBuy.on("click", btnBuy_onClick); }
            });
        }
        function resizeAccordionContent() {
            var accordionContent = $('.accordion__item.selected')
                .find('.js-calc-accordion-height')
                .height();
            $('.accordion__item.selected ')
                .find('.accordion__content')
                .css('height', accordionContent + 20);
            var accordionContentCart = $('.accordion__item.selected-cart')
                .find('.js-calc-accordion-height')
                .height();
            $('.accordion__item.selected-cart ')
                .find('.accordion__content')
                .css('height', accordionContentCart + 20);
        }
        //Remove Promotion Code
        $('body').on('click', '.js-remove-sale', function () {
            $(this)
                .parent()
                .fadeOut(300, function () {
                    $(this).remove();
                });
            // $(this).parent().find().fadeOut(100, function () {
            // 	$(this).remove();
            // });
            localStorage.setItem("promotionCode", "");
            inputPromotionDiscountAmount.val(0);
            calculateTotalPrice();
            $('.js-cupon-form')
                .find('.wizard-loading')
                .show();
            $('.js-cupon-form').removeClass('result');
        });
    </script>
} 