
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentResult</title>
</head>
<body>
    <h1>Ödeme Sonucu</h1>
    <h3>Başarılı!</h3>

    <script src="~/js/sup/cart.js"></script>
    <script>
        var _cart = new CartSupport.Cart();
        _cart.clearCart();
    </script>
</body>
</html>

