<form action="/iade" method="post" id="form-cancellation">
    <div class="form-group">
        <label>İptal nedeninizi açıklayınız</label>
        <input type="hidden" name="TicketId" value="@ViewContext.RouteData.Values["ticketId"]" />
        <textarea name="UserDescription" class="form-control" rows="10" style="resize:none;"></textarea>
    </div>

    <input type="submit" value="Gönder" class="btn btn-danger" />
</form>