<form id="form-cancellation">
    <div class="form-group">
        <label>İptal nedeninizi açıklayınız</label>
        <textarea name="UserDescription" class="form-control" rows="10" style="resize:none;"></textarea>
    </div>

    <input type="submit" value="Gönder" class="btn btn-danger" />
</form>