@model NitelikliBilisim.Core.ViewModels.areas.admin.reports.GroupBasedSalesReportGetVm
@{
    ViewData["Title"] = "Gelir Raporu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.common.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.light.css" rel="stylesheet" />
    <style>
        .table th, .table td {
            padding: 0.5rem;
        }
    </style>
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> <strong>Grup Bazlı Satış Raporu</strong>
    </div>
    <div class="card-body">
        <div class="row" style="margin-bottom:1%;">
            <div class="offset-md-3 col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Group Seçiniz</label>
                            <select class="form-control" id="select-groups">
                                @foreach (var group in Model.AllGroups)
                                {
                                    <option value="@group.Key">@group.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-4 col-md-4">
                        <button id="btn-fetch" class="btn btn-outline-success">Getir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="report" style="display:none">
    <!--Genel Grup Bilgileri-->
    <div class="card mb-4">
        <div class="card-header">
            Genel Grup Bilgileri
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Grup Adı</td>
                                <td>Eğitim</td>
                                <td>Eğitim Yeri</td>
                                <td>Başlangıç Tarihi</td>
                                <td>Eğitmen</td>
                                <td>Kontenjan</td>
                            </tr>
                        </thead>
                        <tbody id="tbody-group-general-info"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Öğrenciler-->
    <div class="card mb-4">
        <div class="card-header">
            Kayıtlı Öğrenciler
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="group-based-sales-report-grid">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Grup Giderleri-->

    <div class="card mb-4">
        <div class="card-header">
            Grup Giderleri
        </div>
        <div class="card-body">
            <div id="grid-expenses">

            </div>
        </div>
    </div>

  
</div>
@section postScripts{
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/vendor\devextreme\dist\js\dx.all.js"></script>
    <script src="~/vendor\devextreme-aspnet-data\js\dx.aspnet.data.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/20.1.7/js/localization/dx.messages.tr.js"></script>

    <script>
        DevExpress.localization.locale(navigator.language);
        /* elements */
        var btnFetch = $("#btn-fetch");
        var selectGroups = $("#select-groups");
        var tbodyGroupGeneralInfo = $("#tbody-group-general-info");
        var tbodyGroupExpensesInfo = $("#tbody-group-expenses-info");

        var reportDiv = $("#report");
        var generalGroupInfoDiv = $("#generalGroupInfo");
        /* assignments */
        btnFetch.on("click", btnFetch_onClick);
        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {
            $(selectGroups).select2();
        }

        function btnFetch_onClick() {
            createGeneralInformationTable();
            createStudentsGrid();
            createGroupExpenseGrid();
            reportDiv.slideDown("slow");

        }
        function createGeneralInformationTable() {
            var gId = selectGroups.val();
            $.ajax({
                url: `/admin/get-group-general-information?groupId=${gId}`,
                method: "get",
                success: (res) => {
                    if (res.isSuccess) {
                        console.log(res);
                        tbodyGroupGeneralInfo.html("");
                        var item = res.data;
                        var table = "";
                        table += "<tr>" +
                            `<td>${item.groupName} </td>` +
                            `<td>${item.educationName} </td>` +
                            `<td>${item.educationHost} - ${item.classroom} </td>` +
                            `<td>${item.startDate} </td>` +
                            `<td>${item.educatorName} </td>` +
                            `<td>${item.assignedStudentsCount}/${item.quota} </td>`;

                        tbodyGroupGeneralInfo.append(table);
                    }
                    else {
                        console.log(res.errors);
                        alert("Hata");
                    }
                }
            });

        }
        function createStudentsGrid() {
            var SERVICE_URL = "../../api/earningsreport/get-group-based-sales-report?groupId=" + selectGroups.val();
            $("#group-based-sales-report-grid").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: SERVICE_URL
                }),
                remoteOperations: {
                    paging: true,
                    filtering: true,
                    sorting: true,
                    grouping: true,
                    summary: true,
                    groupPaging: true
                },
                showBorders: true,
                showColumnLines: true,
                rowAlternationEnabled: true,
                showRowLines: true,
                wordWrapEnabled: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Ara..."
                },
                grouping: {
                    autoExpandAll: true
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                headerFilter: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                groupPanel: {
                    visible: true
                },
                "export": {
                    enabled: true,
                    fileName: "Grup Bazlı Satış Raporu_" + parseInt(Math.random() * 1000000000),
                    allowExportSelectedData: true
                },
                onContentReady: function () {
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20],
                    showInfo: true
                },
                columns: [
                    {
                        caption: "Kayıt Tarihi",
                        dataField: "registrationDate",
                        dataType: 'date',
                        format: 'dd/MM/yyyy',
                        width: 130
                    }, {
                        caption: "Ad",
                        dataField: "name",
                        width: 140

                    }, {
                        caption: "Soyad",
                        dataField: "surname"
                    },
                    {
                        caption: "Ödenen Tutar",
                        dataField: "paidPrice",
                        customizeText: function (paidPrice) {
                            return paidPrice.value + " ₺";
                        }
                    },
                    {
                        caption: "İşlem Ücreti",
                        dataField: "commissionFee",
                        customizeText: function (commissionFee) {
                            return commissionFee.value + " ₺";
                        }
                    },
                    {
                        caption: "Komisyon",
                        dataField: "commissionRate",
                        customizeText: function (commissionRate) {
                            return commissionRate.value + " ₺";
                        }
                    },
                    {
                        caption: "Kalan Tutar",
                        dataField: "merchantPayout",
                        customizeText: function (merchantPayout) {
                            return merchantPayout.value + " ₺";
                        }
                    }

                ],
                summary: {
                    totalItems: [
                        {
                            column: "name",
                            summaryType: "count",
                            displayFormat: "Toplam Kayıt: {0}"
                        }, {
                            column: "paidPrice",
                            summaryType: "sum",
                            displayFormat: "T: {0} ₺"
                        }, {
                            column: "commissionFee",
                            summaryType: "sum",
                            displayFormat: "T: {0} ₺"
                        }, {
                            column: "commissionRate",
                            summaryType: "sum",
                            displayFormat: "T: {0} ₺"
                        }, {
                            column: "merchantPayout",
                            summaryType: "sum",
                            displayFormat: "T: {0} ₺"
                        }
                    ]
                }
            });
        }
        function createGroupExpenseGrid() {
            $("#grid-expenses").dxDataGrid({
                dataSource: `/admin/educationgroup/GetGroupExpensesByGroupId?groupId=${selectGroups.val()}`,
                showBorders: true,
                showColumnLines: true,
                rowAlternationEnabled: true,
                showRowLines: true,
                wordWrapEnabled: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Ara..."
                },
                grouping: {
                    autoExpandAll: true
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                headerFilter: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                groupPanel: {
                    visible: true
                },
                "export": {
                    enabled: true,
                    fileName: "Grup Bazlı Satış Raporu_" + parseInt(Math.random() * 1000000000),
                    allowExportSelectedData: true
                },
                onContentReady: function () {
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20],
                    showInfo: true
                },
                columns: [{
                    caption: "Tarih",
                    dataField: "createdDate",
                    width: 100,
                    dataType: 'date',
                    format: 'dd/MM/yyyy'
                },
                {
                    caption: "Gider Tipi",
                    dataField: "expenseTypeName",
                    width: 200
                },
                {
                    caption: "Açıklama",
                    dataField: "description",
                    width: 350

                },
                {
                    caption: "Adet",
                    dataField: "count",
                    alignment: "center",
                },
                {
                    caption: "Tutar",
                    dataField: "price",
                    customizeText: function (price) {
                        return price.value + " ₺";
                    },
                    alignment: "center"
                },
                {
                    caption: "Toplam",
                    dataField: "totalPrice",
                    customizeText: function (totalPrice) {
                        return totalPrice.value + " ₺";
                    },
                    alignment: "center"
                }
                ],
                summary: {
                    totalItems: [
                        {
                            column: "expenseTypeName",
                            summaryType: "count",
                            displayFormat: "Adet: {0}",
                        },
                        {
                            column: "totalPrice",
                            summaryType: "sum",
                            displayFormat: "T:{0} ₺"
                        }]
                }
            });
        }

    </script>
}