
@{
    ViewData["Title"] = "İptal Formu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container margin_60_35">

    </div>
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <partial name="partials/_Form" />
            </div>
        </div>
    </div>
</main>