@*@model NitelikliBilisim.Core.ViewModels.areas.admin.education_groups.ListGetVm*@
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/assets/css/area-admin/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.common.css" rel="stylesheet" />
    <link href="~/vendor\devextreme\dist\css\dx.light.css" rel="stylesheet" />

    <style>
        .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child {
            width: 44px !important;
        }

        .dx-datagrid .dx-column-lines > td {
            border-right: none;
            vertical-align: middle !important;
        }

        #educationGrup-grid {
            margin-top: -15px !important;
        }
    </style>
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Eğitim Grupları
    </div>
    <div class="card-body">
        <div id="educationGrup-grid"></div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>

@section postScripts{
    <script src="~/assets/js/area-admin/jquery.dataTables.js"></script>
    <script src="~/assets/js/area-admin/dataTables.bootstrap4.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="~/vendor\devextreme\dist\js\dx.all.js"></script>
    <script src="~/vendor\devextreme-aspnet-data\js\dx.aspnet.data.js"></script>
    <script>
        /* fields */
        var confirmModalBuilder = new AlertSupport.ConfirmModalBuilder();

        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {
            createGrid();
        }

        /*DataGrid*/
        function createGrid() {
            $("#educationGrup-grid").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: "../../api/educationgroup/get-education-group-list"
                }),
                remoteOperations: {
                    paging: true,
                    filtering: true,
                    sorting: true,
                    grouping: true,
                    summary: true,
                    groupPaging: true
                },
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                wordWrapEnabled: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Ara..."
                },
                paging: {
                    pageSize: 10
                },
                onContentReady: function () {
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20],
                    showInfo: true
                },
                columns: [{
                    headerCellTemplate: $('<b style="color: black; font-weight: bold">Grup İsmi</b>'),
                    dataField: "groupName",
                    width: 140

                }, {
                    headerCellTemplate: $('<b style="color: black; font-weight: bold">Eğitim İsmi</b>'),
                    dataField: "educationName",
                    width: 270
                }, {
                    headerCellTemplate: $('<b style="color: black; font-weight: bold">Başlangıç Tarihi</b>'),
                    dataField: "startDate",
                    dataType: 'date',
                    format: 'dd/MM/yyyy'
                }, {
                    headerCellTemplate: $('<b style="color: black; font-weight: bold">Konum</b>'),
                    dataField: "hostName",
                    },
                    {
                        headerCellTemplate: $('<b style="color: black; font-weight: bold">Şehir</b>'),
                        dataField: "hostCity",
                        allowSorting: false,
                        allowSearch: false,
                        allowFiltering: false
                    },
                    {
                    headerCellTemplate: $('<b style="vertical-align:middle; color: black; font-weight: bold">İşlem</b>'),
                    allowSearch: false,
                    cellTemplate: function (container, options) {
                        var current = options.data;
                        var div = $('<div class="btn-group" style="display: inline-flex; width:"auto"></div>');

                        $(`<a title="Gruba Öğrenci Ata" class="btn btn-primary btn-sm" href="/admin/gruba-ogrenci-ata/${current.id}"><i class=\"fa fa-users\"></i><span style="display: block"></span></a>`)
                            .appendTo(div);
                        $(`<a title="Grup Ayarları" class="btn btn-warning btn-sm" href="/admin/grup/ayarlar/${current.id}"><i class=\"fa fa-cogs\"></i><span style="display: block"></span></a>`)
                            .appendTo(div);
                        $(`<a title="Grup Materyalleri" class="btn btn-success btn-sm" href="/admin/grup-materyalleri/${current.id}"><i class=\"fa fa-dollar\"></i><span style="display: block"></span></a>`)
                            .appendTo(div);
                        $(`<a title="Eğitim günlerini sıfırla" class="btn btn-dark btn-sm" href="/make-sure-lesson-days-created/${current.id}"><i class=\"fa fa-archive\"></i><span style="display: block"></span></a>`)
                            .appendTo(div);

                        div.appendTo(container);

                    },
                    alignment: "center"
                }
                ]
            });
        }
    </script>
}