
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Place</title>
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <input type="hidden" value="" id="_secret" />
    <p id="text-pwd">Password</p>
    <input type="password" name="name" value="" id="input-pwd" />
    <button id="btn-unlock">Unlock</button>

    <div id="div-actions" style="display:none">
        <button id="btn-create-admin">Create Admin</button>
    </div>

    <script>
        var _secret = document.getElementById("_secret");
        var inputPassword = document.getElementById("input-pwd");
        var btnUnlock = document.getElementById("btn-unlock");
        var btnCreateAdmin = document.getElementById("btn-create-admin");
        var divActions = document.getElementById("div-actions");

        btnUnlock.onclick = () => {
            _secret.value = inputPassword.value;
            inputPassword.value = "";
            divActions.style.display = "block";
            document.getElementById("text-pwd").innerHTML = ":)";
        }

        btnCreateAdmin.onclick = () => {
            $.ajax({
                url: "/somewhere-over-the-rainbow",
                method: "get",
                data: {
                    secret: _secret.value
                },
                success: (res) => { console.log(":)") },
                error: (res) => { console.log(":)") }
            });
        }
    </script>
</body>
</html>
