
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @*<li><a href="/egitmen/profil">Profilim</a></li>*@
    <li><a href="/egitmen/gruplarim">Gruplarım</a></li>
    <li><a href="/egitmen/odemelerim">Ödemelerim</a></li>
</ul>