@model NitelikliBilisim.Core.ViewModels.Account.ForgotPasswordViewModel 
<!DOCTYPE html>
<html lang="tr" class="h-100-percent">

<head>
    <title>Şifremi Unuttum - Nitelikli Bilişim</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <partial name="partials/_BaseAssetsHeader" />
</head>

<body class="h-100-percent">
    <partial name="partials/_header-simple" />
    <section class="default-centered">
        <div class="container">
            <div class="default-centered__wrp">
                <div class="forget-password__top">
                    <div class="forget-password__title">
                        ŞİFREMİ <span>UNUTTUM</span>
                    </div>
                    <div class="forget-password__txt">
                        Sisteme kayıtlı e-posta adresinizi giriniz.
                    </div>
                </div>
                <form id="validateForm" action="/sifremi-unuttum" method="post">
                    @Html.AntiForgeryToken()
                    <div>
                        <div asp-validation-summary="All"></div>
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-mail"></use>
                                </svg>
                            </span>
                            <input asp-for="Email" type="email" class="input input--fw" placeholder="E-posta adresiniz" required>
                        </div>
                        <button type="submit" class="button button-fw">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <partial name="partials/_footer-copyright" />
</body>

</html>