@model NitelikliBilisim.Core.ViewModels.Account.LoginViewModel

<!DOCTYPE html>
<html lang="tr" class="h-100-percent">

<head>
    <title>Nitelikli Bilişim</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <partial name="partials/_BaseAssetsHeader" />
</head>

<body class="h-100-percent">
    <section class="login">
        <partial name="partials/_header-simple" />
        <div class="login__img">
            <a href="./index.php" class="login__logo">
                <img src="./assets/img/logo-white.svg" alt="">
            </a>
            <img src="./assets/img/giris-yap-img.jpg" class="login__img-img pos-0" alt="">
            <div class="login__main-txt">
                <span>Güncel Proje Eğitimleri ile</span> <br>
                Aranan BT Uzmanı Ol!
            </div>
        </div>
        <div class="login__wrp aic pt-0">
            <div class="login__inner">
                <div class="login__title">
                    GİRİŞ <span class="colored-blue">YAP</span>
                </div>
                <form id="validateForm" class="login__content" action="giris-yap" method="post">
                    <div asp-validation-summary="All"></div>
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                    <div class="login__inner-form">
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="assets/img/icons.svg#icon-mail"></use>
                                </svg>
                            </span>
                            <input name="UserName" type="text" class="input input--fw" placeholder="E-posta adresiniz" required>
                        </div>
                        <div class="input__outer">
                            <span class="icon-outer input__icon">
                                <svg class="icon">
                                    <use xlink:href="assets/img/icons.svg#icon-lock"></use>
                                </svg>
                            </span>
                            <input type="password" name="Password" class="input input--fw" placeholder="Şifreniz" required>
                        </div>
                        <div class="login__forget">
                            <label class="main-checkbox reverse">
                                Beni Hatırla
                                <input id="RememberMe" value="true" name="RememberMe" type="checkbox" class="login-checkbox">
                                <input name="RememberMe" value="false" type="hidden" />
                                <span class="main-checkbox__checkmark"></span>
                            </label>
                            <a href="./sifremi-unuttum.php">Şifremi Unuttum</a>
                        </div>
                        <button type="submit" class="button button-fw">
                            Giriş Yap
                        </button>
                    </div>
                    <div class="login__is-logined mt-4">
                        Bir hesabın yok mu? <a href="/kayit-ol">Kayıt Ol</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <partial name="partials/_BaseAssetsBody" />
</body>
</html>
