@model NitelikliBilisim.App.Models.Account.RegisterGetVm

@{
    ViewBag.Title = "Kaydol";
}
<!DOCTYPE html>
<html lang="tr" class="h-100-percent">


<head>
    <title>Nitelikli Bilişim</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <partial name="partials/_BaseAssetsHeader" />
</head>

<body class="h-100-percent o-x-hidden">
    <section class="login">
        <partial name="partials/_header-simple" />
        <div class="login__img">
            <a asp-controller="Home" asp-action="Index" class="login__logo">
                <img src="~/assets/img/logo-white.svg" alt="">
            </a>
            <img src="~/assets/img/login-img.jpg" class="login__img-img" alt="">
            <div class="login__main-txt">
                <span>Güncel Proje Eğitimleri ile</span> <br>
                Aranan BT Uzmanı Ol!
            </div>
        </div>
        <div class="login__wrp">
            <div class="login__inner">
                <div class="login__title">
                    HESAP <span class="colored-blue">OLUŞTUR</span>
                </div>
                <div class="login__header">
                    <div class="login__header-buttons">
                        <div class="login__header-button js-login-header-step1 active">
                            <span>
                                Kişisel Bilgiler
                            </span>
                        </div>
                        <div class="login__header-button js-login-header-step2">
                            <span>
                                Eğitim Bilgileri
                            </span>
                        </div>
                    </div>
                    <div class="login__header-line">
                        <div class="login__header-line--circles">
                            <div class="login__header-line--circle-outer circle-step1 active">
                                <div class="login__header-line--circle">
                                    <span class="icon-outer circle-icon">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="login__header-line--circle-outer circle-step2">
                                <div class="login__header-line--circle"></div>
                            </div>
                        </div>
                        <div class="login__header-line--progress" style="width: 50%;"></div>
                    </div>
                </div>
                <form id="registerForm" class="login__content">
                    <div class="login__form login__form-step1 active">
                        <div class="formStep1">
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                                    </svg>
                                </span>
                                <input name="Name" id="input-name" type="text" class="input input--fw" placeholder="Adınız" required>
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                                    </svg>
                                </span>
                                <input name="Surname" id="input-surname" type="text" class="input input--fw" placeholder="Soyadınız" required>
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                                    </svg>
                                </span>
                                <input name="Phone" id="input-phone" type="text" class="input input--fw" placeholder="Telefon numaranız" required>
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-mail"></use>
                                    </svg>
                                </span>
                                <input name="Email" id="input-email" type="text" class="input input--fw" placeholder="E-posta adresiniz" required>
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-lock"></use>
                                    </svg>
                                </span>
                                <input name="Password" id="input-password" type="password" class="input input--fw" placeholder="Şifreniz" required>
                            </div>
                            <div class="input__outer">
                                <span class="icon-outer input__icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-lock"></use>
                                    </svg>
                                </span>
                                <input name="ConfirmPassword" id="input-confirm-password" type="password" class="input input--fw"
                                       placeholder="Şifrenizi tekrar yazınız" required>
                            </div>
                            <p style="display:none;" class="js-password-equal">Şifreler Eşit Değil</p>
                            <label class="main-checkbox reverse login__checkbox">
                                niteliklibilisim.com.tr‘ye ait <a href="#0">kullanım politikalarını</a> ve
                                <a href="#0">gizlilik sözleşmesini</a> okudum, kabul ediyorum.
                                <input type="checkbox" id="chk-terms-and-conditions" class="login-checkbox" name="AcceptedTerms" required>
                                <span class="main-checkbox__checkmark"></span>
                            </label>
                            <button type="button" class="button button-fw js-next-step2">
                                Devam et
                            </button>
                        </div>
                    </div>
                    <div class="login__form login__form-step2">
                        <div class="formStep2">
                            <div class="login__select-t-f">
                                <p>
                                    Nitelikli Bilişim Uzmanı Yetiştirme Programı kapsamında eğitim aldınız mı ya da eğitime devam ediyor
                                    musunuz?
                                </p>
                                <div class="input__outer select-signup no-icon">
                                    <select class="js-signup-select" id="select-isnbuy-student" name="IsNbuyStudent">
                                        <option value="false" hidden selected disabled>Seçiniz</option>
                                        <option value="true">Evet, Aldım.</option>
                                        <option value="false">Hayır, Almadım.</option>
                                    </select>
                                </div>
                                <div class="login__is-true">
                                    <span class="login__hr"></span>
                                    <div class="input__outer select-map-pin">
                                        <select class="js-education-place-select" id="select-education-centers" name="EducationCenter">
                                            <option value="" selected hidden disabled>Eğitim merkezi seçiniz</option>
                                            @foreach (var item in Model.EducationCenters)
                                            {
                                                <option value="@item.Key">@item.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="input__outer select-education-cat">
                                        <select class="js-education-categori-select" id="select-education-categories" name="EducationCategory">
                                            <option value="" selected hidden disabled>Eğitim kategorisi Seçiniz</option>
                                            @foreach (var item in Model.EducationCategories)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="input__outer input__datepicker">
                                        <span class="icon-outer input__icon">
                                            <svg class="icon">
                                                <use xlink:href="../../assets/img/icons.svg#icon-date-c"></use>
                                            </svg>
                                        </span>
                                        <input type="text" class="input input--fw js-datepicker" name="StartedAt" id="input-date-when-begun"
                                               placeholder="Eğitim aldığınız / alacağınız tarihi seçiniz">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="button button-fw js-button-step-finish login__finish-button">
                                Kaydol
                            </button>
                        </div>
                    </div>
                    <div class="login__is-logined">
                        Kayıtlı bir hesabın mı var? <a href="/giris-yap">Giriş yap</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class='main-overlay overlay js-close-modal'></div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/vendor/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <script src="~/assets/js/jquery.inputmask.min.js"></script>
    <script src="~/assets/js/datepicker.min.js"></script>
    <!-- <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.tr.min.js"></script> -->
    <script src="~/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/vendor/modal-video/js/jquery-modal-video.min.js"></script>
    <script src="~/vendor/card/dist/card.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/lib/cookie-agreement.js"></script>
    <script src="~/js/lib/security-support.js"></script>
    <script>
        /* fields */
        var __envoy = new StorageSupport.Envoy();

        /* elements */
        var inputName = $("#input-name");
        var inputSurname = $("#input-surname");
        var inputEmail = $("#input-email");
        var inputPhone = $("#input-phone");
        var selectEducationCenters = document.getElementById("select-education-centers");
        var selectEducationCategories = document.getElementById("select-education-categories");
        var selectIsNbuyStudent = document.getElementById("select-isnbuy-student");
        var inputDateWhenBegun = $("#input-date-when-begun");
        var inputUsername = $("#input-username");
        var inputPassword = $("#input-password");
        var inputConfirmPassword = $("#input-confirm-password");
        var chkTermsAndConditions = document.getElementById("chk-terms-and-conditions");

        $('.js-next-step2').bind('change click', function () {
            if ($('#registerForm').valid()) {
                $('.login__form-step1').removeClass('active');
                $('.login__form-step2').addClass('active');
                var loginContentHeight = $('.login__content .login__form.active').height();
                $('.login__content').css('height', loginContentHeight);
                $('.login__is-logined').css('top', loginContentHeight + 20);
                $('.login__header-line--progress').css('width', '100%');
                $('.circle-step1').addClass('preved');
                $('.circle-step2').addClass('active');
                $('.js-login-header-step1').removeClass('active');
                $('.js-login-header-step2').addClass('active');
                $('.js-password-equal').hide();
            //}
        }});

        $('.login__finish-button').click(function () {
            btnSubmit_onClick();
        });
        

        $('#registerForm').validate({
            errorLabelContainer: $('#registerForm div.error'),
            errorContainer: 'div.error-messages',
            errorLabelContainer: $('ul', 'div.error-messages'),
            wrapper: 'li',
            rules: {
                Name: {
                    required: true,
                },
                Email: {
                    required: true,
                    email: true,
                },
                Surname: {
                    required: true,
                },
                Phone: {
                    required: true,
                },
                UserName: {
                    required: true,
                },
                Password: {
                    required: true,
                },
                ConfirmPassword: {
                    equalTo: "#input-password"
                },
                AcceptedTerms: {
                    required: true,
                },
            },
            messages: {
                Name: 'Bu alan zorunludur.',
                Surname: 'Bu alan zorunludur.',
                Password: 'Bu alan zorunludur.',
                ConfirmPassword: 'Şifreler uyuşmuyor.',
                UserName: 'Bu alan zorunludur.',
                Phone: 'Bu alan zorunludur.',
                Email: {
                    required: 'Bu alan zorunludur.',
                    email: 'Lütfen geçerli bir e-posta adresi giriniz.',
                },
                AcceptedTerms: 'Bu alan zorunludur.'
            },
            highlight: function (element) {
                $(element)
                    .parent()
                    .addClass('outer-error');
            },
            unhighlight: function (element) {
                $(element)
                    .parent()
                    .removeClass('outer-error');
            },
        });
        
        /* assignments */
        $(document).ready(document_onLoad);
        window.onbeforeunload = window_onBeforeUnload;

        /* events */
        function document_onLoad() {
            chkTermsAndConditions.checked = false;
            if (__envoy.isStorageExists("register")) {
                var stored = __envoy.getRegisterForm();
                setStoredData(stored);
            }

        }
        function window_onBeforeUnload() {
            //if (__envoy.isStorageExists("register")) {
            //    __envoy.setRegisterForm({
            //        name: inputName.val(),
            //        surname: inputSurname.val(),
            //        email: inputEmail.val(),
            //        phone: inputPhone.val(),
            //        isNbuy: selectIsNbuyStudent.options[selectIsNbuyStudent.selectedIndex].value
            //    });
            //}
        }
        function btnSubmit_onClick(e) {
            var data = {
                Name: inputName.val(),
                Surname: inputSurname.val(),
                Email: inputEmail.val(),
                Phone: inputPhone.val(),
                Password: inputPassword.val(),
                ConfirmPassword: inputConfirmPassword.val(),
                UserName: inputUsername.val(),
                IsNbuyStudent: selectIsNbuyStudent.options[selectIsNbuyStudent.selectedIndex].value,
                StartedAt: inputDateWhenBegun.val(),
                EducationCenter: selectEducationCenters.options[selectEducationCenters.selectedIndex].value,
                EducationCategory: selectEducationCategories.options[selectEducationCategories.selectedIndex].value,
                AcceptedTerms: chkTermsAndConditions.checked
            };
            var tokenVerifier = new SecuritySupport.TokenVerifier();
            data = tokenVerifier.addToken("registerForm", data);
            $.ajax({
                url: "kayit-ol",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        location.href = "/giris-yap";
                    }
                }
            });
        }


        /* functions */
        function setStoredData(stored) {
            inputName.val(stored.name);
            inputSurname.val(stored.surname);
            inputEmail.val(stored.email);
            inputPhone.val(stored.phone);
            if (stored.isNbuy != null) {

            }
        }
    </script>
</body>
</html>