<p>niteliklibilisim.com.tr Çerez Politikası (aşağıda kısaca “Politika” olarak anılacaktır.) Firma Ünvanı (aşağıda kısaca “Nitelikli Bilişim” olarak anılacaktır.) tarafından hazırlanmıştır ve niteliklibilisim.com.tr Gizlilik politikasının ekini oluşturmaktadır.</p>
<p>Birçok web sitesi gibi, niteliklibilisim.com.tr’de de (aşağıda kısaca “Site” olarak anılacaktır.) ziyaretçilere kişisel içerik ve reklamlar göstermek, Site üzerinde trafik analizi gerçekleştirmek ve ziyaretçi kullanım alışkanlıklarını anlamak amacıyla Çerezler kullanılmaktadır (Site’de kullanılan Çerez türleri ve kullanım amaçları için bkz. [Hangi Çerezler Kullanılmaktadır?]).</p>
<p>niteliklibilisim.com.tr, bu Politika’yı Site’de hangi Çerezlerin kullanıldığını ve ziyaretçilerin bu konudaki tercihlerini nasıl yönetebileceğini açıklamak amacıyla hazırlamıştır.</p>
<h3>Çerez ("Cookie") Nedir?</h3>
<p>Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla bilgisayarınıza (ya da akıllı telefon veya tablet gibi diğer cihazlarınıza) kaydedilen ve genelde harf ve rakamlardan oluşan çok küçük metin dosyalarıdır. Çerezler, ziyaretçilere ilişkin isim, cinsiyet veya adres gibi kişisel verileri içermezler.</p>
<p>Çerezler, ziyaret ettiğiniz web sitesini yöneten sunucular tarafından oluşturulurlar. Böylelikle ziyaretçi aynı siteyi ziyaret ettiğinde sunucu bunu anlayabilir. Çerezler, web sitesi sahiplerine aynı ziyaretçinin siteyi yeniden ziyaret ettiğini gösteren kimlik kartlarına benzetilebilir.</p>
<p>Çerezler konusundan daha detaylı bilgi için www.aboutcookies.org ve www.allaboutcookies.org adreslerini ziyaret edebilirisiniz.</p>
<h3>Hangi Çerezler Kullanılmaktadır?</h3>
<p>Çerezler, sahipleri, kullanım ömürleri ve kullanım amaçları bakımından sınıflandırılabilir.</p>
<ul>
    <li>Sahibine göre, site çerezleri ve üçüncü taraf Çerezler kullanılmaktadır. site çerezleri, niteliklibilisim.com.tr tarafından yönetilirken, üçüncü taraf çerezlerini farklı firmalar yönetmektedir.</li>
    <li>Kullanım ömrüne göre, oturum çerezleri ve kalıcı çerezler kullanılmaktadır. Oturum çerezleri ziyaretçinin site’i terk etmesiyle birlikte silinirken, kalıcı çerezler değişen sürelerle ziyaretçilerin cihazlarında kalmaktadır.</li>
    <li>Kullanım amaçlarına göre, site’de teknik çerezler, doğrulama çerezleri, hedefleme/reklam çerezleri, kişiselleştirme çerezleri ve analitik çerezler kullanılmaktadır.</li>
</ul>
<h3>Çerezler Neden Kullanılmaktadır?</h3>
<p>site’de, Çerezler aşağıdaki amaçlar kapsamında kullanılmaktadır:</p>
<ul>
    <li>site’nin çalışması için gerekli temel fonksiyonları gerçekleştirmek. Örneğin, site üyelerinin, üyelik bilgileriyle giriş yapabilmesi.</li>
    <li>site’yi analiz etmek ve site’nin performansını arttırmak. Örneğin, site’yi ziyaret edenlerin sayısının tespit edilmesi ve buna göre performans ayarlarının yapılması ya da ziyaretçilerin aradıklarını bulmalarının kolaylaştırılması.</li>
    <li>site’nin işlevselliğini arttırmak ve kullanım kolaylığı sağlamak. Örneğin, site’yi ziyaret eden ziyaretçinin daha sonraki ziyaretinde kullanıcı adı bilgisinin ya da arama sorgularının hatırlanması veya site üzerinden üçüncü taraf sosyal medya faaliyetlerine bağlantı sağlamak.</li>
    <li>Kişiselleştirme, hedefleme ve reklamcılık faaliyeti gerçekleştirmek. Örneğin, ziyaretçilerin görüntüledikleri sayfa ve ürünler üzerinden ziyaretçilerin ilgi alanlarıyla ilgili reklam gösterilmesi.</li>
</ul>
<h3>Çerez Tercihleri Nasıl Yönetilir?</h3>
<p>Ziyaretçilerin kendilerine ait hangi kişisel verilerin toplanabildiği konusunda tercihlerini serbestçe kullanabilmesi niteliklibilisim.com.tr için son derece önemlidir. Bununla birlikte, site’in çalışması için zorunlu olan Çerezler konusunda tercih yönetimi mümkün olamamaktadır. Ayrıca, bazı Çerezlerin kapatılması halinde site’in çeşitli fonksiyonlarının çalışmayabileceğini hatırlatırız.</p>
<p>site’de kullanılan Çerezlere dair tercihlerini ne şekilde yönetebileceğinize ilişkin bilgiler aşağıdaki gibidir:</p>
<ul>
    <li>Ziyaretçiler, site’i görüntüledikleri tarayıcı ayarlarını değiştirerek çerezlere ilişkin tercihlerini kişiselleştirme imkanına sahiptir. Eğer kullanılmakta olan tarayıcı bu imkânı sunmaktaysa, tarayıcı ayarları üzerinden Çerezlere ilişkin tercihleri değiştirmek mümkündür. Böylelikle, tarayıcının sunmuş olduğu imkanlara göre farklılık gösterebilmekle birlikte, veri sahiplerinin çerezlerin kullanılmasını engelleme, çerez kullanılmadan önce uyarı almayı tercih etme veya sadece bazı Çerezleri devre bırakma ya da silme imkanları bulunmaktadır. Bu konudaki tercihler kullanılan tarayıcıya göre değişiklik göstermekle birlikte genel açıklamaya https://www.aboutcookies.org/ adresinden ulaşmak mümkündür. Çerezlere ilişkin tercihlerin, ziyaretçinin site’e erişim sağladığı her bir cihaz özelinde ayrı ayrı yapılması gerekebilecektir.</li>
    <li>Google Analytics tarafından yönetilen Çerezleri kapatmak için tıklayınız.</li>
    <li>Google tarafından sağlanan kişiselleştirilmiş reklam deneyimini yönetmek için tıklayınız.</li>
    <li>Birçok firmanın reklam faaliyetleri için kullandığı çerezler bakımından tercihler Your Online Choices üzerinden yönetilebilir.</li>
    <li>Mobil cihazlar üzerinden Çerezleri yönetmek için mobil cihaza ait ayarlar menüsü kullanılabilir.</li>
</ul>
<h3>Ziyaretçiler Hangi Haklara Sahip?</h3>
<p>6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun 11. maddesi uyarınca ziyaretçiler, niteliklibilisim.com.tr’e başvurarak, kendirleriyle ilgili,</p>
<ul>
    <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
    <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
    <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
    <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
    <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
    <li>Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
    <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
    <li>
        Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme
        haklarına sahiptir.
    </li>
</ul>
<p>Söz konusu haklar, kişisel veri sahipleri tarafından yazılı olarak ya da kayıtlı elektronik posta adresi üzerinden iletildiğinde her hâlükârda 30 (otuz) gün içerisinde değerlendirilerek sonuçlandırılacaktır. Taleplere ilişkin olarak herhangi bir ücret talep edilmemesi esas olmakla birlikte, niteliklibilisim.com.tr, Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret tarifesi üzerinden ücret talep etme hakkını saklı tutar.</p>
<h3>Rıza ve Politika'daki Değişiklikler</h3>
<p>niteliklibilisim.com.tr, Politika ile ziyaretçilerine Çerez kullanımı konusunda detaylı açıklama sunmayı ve Çerez tercihleri konusunda bilgilendirmede bulunmayı hedeflemiştir. Bu bakımdan, site’de yer alan Çerez bilgilendirme uyarısının kapatılması ve site’nin kullanmaya devam edilmesi halinde Çerez kullanımına rıza verildiği kabul edilmektedir. Ziyaretçilerin Çerez tercihlerini değiştirme imkânı her zaman saklıdır.</p>
<p>niteliklibilisim.com.tr, Politika hükümlerini dilediği zaman değiştirebilir. Güncel Politika site’de yayınlandığı tarihte yürürlük kazanır.</p>
<p>Son güncelleme tarihi: 10.01.2020</p>
<h3>Oturum Çerezleri</h3>
<p>
    Bu tür çerezlerin kullanılmasının temel amacı ziyaretiniz süresince site’in düzgün bir biçimde çalışmasını sağlamaktır.
    Örneğin; birden fazla sayfadan oluşan çevrimiçi formları doldurmanızın sağlanmaktadır.
</p>
<h3>Kalıcı Çerezler</h3>
<p>
    Kalıcı çerezler site’in işlevselliğini artırmak, ziyaretçilerimize daha hızlı ve iyi bir hizmet sunmak amacıyla kullanılan çerez türleridir. Bu tür çerezler ziyaretçi tercihlerini hatırlamak için kullanılır ve tarayıcılar vasıtasıyla kullanılan cihazda depolanır.
    Kalıcı çerezlerin bazı türleri site’i kullanım amacınız gibi hususlar göz önünde bulundurarak sizlere özel öneriler sunulması için kullanılabilmektedir.
    Kalıcı çerezler sayesinde site, aynı cihazla tekrardan ziyaret etmeniz durumunda, cihazınızda site tarafından oluşturulmuş bir çerez olup olmadığı kontrol edilir ve var ise, sizin siteyi daha önce ziyaret ettiğiniz anlaşılır ve size iletilecek içerik bu doğrultuda belirlenir ve böylelikle sizlere daha iyi bir hizmet sunulur.
</p>
<h3>Teknik Çerezler</h3>
<p>Teknik çerezler ile site’in çalışması sağlanmakta, internet sitesinin çalışmayan sayfaları ve alanları tespit edilmektedir.</p>
<h3>Doğrulama Çerezleri</h3>
<p>Ziyaretçilerin şifrelerini kullanarak site’e giriş yapmaları durumunda, bu tür çerezler ile, ziyaretçinin site’de ziyaret ettiği her bir sayfada site kullanıcısı olduğu belirlenerek, kullanıcının her sayfada şifresini yeniden girmesi önlenir.</p>
<h3>Hedefleme/Reklam Çerezleri</h3>
<p>site’de kullanıcılara sunulan reklamları özelleştirmek ve zaten görüntülenmiş reklamların tekrar gösterilmesini engellemek için kullanılan çerez türleridir.</p>
<h3>Kişiselleştirme Çerezleri</h3>
<p>Kullanıcıların tercihlerini farklı site sayfalarını ziyarette de hatırlamak için kullanılan çerezlerdir. Örneğin, seçmiş olduğunuz dil tercihinizin hatırlanması.</p>
<h3>Analitik Çerezler</h3>
<p>Analitik çerezler ile site’i ziyaret edenlerin sayıları, site’de görüntülenen sayfaların tespiti, site ziyaret saatleri, site sayfaları kaydırma hareketleri gibi analitik sonuçların üretimini sağlayan çerezlerdir.</p>