<footer class="footerWrap">
    <div class="container">
        <div class="row">
            <div class="footer footer--other">
                <div class="footer__bottom">
                    <span>
                        <a href="">
                            <img src="~/assets/img/nitelikli-bilisim_logo-dark.svg" alt="Nitelikli bilişim logo" class="mr-4"
                                 height="45" />
                        </a>
                        Copyright © 2021 Nitelikli Bilişim
                    </span>

                    <nav>
                        <a asp-controller="Home" asp-action="TermsOfUse">Kullanım Koşulları</a>
                        <a asp-controller="Home" asp-action="NonDisclosureAgreement">Gizlilik Koşullları</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>