<footer class="footerWrap">
    <div class="container">
        <div class="row">
            <div class="footer">
                <div class="footer__top">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="../../assets/img/nitelikli-bilisim_logo-dark.svg" alt="Nitelikli bilişim logo" height="45" />
                    </a>

                    <div class="footer-simple__payments">
                        <div class="footer-simple__payments-pays">
                            <img src="../../assets/img/payments.png" alt="">
                        </div>
                        <div class="footer-simple__payments-secure">
                            <img src="../../assets/img/payments-secure.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <span>Copyright © 2021 Nitelikli Bilişim</span>

                    <nav>
                        <a asp-controller="Home" asp-action="TermsOfUse">Kullanım Koşulları</a>
                        <a asp-controller="Home" asp-action="NonDisclosureAgreement">Gizlilik Koşullları</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>