<header class="header-simple">
    <a asp-controller="Home" asp-action="Index" class="header-simple__img">
        <img src="~/assets/img/nitelikli-bilisim_logo-dark.svg" alt="Nitelikli bilişim logo" />
    </a>
</header>