<footer class="footerWrap">
    <div class="container">
        <div class="row">
            <div class="footer">
                <div class="footer__top col-12">
                    <a href="">
                        <img src="~/assets/img/nitelikli-bilisim_logo-dark.svg" alt="Nitelikli bilişim logo" height="45" />
                    </a>

                    <nav>
                        <a href="">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-facebook"></use>
                                </svg>
                            </span>
                        </a>
                        <a href="">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-twitter"></use>
                                </svg>
                            </span>
                        </a>
                        <a href="">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-instagram"></use>
                                </svg>
                            </span>
                        </a>
                        <a href="">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-linkedin"></use>
                                </svg>
                            </span>
                        </a>
                        <a href="">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-youtube"></use>
                                </svg>
                            </span>
                        </a>
                    </nav>
                </div>
                <div class="footer__middle">
                    <div class="col-12 col-md-12 col-xl-4 col-lg-5">
                        <h6 class="title title--blue mb-3">E-Bülten Aboneliği</h6>

                        <p class="mb-4">
                            Eğitimlerimiz hakkında gelişmeleri almak için bültenimize abone ol!
                        </p>

                        <form method="post" id="newsletter-subscribe-form" asp-action="SubscribeToNewsletter" asp-controller="Home"
                              data-ajax-success="onNewsletterSubsciptionSuccess"
                              data-ajax-failure="onNewsletterSubsciptionFailed"
                              data-ajax="true" data-ajax-method="POST">
                            @Html.AntiForgeryToken()
                            <span class="icon-outer footer__mail-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-mail"></use>
                                </svg>
                            </span>
                            <input type="email" placeholder="E-mail Adresiniz" name="email" class="input" required />
                            <button class="button">
                                <span class="icon-outer">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 offset-lg-1 offset-xl-2">
                        <div class="row">
                            <div class="col-12 col-md-6 footer__outer">
                                <div class="footer__inner">
                                    <h6 class="title title--blue">Proje Eğitim Kategorileri</h6>

                                    <nav>
                                        <li><a href="/egitimler/web-ve-mobil-programlama">Web ve Mobil Programlama</a></li>
                                        <li><a href="/egitimler/sistem-ve-ag-yonetimi">Sistem ve Ağ Yönetimi</a></li>
                                        <li><a href="/egitimler/siber-guvenlik">Siber Güvenlik</a></li>
                                        <li><a href="/egitimler/bulut-bilisim">Bulut Bilişim</a></li>
                                        <li><a href="/egitimler/oyun-programlama">Oyun Programlama</a></li>
                                        <li><a href="/egitimler/kurumsal-kaynak-planlama">Kurumsal Kaynak Planlama</a></li>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 footer__outer">
                                <div class="footer__inner">
                                    <h6 class="title title--blue">Kurumsal</h6>
                                    <nav>
                                        <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                                    </nav>
                                     
                                    <div class="footer__linkWrap">
                                        <li><a asp-controller="Home" asp-action="EducatorApplication" class="title title--blue">Eğitmen Başvurusu</a></li>
                                        <li><a asp-controller="Blog" asp-action="List" class="title title--blue">Blog</a></li>
                                        <li><a asp-controller="Home" asp-action="FrequentlyAskedQuestions" class="title title--blue">SSS</a></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <span>Copyright © 2020 Nitelikli Bilişim</span>

                    <nav>
                        <a href="">Kullanım Koşulları</a>
                        <a href="">Gizlilik Koşullları</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>


