@using Microsoft.AspNetCore.Identity
@using NitelikliBilisim.Core.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<header class="header fadeInDown">
    <div id="logo">
        <a href="/"><img src="~/assets/img/nb_logo_sm.png" width="149" height="42" data-retina="true" alt=""></a>
    </div>
    @*<div id="logo">
            <a href="/">LOGO</a>
        </div>*@
    <ul id="top_menu">
        @if (!User.Identity.IsAuthenticated)
        {
            <li><a href="/giris-yap" class="login">GİRİŞ YAP</a></li>
        }
        <li><a href="#0" class="search-overlay-menu-btn">Arama</a></li>
        <li class="hidden_mobile"><a href="/biz-kimiz">BİZ KİMİZ?</a></li>
        <li><a href="/sepet" style="background-color:#ef8d6f !important" class="btn_1 rounded" id="layout-header-cart"><i class="hidden_mobile pe-7s-cart"></i> (0)</a></li>
        @if (!User.Identity.IsAuthenticated)
        {
            <li class="hidden_mobile"><a href="/kayit-ol" class="btn_1 rounded">KAYDOL</a></li>
        }
        else
        {
            <li><a href="/cikis-yap" class="btn_1">Çıkış Yap</a></li>
        }
        <li>
            <div class="hamburger hamburger--spin">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </li>
    </ul>
    <!-- /top_menu -->
</header>
<!-- /header -->

<div id="main_menu">
    <div class="container">
        <nav class="version_2">
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-3">
                        <h3>Kullanıcı</h3>
                        <ul>
                            <li><a href="/giris-yap">Profil</a></li>
                            <li><a href="/sepet">Sepet</a></li>
                            <li><a href="/sepet">Satın Alma Geçmişi</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <h3>Kullanıcı</h3>
                        <ul>
                            <li><a href="/giris-yap">Giriş yap</a></li>
                            <li><a href="/kayit-ol">Kaydol</a></li>
                        </ul>
                    </div>
                }

                <div class="col-md-3">
                    <h3>NBuy Projeleri</h3>
                    <ul>
                        <li><a href="/tum-egitimler">Web ve Mobil Programlama</a></li>
                        <li><a href="/tum-egitimler">Sistem ve Ağ Yönetimi</a></li>
                        <li><a href="/tum-egitimler">Siber Güvenlik</a></li>
                        <li><a href="/tum-egitimler">Bulut Bilişim</a></li>
                        <li><a href="/tum-egitimler">Oyun Programlama</a></li>
                        <li><a href="/tum-egitimler">Kurumsal Kaynak Planlama</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3></h3>
                    <ul>
                        @*<li><a href="#0">Menu 1</a><span class="badge_info">New</span></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="404.html">404 page</a></li>
                            <li><a href="agenda-calendar.html">Agenda Calendar</a></li>
                            <li><a href="faq.html">Faq</a></li>
                            <li><a href="help.html">Help</a></li>*@
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Sözleşme Metinleri</h3>
                    <ul>
                        <li> <span><a href="#" data-toggle="modal" data-target="#header-obf-modal">Ön Bilgilendirme Formu</a></span></li>
                        <li> <span><a href="#" data-toggle="modal" data-target="#header-ch-modal">Cayma Hakkı</a></span></li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </nav>
        <div class="follow_us">
            <ul>
                <li>BİZİ TAKİP EDİN</li>
                <li><a href="https://www.facebook.com/NBUYProjeEgitimleri"><i class="ti-facebook"></i></a></li>
                <li><a href="https://twitter.com/NbuyProjeEgitim"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="https://www.instagram.com/niteliklibilisim/"><i class="ti-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /main_menu 2-->

<div class="search-overlay-menu">
    <span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
    <form onsubmit="return false;">
        <input value="" name="q" type="search" placeholder="Ara..." id="input-hidden-search" />
        <button type="button" id="btn-hidden-search">
            <i class="icon_search"></i>
        </button>
    </form>
</div><!-- End Search Menu -->
<!-- Modal obf -->
<div class="modal fade" id="header-obf-modal" tabindex="-1" role="dialog" aria-labelledby="headerObfLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="headerObfLabel">Ön Bilgilendirme Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal terms -->
<div class="modal fade" id="header-ch-modal" tabindex="-1" role="dialog" aria-labelledby="headerChLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="headerChLabel">Cayma Hakkı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    @* TODO: Burası partial yapılabilir. *@
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nunc ligula, cursus non erat non, vehicula blandit odio. Aliquam mi dui, efficitur non commodo ut, placerat ac odio. Praesent rutrum lacus velit. Duis vehicula a odio at mattis. Vivamus tincidunt sem nisi, et elementum nibh ullamcorper non. Maecenas dapibus diam orci, in mollis tellus maximus a. Aliquam mollis, est eget molestie semper, turpis nulla faucibus mauris, sit amet efficitur nisi ante a eros. Duis laoreet in nibh ut sollicitudin. Sed ut bibendum erat. Ut rhoncus arcu non turpis finibus congue. Aliquam sed commodo neque, tempus gravida tellus.

                    Vivamus rhoncus ex rhoncus, gravida quam eu, congue tellus. Fusce sed risus facilisis, varius nulla nec, ullamcorper libero. Integer a sapien odio. Suspendisse dignissim elementum interdum. Pellentesque egestas ligula leo, vel faucibus felis lacinia vel. Vestibulum luctus non ex in euismod. Cras mattis nibh et tellus mattis placerat. Donec id vestibulum est, id cursus nisi. Proin nec egestas felis, et luctus libero. Nunc eget sem dignissim, viverra lorem quis, aliquet turpis. Aliquam erat volutpat. Nullam sit amet auctor quam, ac vestibulum libero. Nunc luctus sagittis dapibus. In malesuada commodo quam, ut ultrices augue faucibus non.

                    Nunc dignissim blandit hendrerit. Mauris eu placerat est. Sed porttitor nunc quis purus viverra eleifend. Vivamus malesuada, leo in maximus dictum, lacus libero mollis mi, vitae fermentum erat urna et elit. Phasellus dapibus ullamcorper placerat. Sed tempus lacus eu elit aliquam porta. Pellentesque auctor, tellus eget eleifend scelerisque, ex justo vulputate neque, quis elementum turpis dolor et neque. Curabitur at rutrum nibh.

                    Aliquam dignissim tellus ut justo fermentum, eget euismod ligula condimentum. Mauris hendrerit lorem rhoncus tempor dictum. Nam ut metus vel mi congue tincidunt. Nunc molestie odio turpis, non interdum enim luctus et. Maecenas a ante vitae quam pretium molestie ac venenatis urna. Donec ornare sem neque, id volutpat sem euismod vel. Donec eu risus ex. Morbi pulvinar enim dui, a pellentesque magna congue sit amet. Phasellus non molestie libero, eget vestibulum dui. Pellentesque faucibus euismod lorem sit amet vehicula. Fusce dignissim volutpat dolor, a rutrum ipsum efficitur vel. Aliquam posuere sapien mauris, sed convallis risus imperdiet id. Morbi semper ut nisi non malesuada. Vestibulum maximus imperdiet varius. Maecenas ultricies, sem eget sagittis fringilla, nunc nisi molestie mi, nec placerat ipsum ex ut orci. Etiam eget ante libero.

                    Quisque luctus varius tellus nec porttitor. Fusce sodales facilisis lacus sed laoreet. Donec vel varius felis, id rutrum nunc. Proin pulvinar quis metus at dapibus. Quisque non tellus eu elit iaculis mattis vitae sed justo. Quisque dignissim tortor non quam tincidunt sodales. Aenean et magna auctor, faucibus purus sed, porttitor quam. Etiam vehicula, purus et blandit vestibulum, erat velit varius lectus, id vehicula odio massa id nulla. Suspendisse consequat sapien eu est suscipit luctus. Ut fringilla ultrices sollicitudin. Integer viverra augue lacus, id mattis sapien congue ornare.

                    Duis in nibh pharetra turpis rutrum tempor nec ac erat. Suspendisse auctor tempus mollis. Ut bibendum commodo mauris eget suscipit. Quisque blandit metus in ex euismod vehicula. Curabitur ornare commodo risus at rhoncus. Quisque finibus vel dolor eget interdum. Duis facilisis justo tincidunt suscipit tincidunt. Cras consequat placerat lectus a facilisis. Aliquam at tellus facilisis justo lobortis euismod vel in dui. Sed ornare nulla non arcu consectetur, eget venenatis risus efficitur. Aenean suscipit bibendum arcu, a luctus elit aliquam a.

                    In aliquet interdum libero, non tempor felis consequat sed. Integer risus purus, pharetra sit amet felis et, convallis dapibus ante. Cras convallis blandit mauris, et dignissim elit. Etiam non lobortis tellus. Nullam gravida lorem quis mauris vestibulum, eu fringilla quam tempor. Sed dapibus nibh in risus feugiat elementum. Nulla scelerisque ante vitae tincidunt placerat.

                    In quis augue lorem. Duis vel dui sit amet dui dapibus laoreet. Maecenas vitae gravida mauris. Proin lacinia, massa nec lacinia rutrum, sem massa egestas dolor, eget condimentum metus libero ac leo. Nullam at erat eget ligula egestas porttitor. Sed quis ligula eget arcu cursus fermentum. Quisque sapien magna, fringilla nec congue id, consectetur sit amet elit. Curabitur velit tortor, posuere ac ligula ut, tincidunt sagittis diam. Nam nec molestie lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam nec vulputate mi. Phasellus malesuada facilisis ullamcorper. Nullam mattis, metus non fringilla ullamcorper, augue risus egestas metus, ut ultricies nunc dolor a sapien.

                    Sed lobortis purus eu nulla porttitor, ac cursus diam aliquam. Nullam aliquet arcu est, vel porta diam aliquam et. Nulla condimentum nulla id fringilla dictum. In hac habitasse platea dictumst. Nulla facilisi. Fusce vel efficitur neque. Maecenas ullamcorper aliquet pulvinar.

                    Aliquam efficitur ut velit a fermentum. Donec vitae fringilla neque. Fusce mattis lorem est, ac feugiat mauris tristique nec. Aenean tincidunt mattis nunc, at sagittis augue cursus nec. Quisque venenatis diam non faucibus mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce vitae bibendum lacus. Donec dapibus elit non lectus ultricies tincidunt. Aenean suscipit nibh nibh, sed lobortis metus mattis vel.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->