@using Microsoft.AspNetCore.Identity
@using NitelikliBilisim.Core.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<header class="header fadeInDown">
    <div id="logo">
        <a href="/"><img src="~/assets/img/nb_logo_sm.png" width="149" height="42" data-retina="true" alt=""></a>
    </div>
    @*<div id="logo">
            <a href="/">LOGO</a>
        </div>*@
    <ul id="top_menu">
        @if (!User.Identity.IsAuthenticated)
        {
            <li><a href="/giris-yap" class="login">GİRİŞ YAP</a></li>
        }
        <li><a href="#0" class="search-overlay-menu-btn">Arama</a></li>
        <li class="hidden_mobile"><a href="/biz-kimiz">BİZ KİMİZ?</a></li>
        <li><a href="/sepet" style="background-color:#ef8d6f !important" class="btn_1 rounded" id="layout-header-cart"><i class="hidden_mobile pe-7s-cart"></i> (0)</a></li>
        @if (!User.Identity.IsAuthenticated)
        {
            <li class="hidden_mobile"><a href="/kayit-ol" class="btn_1 rounded">KAYDOL</a></li>
        }
        else
        {
            <li><a href="/cikis-yap" class="btn_1">Çıkış Yap</a></li>
        }
        <li>
            <div class="hamburger hamburger--spin">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </li>
    </ul>
    <!-- /top_menu -->
</header>
<!-- /header -->

<div id="main_menu">
    <div class="container">
        <nav class="version_2">
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-3">
                        <h3>Kullanıcı</h3>
                        <ul>
                            <li><a href="/giris-yap">Profil</a></li>
                            <li><a href="/sepet">Sepet</a></li>
                            <li><a href="/sepet">Satın Alma Geçmişi</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <h3>Kullanıcı</h3>
                        <ul>
                            <li><a href="/giris-yap">Giriş yap</a></li>
                            <li><a href="/kayit-ol">Kaydol</a></li>
                        </ul>
                    </div>
                }

                <div class="col-md-3">
                    <h3>NBuy Projeleri</h3>
                    <ul>
                        <li><a href="/tum-egitimler">Web ve Mobil Programlama</a></li>
                        <li><a href="/tum-egitimler">Sistem ve Ağ Yönetimi</a></li>
                        <li><a href="/tum-egitimler">Siber Güvenlik</a></li>
                        <li><a href="/tum-egitimler">Bulut Bilişim</a></li>
                        <li><a href="/tum-egitimler">Oyun Programlama</a></li>
                        <li><a href="/tum-egitimler">Kurumsal Kaynak Planlama</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3></h3>
                    <ul>
                        @*<li><a href="#0">Menu 1</a><span class="badge_info">New</span></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="404.html">404 page</a></li>
                            <li><a href="agenda-calendar.html">Agenda Calendar</a></li>
                            <li><a href="faq.html">Faq</a></li>
                            <li><a href="help.html">Help</a></li>*@
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Sözleşme Metinleri</h3>
                    <ul>
                        <li> <span><a href="#" data-toggle="modal" data-target="#obf-modal">Ön Bilgilendirme Formu</a>'</span></li>
                        <li> <span><a href="#" data-toggle="modal" data-target="#mss-modal">Mesafeli Satış Sözleşmesi</a></span></li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </nav>
        <div class="follow_us">
            <ul>
                <li>BİZİ TAKİP EDİN</li>
                <li><a href="https://www.facebook.com/NBUYProjeEgitimleri"><i class="ti-facebook"></i></a></li>
                <li><a href="https://twitter.com/NbuyProjeEgitim"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="https://www.instagram.com/niteliklibilisim/"><i class="ti-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal obf -->
<div class="modal fade" id="obf-modal" tabindex="-1" role="dialog" aria-labelledby="obfLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="obfLabel">Ön Bilgilendirme Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal terms -->
<div class="modal fade" id="mss-modal" tabindex="-1" role="dialog" aria-labelledby="mssLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mssLabel">Mesafeli Satış Sözleşmesi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /main_menu 2-->

<div class="search-overlay-menu">
    <span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
    <form onsubmit="return false;">
        <input value="" name="q" type="search" placeholder="Ara..." id="input-hidden-search" />
        <button type="button" id="btn-hidden-search">
            <i class="icon_search"></i>
        </button>
    </form>
</div><!-- End Search Menu -->