<div id="cookie-bar" class="fixed bottom">
    <p>Kullanıcı deneyimini iyileştirmek için çerez kullanıyoruz.<a id="btn-cookie-agree" role="button" class="cb-enable">Kabul Ediyorum</a><a id="btn-cookie-privacy-policy" role="button" class="cb-policy">Gizlilik Politikası</a></p>
</div>