<div class="modal modal--wizard" id="egitimSihirbazi">
    <div class="modal__close js-close-modal">
        <span class="icon-outer">
            <svg class="icon">
                <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
            </svg>
        </span>
    </div>
    <div class="swiper-container modal--wizard__slider js-wizard-slider">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="modal--wizard__content">
                    <div class="modal__content">
                        <img src="../../assets/img/training-wizard.jpg" class="v-desktop" alt="">
                        <img src="../../assets/img/training-wizard-mobile.jpg" class="v-tablet" alt="">
                        <div class="modal--wizard__title">
                            <span class="colored-blue">EĞİTİM</span> SİHİRBAZI
                        </div>
                        <div class="modal--wizard__txt">
                            Size en uygun proje eğitimlerini birlikte bulalım!
                        </div>
                    </div>

                    <footer class="modal__footer">
                        <div class="modal--wizard__btn">
                            <a class="button button-fw button-icon-right button-big js-wizard-next actived">
                                <span class="button-txt">
                                    Eğitim Sihirbazına Git
                                </span>
                                <span class="button-icon">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </footer>
                </div>
            </div>
            @*<div class="swiper-slide">
                <div class="modal--wizard__content">
                    <header class="modal__header">
                        <div class="modal--wizard__categories-title">
                            İlgilendiğiniz bir eğitim kategorisi seçiniz
                        </div>
                    </header>

                    <div class="modal__content">
                        <div class="modal--wizard__categories">
                            <div class="modal--wizard__categori-item js-wizard-categori webmobilprogramlama" data-id="webmobilprogramlama">
                                <span class="icon-outer modal--wizard__categori-icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-window-code"></use>
                                    </svg>
                                </span>
                                <div class="modal--wizard__categori-title">Web ve Mobil <br> Programlama</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item js-wizard-categori sistemagyonetim" data-id="sistemagyonetimi">
                                <span class="icon-outer modal--wizard__categori-icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-system-network"></use>
                                    </svg>
                                </span>
                                <div class="modal--wizard__categori-title">Sistem ve Ağ<br> Yönetimi</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item js-wizard-categori siberguvenlik" data-id="siberguvenlik">
                                <span class="icon-outer modal--wizard__categori-icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-azure"></use>
                                    </svg>
                                </span>
                                <div class="modal--wizard__categori-title">Siber <br>Güvenlik</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item js-wizard-categori bulutbilisim" data-id="bulutbilisim">
                                <span class="icon-outer modal--wizard__categori-icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-microsoft-azure"></use>
                                    </svg>
                                </span>
                                <div class="modal--wizard__categori-title">Bulut <br>Bilişim</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item js-wizard-categori oyunprogramlama" data-id="oyunprogramlama">
                                <span class="icon-outer modal--wizard__categori-icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-unity"></use>
                                    </svg>
                                </span>
                                <div class="modal--wizard__categori-title">Oyun <br>Programlama</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item js-wizard-categori kurumsalkaynakplanlama"  data-id="kurumsalkaynakplanlama">
                                <span class="icon-outer modal--wizard__categori-icon">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-dynamics"></use>
                                    </svg>
                                </span>
                                <div class="modal--wizard__categori-title">Kurumsal Kaynak<br>Planlama</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>

                    <footer class="modal__footer">
                        <div class="modal--wizard__btn with-txt">
                            <span class="modal--wizard__btn-txt">
                                *En fazla 3 kategori seçebilirsiniz.
                            </span>
                            <a class="button button-icon-right button-big js-wizard-next ">
                                <span class="button-txt">
                                    Devam et
                                </span>
                                <span class="button-icon">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </footer>
                </div>
            </div>*@
            @*<div class="swiper-slide">
                <div class="modal--wizard__content">
                    <header class="modal__header">
                        <div class="modal--wizard__categories-title">
                            Web ve Mobil Programlama kategorisinde <br>
                            hangi alanda uzmanlaşmak istersiniz ?
                        </div>
                    </header>

                    <div class="modal__content">
                        <div class="modal--wizard__categories with-txt">
                            <div class="modal--wizard__categori-item with-txt js-wizard-categori">
                                <div class="modal--wizard__categori-title">Vue</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item with-txt js-wizard-categori">
                                <div class="modal--wizard__categori-title">C#</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item with-txt js-wizard-categori">
                                <div class="modal--wizard__categori-title">React</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item with-txt js-wizard-categori">
                                <div class="modal--wizard__categori-title">Unity 3D</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item with-txt js-wizard-categori">
                                <div class="modal--wizard__categori-title">Java</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="modal--wizard__categori-item with-txt js-wizard-categori">
                                <div class="modal--wizard__categori-title">Android Web development</div>
                                <span class="modal--wizard__categori-check">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-check"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>

                    <footer class="modal__footer">
                        <div class="modal--wizard__btn with-txt">
                            <span class="modal--wizard__btn-txt">
                                *En fazla 3 kategori seçebilirsiniz.
                            </span>
                            <a class="button button-icon-right button-big js-wizard-next ">
                                <span class="button-txt">
                                    Devam et
                                </span>
                                <span class="button-icon">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </footer>
                </div>
            </div>*@
            @*<div class="swiper-slide">
                <div class="modal--wizard__content">
                    <header class="modal__header">
                        <div class="modal--wizard__categories-title">
                            C# konusunda ne kadar bilgi sahabisiniz ?
                        </div>
                    </header>

                    <div class="modal__content">
                        <div class="modal--wizard__categories with-radio">
                            <div class="modal--wizard__categori-item with-radio js-wizard-level">
                                <span class="modal--wizard__categori-radio">
                                </span>
                                <div class="modal--wizard__categori-title">Ön bilgim yok.</div>
                            </div>
                            <div class="modal--wizard__categori-item with-radio js-wizard-level">
                                <span class="modal--wizard__categori-radio">
                                </span>
                                <div class="modal--wizard__categori-title">Biraz bilgim var. Araştırma yaptım.</div>
                            </div>
                            <div class="modal--wizard__categori-item with-radio js-wizard-level">
                                <span class="modal--wizard__categori-radio">
                                </span>
                                <div class="modal--wizard__categori-title">Uygulamalarım var. Bilgi sahibiyim.</div>
                            </div>
                        </div>
                    </div>

                    <footer class="modal__footer">
                        <div class="modal--wizard__btn with-txt">
                            <span class="modal--wizard__btn-txt">
                                *Lütfen bir seçenek seçiniz.
                            </span>
                            <a class="button button-icon-right button-big js-wizard-next ">
                                <span class="button-txt">
                                    Devam et
                                </span>
                                <span class="button-icon">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </footer>
                </div>
            </div>*@
            @*<div class="swiper-slide">
                <div class="modal--wizard__content">
                    <header class="modal__header">
                        <div class="modal--wizard__categories-title">
                            Sizin için önerilen kurslar!
                        </div>
                    </header>

                    <div class="modal__content">
                        <div class="wizard-loading">
                            <div class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                                </svg>
                            </div>
                            <div class="wizard-loading__txt">
                                Sizin için önerilen kurslar hazırlanıyor.
                            </div>
                        </div>
                        <div class="modal--wizard__prices wizard-loaded">
                            <a href="egitim-detay.php" class="lesson-list__item">
                                <div class="lesson-list__item-img">
                                    <img src="../../assets/img/cardimg1.jpg" alt="">
                                </div>
                                <div class="lesson-list__item-cnt">
                                    <div class="lesson-list__item-left">
                                        <div class="lesson-list__item-title">
                                            Active Directory Sertifika Servisleri
                                        </div>
                                        <div class="lesson-list__item-txt">
                                            Bu eğitim; yereldeki sunucularda çalışan uygulamaların, sunucularda arıza meydana gelse dahi
                                            devamlı
                                            erişilebilir
                                        </div>
                                    </div>
                                    <div class="lesson-list__item-right">
                                        <div class="lesson-list__item-date">
                                            <span class="icon-outer">
                                                <svg class="icon">
                                                    <use xlink:href="../../assets/img/icons.svg#icon-clock"></use>
                                                </svg>
                                            </span>
                                            3 gün ( 12 saat )
                                        </div>
                                        <div class="lesson-list__item-price">
                                            <span>₺</span> 800,00
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="egitim-detay.php" class="lesson-list__item">
                                <div class="lesson-list__item-img">
                                    <img src="../../assets/img/cardimg2.jpg" alt="">
                                </div>
                                <div class="lesson-list__item-cnt">
                                    <div class="lesson-list__item-left">
                                        <div class="lesson-list__item-title">
                                            Active Directory Sertifika Servisleri
                                        </div>
                                        <div class="lesson-list__item-txt">
                                            Bu eğitim; yereldeki sunucularda çalışan uygulamaların, sunucularda arıza meydana gelse dahi
                                            devamlı
                                            erişilebilir
                                        </div>
                                    </div>
                                    <div class="lesson-list__item-right">
                                        <div class="lesson-list__item-date">
                                            <span class="icon-outer">
                                                <svg class="icon">
                                                    <use xlink:href="../../assets/img/icons.svg#icon-clock"></use>
                                                </svg>
                                            </span>
                                            3 gün ( 12 saat )
                                        </div>
                                        <div class="lesson-list__item-price">
                                            <span>₺</span> 800,00
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <footer class="modal__footer">
                        <div class="modal--wizard__btn">
                            <a asp-controller="Course" asp-action="List" class="button button-icon-right button-fw button-big">
                                <span class="button-txt">
                                    Daha fazla kurs görüntüle
                                </span>
                                <span class="button-icon">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </footer>
                </div>
            </div>*@
        </div>
    </div>
</div>