@model List<NitelikliBilisim.Core.ViewModels.Main.Profile.MyCertificateVm>
@using NitelikliBilisim.Core.Services.Abstracts
@inject IStorageService StorageService
@using NitelikliBilisim.App.Utility
@{
    ViewData["Title"] = "Sertifikalarım";
    Layout = "~/Views/Shared/_LayoutHesap.cshtml";
}

<section class="account account--dashboard">
    <div class="account-mobile__top">
        <a asp-controller="UserProfile" asp-action="MyMenu" class="account-mobile__prev">
            <span class="icon-outer">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                </svg>
            </span>
        </a>
        <span class="account-mobile__txt">
            SERTİFİKALARIM
        </span>
    </div>
    <div class="container">
        <div class="account__wrp">
            @await Component.InvokeAsync("MyAccountSidebar", AccountSideBarPageNames.MyCertificates)
            <div class="account-content">
                <div class="account-detail">
                    <div class="account-detail__wrp">
                        <div class="account-detail__title">
                            SERTİFİKALARIM
                        </div>
                        <div>
                            <p>Tamamladığınız eğitimlere ait sertifikaları bu alandan indirebilirsiniz.</p>
                        </div>
                        <div class="account-courses certificate">
                            <div class="account-courses__top">
                                <div class="account-courses__top-course">
                                    SERTİFİKA
                                </div>
                                <div class="account-courses__top-item certificate-name">
                                    KURS ADI
                                </div>
                                <div class="account-courses__top-item dated">
                                    EĞİTİM TARİHİ
                                </div>
                                <div class="account-courses__top-item downloaded">
                                    İNDİR
                                </div>
                            </div>
                            <div class="account-courses__wrp">
                                @foreach (var certificate in Model)
                                {
                                        <div class="account-courses__item">
                                            <a href="#0" class="account-courses__item-cnt">
                                                <div class="account-courses__item-img">
                                                    <img src="@(StorageService.BlobUrl+certificate.EducationImageUrl)" alt="">
                                                </div>
                                            </a>
                                            <div class="account-courses__item-item certificate-name">
                                                @certificate.EducationName
                                            </div>
                                            <div class="account-courses__item-item dated">
                                                @certificate.EducationDateText
                                            </div>
                                            <div class="account-courses__item-item downloaded">
                                               <a asp-controller="UserProfile" asp-action="DownloadStudentCertificate" asp-route-groupId="@certificate.GroupId" class="button button-fw button-icon-right">
                                                        <span class="button-txt">PDF İndir</span>
                                                        <span class="button-icon">
                                                            <span class="icon-outer">
                                                                <svg class="icon">
                                                                    <use xlink:href="../../assets/img/icons.svg#icon-long-arrow"></use>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </a>
                                                    @*<a class="button button-fw button-yellow button-icon-right">
                                                        <span class="button-txt">Hazırlanıyor</span>
                                                        <span class="button-icon">
                                                            <span class="icon-outer">
                                                                <svg class="icon">
                                                                    <use xlink:href="../../assets/img/icons.svg#icon-clock"></use>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </a>*@
                                                
                                            </div>
                                        </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="js-tooltip tooltip tooltip-top account-dashboard__started-tooltip">
    <div class="tooltip__title">
    </div>
</div>
