@import '../utilities/variables';

.sss {
  padding-top: 100px;
  padding-bottom: 100px;

  @include bp(tablet-small) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__wrp {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;

    @include bp(tablet-small) {
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;

      .sss__left-line {
        display: none;
      }
    }
  }

  &__left {
    width: 300px;
    margin-right: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include bp(desktop) {
      margin-right: 50px;
    }

    @include bp(tablet-big) {
      width: 200px;
      margin-right: 50px;
    }

    @include bp(tablet-small) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }

    &-wrp {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    &-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;
      flex-shrink: 0;
      color: #9db0cb;
      display: flex;
      font-size: 20px;
      margin-right: 20px;
      align-items: center;
      justify-content: center;

      @include bp(tablet-small) {
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }
    }

    &-title {
      font-weight: 700;
      color: $colorNavyBlue;
      position: relative;
      top: 1px;

      @include bp(tablet-small) {
        br {
          display: none;
        }
      }
    }

    &-line {
      width: 1px;
      height: 100%;
      background: $c-softBorder;
      margin-left: 25px;
      position: relative;
      top: 25px;
    }
  }

  &__accordion {
    width: 100%;
  }
}